<div class="flex items-center" mat-dialog-title>
  <h2
    class="headline m-0 flex-auto">
    {{CONSTANT_NAME_CONFIRMATION}}
  </h2>
  <button
    class="text-secondary"
    mat-dialog-close
    mat-icon-button
    type="button">
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>
<mat-divider class="text-border"></mat-divider>
<mat-dialog-content
  class="items-start justify-start gap-6 overflow-x-hidden">
  <div class="flex items-center pt-2">
    <h3
      class="title m-0 flex-auto items-start justify-start">
      {{ message }} {{TWO_POINT_}} {{this.defaults?.keyWord}}
    </h3>
  </div>
  <form (ngSubmit)="validateClearInformation()" [formGroup]="form">
    <div class="p-2 flex flex-col gap-4">
      <div class="flex flex-col">
        <mat-form-field class="flex-1">
          <input formControlName="clearData" matInput required />
          <mat-error *ngIf="form.controls.clearData.hasError('required') || validateInputClearInformation">
            {{CONSTANT_MSG_ERROR_CLEAR_INFORMATION}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">Cancelar</button>
      <button
        [disabled]="validateInputClearInformation"
        color="primary"
        mat-flat-button
        type="submit">
        Aceptar
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>

