<section class="h-full">
  <ng-content></ng-content>
  <div class="swiper h-full">
    <div class="swiper-wrapper">
      @for (image of images(); let index = $index; track index) {
        <div class="swiper-slide relative">
          @if (showDateTaken() && image.date) {
            <div
              class="absolute top-4 right-4 z-10 shadow-md shadow-black bg-slate-300 bg-opacity-80 px-3 py-1.5 rounded"
            >
              <span class="text-sm font-semibold text-slate-700">
                {{ image.date | date: "dd/MM/yyyy HH:mm" }}
              </span>
            </div>
          }
          <div class="flex justify-end gap-2 absolute z-10 top-4 right-4">
            @if (rotateButton()) {
              <button
                mat-mini-fab
                aria-label="Rotar imagen"
                matTooltip="Rotar imagen"
                color="accent"
                tabindex="-1"
                (click)="rotateImage(image.name)"
              >
                <mat-icon svgIcon="mat:rotate_right"></mat-icon>
              </button>
            }
            @if (deleteButton()) {
              <button
                mat-mini-fab
                aria-label="Eliminar imagen"
                matTooltip="Eliminar imagen"
                color="warn"
                tabindex="-1"
                (click)="onDeleteImage(image.url)"
              >
                <mat-icon svgIcon="mat:delete"></mat-icon>
              </button>
            }
          </div>
          <img
            [id]="image.name"
            [src]="image.url"
            [alt]="image.name"
            class="block h-full w-auto max-w-full object-contain shadow-md shadow-black"
            data-rotate="0"
          />
          @if (showNames()) {
            <div
              class="absolute bottom-8 left-2 right-2 text-center shadow-md shadow-black bg-slate-300 bg-opacity-80 p-2 rounded"
            >
              <h2 class="text-lg text-slate-700 truncate">{{ image.name }}</h2>
            </div>
          }
        </div>
      }
    </div>

    @if (images().length > 1) {
      <div class="swiper-pagination"></div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    }
  </div>
</section>
