<div class="bg-pattern w-screen h-screen flex items-center justify-center">
  <div
    [@fadeInUp]
    class="card bg-blue-100 overflow-hidden w-full max-w-md"
  >
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img
          alt="IT Support"
          class="w-16"
          src="../../../../assets/img/illustrations/it_support.svg"
        />
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Cambiar Contraseña</h2>
      <h4 class="body-2 text-secondary m-0">
        Introduce tu nueva contraseña a continuación.
      </h4>
    </div>

    <div
      [formGroup]="form()"
      class="p-6 flex flex-col"
    >
      <mat-form-field>
        <mat-label>Nueva Contraseña</mat-label>
        <input
          formControlName="password"
          [type]="inputTypePassword()"
          matInput
          required
        />
        <button
          (click)="toggleVisibility('password')"
          mat-icon-button
          matIconSuffix
          matTooltip="Toggle Visibility"
          type="button"
        >
          <mat-icon
            [svgIcon]="
              inputTypePassword() === 'password'
                ? 'mat:visibility'
                : 'mat:visibility_off'
            "
          ></mat-icon>
        </button>
        @if (form().get("password")?.hasError("required")) {
          <mat-error>La contraseña es obligatoria.</mat-error>
        }
        @if (form().get("password")?.hasError("minlength")) {
          <mat-error>La contraseña debe tener al menos 8 caracteres.</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirmar Contraseña</mat-label>
        <input
          formControlName="password_confirm"
          [type]="inputTypeConfirmPassword()"
          matInput
          required
        />
        <button
          (click)="toggleVisibility('confirmPassword')"
          mat-icon-button
          matIconSuffix
          matTooltip="Toggle Visibility"
          type="button"
        >
          <mat-icon
            [svgIcon]="
              inputTypeConfirmPassword() === 'password'
                ? 'mat:visibility'
                : 'mat:visibility_off'
            "
          ></mat-icon>
        </button>
        @if (form().get("password_confirm")?.hasError("required")) {
          <mat-error
            >La confirmación de la contraseña es obligatoria.</mat-error
          >
        }
      </mat-form-field>

      @if (
        form().hasError("passwordMismatch") &&
        form().get("password_confirm")?.touched
      ) {
        <mat-error class="text-center mb-2">
          Las contraseñas no coinciden.
        </mat-error>
      }

      <button
        (click)="send()"
        class="mt-2"
        color="primary"
        mat-raised-button
        type="button"
        [disabled]="form().invalid"
      >
        Cambiar Contraseña
      </button>

      <button
        (click)="back()"
        class="mt-2"
        color="white"
        mat-raised-button
        type="button"
      >
        Regresar
      </button>
    </div>
  </div>
</div>
