<div class="flex justify-between">
  <h2 matDialogTitle>Autoavalúo</h2>
  <button
    mat-icon-button
    tabindex="-1"
    mat-dialog-close
  >
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>

<mat-divider class="bg-slate-400"></mat-divider>

<mat-dialog-content>
  <app-dynamic-forms
    [inputs]="formInputJson()"
    (formReady)="autoAppraisalForm.set($event)"
  ></app-dynamic-forms>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <section class="flex gap-4">
    <button
      mat-flat-button
      color="primary"
      (click)="sendAppraisalForm()"
    >
      Aceptar
    </button>
    <button
      mat-flat-button
      color="warn"
      mat-dialog-close
    >
      Cancelar
    </button>
  </section>
</mat-dialog-actions>
