<div class="video-background">
  <video
    #bgVideo
    autoplay
    muted
    [loop]="!isMultipleVideos"
    playsinline
    id="bg-video"
    (loadedmetadata)="onVideoLoaded()"
    (ended)="onVideoEnded()"
  >
    <source
      [src]="currentVideo"
      type="video/mp4"
    />
    Tu navegador no soporta video HTML5.
  </video>
</div>

<div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
  <div
    @fadeInUp
    class="card overflow-hidden w-full max-w-md"
  >
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <h1 class="title m-0">Bienvenido</h1>
        <br />
        <img
          class="logo-large"
          src="../../../../assets/img/logo/logo_sismas.png"
          alt="logo"
        />
      </div>
    </div>

    <div class="text-center mt-4">
      <h4 class="body-2 text-secondary m-0">
        Inicia sesión con tus credenciales para continuar.
      </h4>
    </div>

    <div
      [formGroup]="form"
      class="p-6 flex flex-col gap-4"
    >
      <div class="flex flex-col">
        <mat-form-field class="flex-1">
          <mat-label>Usuario</mat-label>
          <input
            formControlName="email"
            matInput
            required
          />
          @if (form.controls["email"].hasError("required")) {
            <mat-error>
              Se necesita un usuario válido para iniciar sesión
            </mat-error>
          }
        </mat-form-field>
        <br />

        <mat-form-field class="flex-1">
          <mat-label>Contraseña</mat-label>
          <input
            [type]="inputType"
            formControlName="password"
            matInput
            required
          />
          <button
            (click)="toggleVisibility()"
            mat-icon-button
            matIconSuffix
            matTooltip="Toggle Visibility"
            type="button"
          >
            @if (visible) {
              <mat-icon svgIcon="mat:visibility"></mat-icon>
            } @else {
              <mat-icon svgIcon="mat:visibility_off"></mat-icon>
            }
          </button>
          <mat-hint>Haga clic en el ojo para cambiar la visibilidad</mat-hint>
          <mat-error *ngIf="form.controls['password'].hasError('required')">
            Se necesita una contraseña para iniciar sesión
          </mat-error>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between">
        <mat-checkbox
          class="caption"
          color="primary"
          >Recuérdame</mat-checkbox
        >
        <a
          [routerLink]="['/auth/forgot-password']"
          class="caption"
          >¿Olvidaste la contraseña?</a
        >
      </div>
      @if (loading()) {
        <div class="flex justify-center items-center">
          <mat-spinner diameter="40"></mat-spinner>
        </div>
      } @else {
        <button
          (click)="send()"
          color="primary"
          style="background-color: #1a3a45"
          mat-raised-button
          type="button"
        >
          Ingresar
        </button>
      }
      <div
        class="flex flex-col items-center justify-center"
        [class.p-6.pb-0]="
          logoPathGeogestion !== 'assets/img/logo/QuindioBottom.png'
        "
      >
        <div class="fill-current text-center w-full max-w-4xl space-y-6">
          @if (logoPathMasora !== "") {
            <div class="flex justify-center">
              <img
                class="h-20 w-auto object-contain"
                [attr.src]="logoPathMasora"
                alt="logo masora"
              />
            </div>
          }
          <div
            class="grid grid-cols-1 lg:grid-cols-2 gap-6 justify-items-center"
            [class.gap-6]="
              logoPathGeogestion !== 'assets/img/logo/QuindioBottom.png'
            "
          >
            @if (seeLogoRetiro) {
              <img
                class="h-20 w-auto object-contain"
                [attr.src]="logoPathAlter"
                alt="logo retiro"
              />
            }

            <img
              class="h-20 w-auto object-contain"
              [attr.src]="logoPath"
              [class.h-20]="logoPath !== 'assets/img/logo/QuindioBottom.png'"
              [class.col-span-full]="
                !seeLogoRetiro &&
                logoPathGeogestion !== 'assets/img/logo/logo_manizales_2.png'
              "
              alt="logo principal"
            />

            @if (logoPathGeogestion !== "") {
              <img
                class="w-auto object-contain"
                [class.h-20]="
                  logoPathGeogestion !== 'assets/img/logo/QuindioBottom.png'
                "
                [class.col-span-full]="
                  logoPathGeogestion === 'assets/img/logo/QuindioBottom.png'
                "
                [attr.src]="logoPathGeogestion"
                alt="logo geogestion"
              />
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
