<vex-page-layout [id]="this.id" mode="card" class="px-3 py-3">
  <vex-page-layout-content class="card w-full h-full">
    <div
      class="container w-full h-full flex flex-col overflow-hidden overflow-y-hidden overflow-x-hidden"
         vexMinFluidHeight [fluidHeight]="mode === 3 ? 200: fluidHeight" [overflowY]="'hidden'">
      <vex-dynamic-forms
        [inputs]="inputFormVisit"
        [initValues]="initRecognitionProperty()"
        (formReady)="form.set($event)"
        className="flex sm:flex-col overflow-hidden items-start"
        class="w-full py-4"
      ></vex-dynamic-forms>

      @if (existThirdPartyAffected()) {
        <h2 class="title mt-6 mb-4 flex items-center">
      <span
        @scaleIn
        class="w-10 h-10 rounded-full text-primary-600 mr-3 flex items-center justify-center bg-primary-600/10"
      >
        <mat-icon
          class="icon-sm"
          svgIcon="mat:vertical_split"
        ></mat-icon>
      </span>
          <span class="block"> Participantes </span>
        </h2>
        <vex-participant-table
          class="w-full h-full"
          [id]="'visualThirdPartyAffected' + executionId"
          [executionId]="executionId"
          [visualAllTable]="false"
          [thirdPartyAffected]="true"
        ></vex-participant-table>
      }

      <div class="w-100 p-0 items-center justify-center text-center">
        <button
          mat-raised-button
          class="grow max-w-xs px-6 py-5"
          color="primary"
          (click)="saveForm()">
          <mat-icon svgIcon="mat:save" class="!w-6 !h-6"></mat-icon>
          Guardar
        </button>
      </div>
    </div>
  </vex-page-layout-content>
</vex-page-layout>

<swal
  #invalidForm
  title="Formulario vacío"
  text="Se debe diligenciar al menos un campo del formulario."
  icon="error"
  confirmButtonText="Cerrar"
  confirmButtonColor="#3085d6"
></swal>

<swal
  #successSave
  title="Reconocimiento predial exitoso"
  text="Se ha guardo la información del reconocimiento predial"
  icon="success"
  confirmButtonText="Aceptar"
  confirmButtonColor="#3085d6"
></swal>
