<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2
      *ngIf="form.controls.firstName.value || form.controls.lastName.value"
      class="headline m-0 flex-auto">
      {{ form.controls.firstName.value + " " + form.controls.lastName.value }}
    </h2>
    <h2
      *ngIf="!form.controls.firstName.value && !form.controls.lastName.value"
      class="headline m-0 flex-auto">
      Crear persona
    </h2>

    <button
      [matMenuTriggerFor]="settingsMenu"
      class="text-secondary"
      mat-icon-button
      type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>

    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">
    <div class="mb-6">
      <vex-combox-colletion
        formControlNameCombobox="domIndividualType"
        name="domIndividualType"
        ubscriptSizing="dynamic"
        idComboCollection="typeNumberDocument"
        label="Tipo de persona"
        typeDomainName="IndividualType"
        placeholderDomainName="Selecciona el tipo de persona&hellip;"></vex-combox-colletion>
    </div>

    <div class="flex flex-col sm:flex-row mb-3 input__100">
      <vex-combox-colletion
        formControlNameCombobox="domIndividualTypeNumber"
        ubscriptSizing="dynamic"
        idComboCollection="typeNumberDocument"
        label="Tipo de documento"
        typeDomainName="IndividualTypeNumber"
        placeholderDomainName="Seleccionar tipo documento&hellip;"></vex-combox-colletion>

      <mat-form-field class="sm:ml-6">
        <mat-label>Número documento</mat-label>
        <input formControlName="number" matInput />
      </mat-form-field>

      <button
        color="primary"
        aria-label=""
        type="button"
        mat-flat-button
        class="ml-4 flex-none"
        (click)="personRegister()">
        Buscar
      </button>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Nombre</mat-label>
        <input formControlName="firstName" matInput name="firstName" />
      </mat-form-field>
      <mat-form-field class="flex-auto sm:ml-6">
        <mat-label>Segundo nombre</mat-label>
        <input formControlName="middleName" matInput name="middleName" />
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Apellido</mat-label>
        <input formControlName="lastName" matInput name="lastName" />
      </mat-form-field>
      <mat-form-field class="flex-auto sm:ml-6">
        <mat-label>Segundo apellido</mat-label>
        <input formControlName="otherLastName" matInput name="otherLastName" />
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Nombre compañía</mat-label>
        <input formControlName="companyName" matInput name="companyName" />
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row mb-3">
      <vex-combox-colletion
        class="flex-auto"
        formControlNameCombobox="domIndividualEthnicGroup"
        ubscriptSizing="dynamic"
        name="domIndividualEthnicGroup"
        idComboCollection="typeNumberDocument"
        label="Grupo étnico"
        typeDomainName="IndividualEthnicGroup"
        placeholderDomainName="Selecciona el grupo étnico&hellip;"></vex-combox-colletion>

      <div class="flex-auto">
        <vex-combox-colletion
          formControlNameCombobox="domIndividualSex"
          ubscriptSizing="dynamic"
          name="domIndividualSex"
          idComboCollection="typeNumberDocument"
          label="sexo"
          typeDomainName="IndividualSex"
          placeholderDomainName="Seleccionar tipo género&hellip;"></vex-combox-colletion>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button
      *ngIf="isCreateMode()"
      color="primary"
      mat-flat-button
      type="submit">
      Crear usuario
    </button>
    <button
      *ngIf="isUpdateMode()"
      color="primary"
      mat-flat-button
      type="submit">
      Actualizar usuario
    </button>
  </mat-dialog-actions>
  <div *ngIf="menssage?.status" class="alert-danger alert-menssage">
    <p>{{ menssage.value }}</p>
  </div>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon svgIcon="mat:print"></mat-icon>
    <span>Imprimir</span>
  </button>

  <button mat-menu-item>
    <mat-icon svgIcon="mat:download"></mat-icon>
    <span>Exportar</span>
  </button>

  <button mat-menu-item>
    <mat-icon svgIcon="mat:delete"></mat-icon>
    <span>Borrar</span>
  </button>
</mat-menu>
