mat-expansion-panel-header.mat-expanded,
mat-expansion-panel-header.mat-expanded:focus {
  background-color: rgb(var(--vex-background-app-bar-rgb) / var(--tw-bg-opacity));
}

.mat-expansion-panel:not(.mat-expanded),
.mat-expansion-panel-header:hover:not([aria-disabled="true"]) {;
  background-color: rgb(var(--vex-background-app-bar-rgb) / var(--tw-bg-opacity));
}

.mat-expansion-panel .mat-expanded,
.mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background-color: rgb(var(--vex-background-app-bar-rgb) / var(--tw-bg-opacity));
}

::ng-deep div.mat-expansion-panel-body {
  padding: 0;
}

.form-content {
  @apply flex flex-wrap gap-1 justify-between w-full pb-4;
  & > * {
    width: calc(50% - 0.25rem);
  }

  .form-content-item {
    @apply my-2;
    width: calc(33% - 0.25rem);

    &.full {
      @apply w-full;
    }
  }
}

.form-inputs {
  @apply flex flex-wrap gap-1 justify-between w-full pt-4;
  & > * {
    width: calc(50% - 0.25rem);
  }
}

.buttons {
  @apply flex gap-2 justify-end py-2;
}
