<div class="flex items-center bg-app-bar focus-visible:bg-app-bar focus:bg-app-bar" mat-dialog-title>
  <h3 class="headline m-0 flex-auto">
    {{ dialogTitle }}
  </h3>
  <button
    class="text-secondary"
    mat-dialog-close
    mat-icon-button
    type="button">
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>
<mat-divider class="text-border"></mat-divider>

<mat-dialog-content class="items-start justify-between vex-layout-content vex-layout-content-custom">
  @if (!listChanges || listChanges.length <= 0) {
    <div class="w-full flex flex-col justify-between pt-2">
      <div class="no-data-information text-gray-500 text-lg">
        <h3 class="subheading-2 m-0 flex-auto">
          Información No disponible
        </h3>
      </div>
    </div>
  } @else {
    <div class="container-fluid overflow-hidden">
      @for (change of listChanges; track change) {
        <div class="flex flex-col container-fluid">
          <div class="card overflow-auto my-1 mx-2 py-2 px-4 mat-elevation-z3">
            <div class="w-full flex flex-col pt-0">
              <div class="flex justify-between gap-3">
                <div class="flex flex-auto text-left justify-start sm:min-w-[410px]">
                  <div class="w-full flex flex-row py-2">
                    <span class="title !text-black text-sm pr-5 min-w-[100px] sm:min-w-[85px]">Objeto:    </span>
                    <span class="text-sm"> {{ change.entity }}</span>
                  </div>
                </div>
                <div class="flex flex-auto text-left justify-start sm:min-w-[410px]">
                  <div class="w-full flex flex-row py-2">
                    <span class="title !text-black text-sm pr-5 min-w-[100px] sm:min-w-[85px]">Campo:    </span>
                    <span class="text-sm"> {{ change.field }}</span>
                  </div>
                </div>
                <div class="flex flex-col text-center item-center sm:min-w-[100px] xl:min-w-[85px]">


                  @if (change.operationType === 'CREATE') {
                    <div
                      class="rounded px-2 py-1 font-medium text-xs flex-none text-white bg-green-600">
                      Creado
                    </div>
                  }

                  @if (change.operationType === 'UPDATE') {
                    <div
                      class="rounded px-2 py-1 font-medium text-xs flex-none text-white bg-primary-600">
                       Actualizado
                    </div>
                  }

                  @if (change.operationType === 'DELETE') {
                    <div
                      class="rounded px-2 py-1 font-medium text-xs flex-none text-white bg-red-600">
                      Borrado
                    </div>
                  }

                </div>
              </div>
            </div>
            <div class="w-full flex flex-col pt-0">
              <div class="flex justify-between">
                <div class="flex flex-auto text-left justify-start">
                  <div class="w-full flex flex-row py-1">
                    <span class="title !text-black text-sm pr-5 min-w-[100px] sm:min-w-[85px]">Antes:    </span>
                    <span class="text-sm"> {{ change.oldValue }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full flex flex-col pt-0">
              <div class="flex justify-between">
                <div class="flex flex-auto text-left justify-start">
                  <div class="w-full flex flex-row py-1">
                    <span class="title !text-black text-sm pr-5 min-w-[100px] sm:min-w-[85px]">Después:    </span>
                    <span class="text-sm"> {{ change.newValue }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</mat-dialog-content>
