.custom-snackbar {
    background-color: #ecff40; /* Color de fondo */
    color: rgb(0, 0, 0); /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
  }
  
 /* Estilos del contenido del modal */
