<div
  class="flex items-center bg-app-bar focus-visible:bg-app-bar focus:bg-app-bar"
  mat-dialog-title
>
  <h3 class="headline m-0 flex-auto">Información general de la construcción</h3>
  <button
    class="text-secondary"
    mat-dialog-close
    mat-icon-button
    type="button"
  >
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>

<mat-divider class="text-border"></mat-divider>

<mat-dialog-content
  class="items-start justify-start gap-6 bg-foreground overflow-x-hidden"
>
  <!-- Detalle de la construcción -->
  <mat-accordion class="flex flex-col py-0 px-0 mb-2">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header
        class="bg-app-bar pb-0 py-1 border-b sticky left-0 flex items-center"
      >
        <div class="w-full px-0 py-0 flex items-center">
          <h2 class="title m-0 text-center w-full">Detalle</h2>
        </div>
      </mat-expansion-panel-header>
      <mat-panel-description class="py-0 px-0">
        <div class="w-full flex flex-col justify-between py-2">
          <div class="flex justify-between">
            <div class="flex flex-col gap-1">
              <span class="text-black capitalize text-sm">Id</span>
              <span class="text-black capitalize text-sm">Área total</span>
              <span class="text-black capitalize text-sm">Piso</span>
              <span class="text-black capitalize text-sm">Avalúo</span>
            </div>
            <div class="flex flex-col gap-1">
              @if (
                constructionData !== null &&
                constructionData !== undefined &&
                constructionData.unitBuiltLabel
              ) {
                <span class="text-sm">{{
                  constructionData.unitBuiltLabel
                }}</span>
              } @else {
                <span class="text-sm">{{ NAME_NO_DISPONIBLE }}</span>
              }
              @if (
                constructionData !== null &&
                constructionData !== undefined &&
                constructionData.unitBuiltAreaE
              ) {
                <span class="text-sm">{{
                  constructionData.unitBuiltAreaE
                }}</span>
              } @else {
                <span class="text-sm">{{ NAME_NO_DISPONIBLE }}</span>
              }
              @if (
                constructionData !== null &&
                constructionData !== undefined &&
                constructionData.unitBuiltFloors
              ) {
                <span class="text-sm">{{
                  constructionData.unitBuiltFloors
                }}</span>
              } @else {
                <span class="text-sm">{{ NAME_NO_DISPONIBLE }}</span>
              }
              @if (
                constructionData !== null &&
                constructionData !== undefined &&
                constructionData.unitBuiltValuation
              ) {
                <span class="text-sm">{{
                  constructionData.unitBuiltValuation
                }}</span>
              } @else {
                <span class="text-sm">{{ NAME_NO_DISPONIBLE }}</span>
              }
            </div>
            <div class="flex flex-col gap-1">
              <span class="text-black capitalize text-sm">Tipo</span>
              <span class="text-black capitalize text-sm">Puntaje</span>
              <span class="text-black capitalize text-sm">Año</span>
              <span class="text-black capitalize text-sm">Valor m2</span>
            </div>
            <div class="flex flex-col gap-1">
              @if (
                constructionData !== null &&
                constructionData !== undefined &&
                constructionData.domBuiltType
              ) {
                <span class="text-sm">{{ constructionData.domBuiltType }}</span>
              } @else {
                <span class="text-sm">{{ NAME_NO_DISPONIBLE }}</span>
              }
              @if (
                constructionData !== null &&
                constructionData !== undefined &&
                constructionData.unitBuiltScore
              ) {
                <span class="text-sm">{{
                  constructionData.unitBuiltScore
                }}</span>
              } @else {
                <span class="text-sm">{{ NAME_NO_DISPONIBLE }}</span>
              }
              @if (
                constructionData !== null &&
                constructionData !== undefined &&
                constructionData.unitBuiltYear
              ) {
                <span class="text-sm">{{
                  constructionData.unitBuiltYear
                }}</span>
              } @else {
                <span class="text-sm">{{ NAME_NO_DISPONIBLE }}</span>
              }
              @if (
                constructionData !== null &&
                constructionData !== undefined &&
                constructionData.unitBuiltValuationM2
              ) {
                <span class="text-sm">{{
                  constructionData.unitBuiltValuationM2
                }}</span>
              } @else {
                <span class="text-sm">{{ NAME_NO_DISPONIBLE }}</span>
              }
            </div>
            <div class="flex flex-col gap-1">
              <span class="text-black capitalize text-sm">Uso</span>
              <span class="text-black capitalize text-sm">Área privada</span>
              <span class="text-black capitalize text-sm">Observación</span>
              <span class="text-black capitalize text-sm">Tipología</span>
            </div>
            <div class="flex flex-col gap-1">
              @if (
                constructionData !== null &&
                constructionData !== undefined &&
                constructionData.domBuiltUse
              ) {
                <span class="text-sm">{{ constructionData.domBuiltUse }}</span>
              } @else {
                <span class="text-sm">{{ NAME_NO_DISPONIBLE }}</span>
              }
              @if (
                constructionData !== null &&
                constructionData !== undefined &&
                constructionData.unitBuiltPrivateArea
              ) {
                <span class="text-sm">{{
                  constructionData.unitBuiltPrivateArea
                }}</span>
              } @else {
                <span class="text-sm">{{ NAME_NO_DISPONIBLE }}</span>
              }
              @if (
                constructionData !== null &&
                constructionData !== undefined &&
                constructionData.unitBuiltObservation
              ) {
                <span class="text-sm">{{
                  constructionData.unitBuiltObservation
                }}</span>
              } @else {
                <span class="text-sm">{{ NAME_NO_DISPONIBLE }}</span>
              }
              @if (
                constructionData !== null &&
                constructionData !== undefined &&
                constructionData.domTipologiaTipo
              ) {
                <span class="text-sm">{{
                  constructionData.domTipologiaTipo
                }}</span>
              } @else {
                <span class="text-sm">{{ NAME_NO_DISPONIBLE }}</span>
              }
            </div>
          </div>
        </div>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Calificación de la construcción -->
  <mat-accordion class="flex flex-col py-0 px-0 mb-2">
    <mat-expansion-panel
      expanded="true"
      class="mat-expansion-panel-styled"
    >
      <mat-expansion-panel-header
        class="bg-app-bar pb-0 py-1 border-b sticky top-0 flex items-center"
      >
        <div class="w-full px-0 py-0 flex items-center">
          <h2 class="title m-0 text-center w-full">Calificación tradicional</h2>
        </div>
      </mat-expansion-panel-header>
      <mat-panel-description class="py-0 px-0">
        <div class="w-full flex flex-col pt-0">
          <!-- Mostrar mensaje si la lista está vacía -->
          @if (
            dataCalification === null ||
            dataCalification === undefined ||
            (dataCalification !== null && dataCalification.length <= 0)
          ) {
            <div class="flex justify-center items-center py-4">
              <p class="text-gray-500 text-lg">
                No hay calificaciones registradas para esta construcción.
              </p>
            </div>
          }

          <!-- Mostrar las calificaciones si existen -->
          @if (
            dataCalification !== null &&
            dataCalification !== undefined &&
            dataCalification.length > 0
          ) {
            <mat-grid-list
              [cols]="(isDesktop$ | async) ? 2 : 1"
              [rowHeight]="(isDesktop$ | async) ? '40px' : '48px'"
            >
              @for (calification of dataCalification; track calification) {
                <mat-grid-tile class="tile-content">
                  <div class="flex justify-start justify-start-detail">
                    <div class="flex flex-col gap-1">
                      <span class="text-black text-sm pr-3">
                        {{ calification.ccCalUBDom?.domain }} {{ ": " }}
                      </span>
                    </div>
                    <div class="flex flex-col gap-1">
                      @if (
                        calification !== null &&
                        calification !== undefined &&
                        calification.ccCalUBDom !== null &&
                        calification.ccCalUBDom !== undefined &&
                        calification.ccCalUBDom.dispname !== null &&
                        calification.ccCalUBDom.dispname !== undefined
                      ) {
                        <span class="text-sm pr-3">
                          {{ calification.ccCalUBDom.dispname }}
                        </span>
                      } @else {
                        <span class="text-sm">{{ NAME_NO_DISPONIBLE }}</span>
                      }
                    </div>
                  </div>
                </mat-grid-tile>
              }
            </mat-grid-list>
          }
        </div>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>
