<div class="card overflow-hidden min-h-[250px] shadow-md">
  <div
    (click)="openProtaskE.emit(protaskE)"
    class="p-4 py-2 text-center hover:bg-hover transition duration-400 ease-out-swift cursor-pointer relative"
    matRipple>
    <div class="flex flex-col items-center container px-0 h-20">
      <img [src]="URL_ICON_BASE + protaskE.icon" class="avatar h-20 w-20 mx-auto flex bg-transparent to-transparent" alt="" />
      <span class="text-center min-h-[40px] subheading-1 leading-none mt-4">
        @if (protaskE.proTask === null || protaskE.proTask === undefined || protaskE.proTask.processName == null) {
          {{ NAME_NO_DISPONIBLE }}
        } @else {
          {{ protaskE.proTask.processName | truncate: 70 }}
          <br>
          <br>
        }
      </span>
    </div>
    <br>
    <br>
    <br>
    <h4 class="subheading-1 leading-none mb-1 mt-1 items-center min-h-[80px]"
        title="{{ protaskE.proTask?.flowName }}">
      @if (protaskE.proTask === null || protaskE.proTask === undefined || protaskE.proTask.flowName == null) {
        {{ NAME_NO_DISPONIBLE }}
      } @else {
        {{ protaskE.proTask.flowName | truncate: 70 }}
      }
    </h4>
    <h5 class="subheading-1 leading-none mb-1 mt-1 items-center min-h-[20px]"
        title="{{ protaskE.proTask?.flowName }}">
      @if (protaskE.proTask === null || protaskE.proTask === undefined || protaskE.proTask.daysBeginS == null) {
        {{ NAME_NO_DISPONIBLE }}
      } @else {
        {{ protaskE.proTask.daysBeginS | truncate: 70 }}
      }
    </h5>
  </div>

  <div
  (click)="openDetailProtaskE.emit(protaskE.executionId)"
  class="bg-app-bar p-2 flex items-center justify-start cursor-pointer">
  <mat-icon
    style="margin: 4px;"
    class="ltr:mr-2 rtl:ml-2 icon-xs"
    svgIcon="mat:settings"></mat-icon>
  <span style="margin-left: 21px;" class=" pl-2 pr-2 pt-0 pb-0" (click)="viewDetallyTask(protaskE)">
    <span > {{ 'Detalle trámite'  }}   </span> <br>  
    {{  protaskE.proTask?.flowDetail }}
  </span>
</div>
</div>