<!-- <vex-secondary-toolbar current="Formulario">
  <vex-breadcrumbs
    [crumbs]="['Datos Abiertos', 'Búsqueda catastral (DA)']"
    class="flex-auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>
<vex-in-construction></vex-in-construction>
 -->

 <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
  <div class="w-full flex flex-col sm:flex-row justify-between px-6">
      <div>
          <h1 class="title mt-0 mb-1">Búsqueda catastral (DA)</h1>
          <vex-breadcrumbs
          [crumbs]="['Datos Abiertos', 'Búsqueda catastral (DA)']"
          ></vex-breadcrumbs>
      </div>
  </div>
</vex-page-layout-header>
<vex-comments></vex-comments>
