<!-- <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
  <div class="w-full flex flex-col sm:flex-row justify-between px-6">
      <div>
          <h1 class="title mt-0 mb-1">Búsqueda catastral (DA)</h1>
          <vex-breadcrumbs
          [crumbs]="['Datos abiertos', 'Búsqueda catastral (DA)']"
          ></vex-breadcrumbs>
      </div>
  </div>
</vex-page-layout-header>
<vex-comments></vex-comments> -->

<vex-table-cadastral-search [tituloPage]="titlePage" [rulePage]="rulePage"></vex-table-cadastral-search>
