@if (paragraphs()) {
  <main class="w-full h-full grid grid-cols-[70%_30%] p-4 overflow-y-hidden">
    <section class="h-full w-full flex flex-col justify-center items-center">
      @if (documentIsLoading()) {
        <div class="w-full h-full flex flex-col justify-center items-center">
          <mat-spinner diameter="60"></mat-spinner>
          <h2 class="text-xl text-center w-full font-bold text-slate-600 mt-4">
            Cargando documento...
          </h2>
        </div>
      } @else {
        @if (documentUrl()) {
          <iframe
            [src]="documentUrl()"
            class="w-full h-full min-h-[350px]"
          ></iframe>
        } @else {
          <h2 class="text-2xl text-center w-full font-bold text-slate-600">
            No hay documento disponible
          </h2>
        }
      }
    </section>
    <section
      class="h-full w-full border border-slate-600 flex flex-col gap-4 overflow-y-auto px-2 lg:px-4"
      [formGroup]="documentForm()"
    >
      <h2 class="w-full text-xl text-center font-semibold text-slate-600 mt-4">
        ¿Qué párrafos deseas incluir?
      </h2>
      <div class="flex flex-col justify-center items-start w-full">
        @if (paragraphs()!.length > 0) {
          @for (paragraph of paragraphs(); track paragraph.idStr) {
            <p>
              <mat-checkbox [formControlName]="paragraph.idStr">
                {{ paragraph.name | titlecase }}
              </mat-checkbox>
            </p>
            <div class="w-full mt-2">
              @if (documentForm().get(paragraph.idStr)?.value) {
                <mat-form-field
                  appearance="outline"
                  class="w-full"
                >
                  <mat-label>
                    Texto para {{ paragraph.name | titlecase }}
                  </mat-label>
                  <fieldset>
                    <textarea
                      matInput
                      placeholder="Escribe el texto que deseas incluir en el documento"
                      [formControlName]="paragraph.idStr + ' additionalText'"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="3"
                      cdkAutosizeMaxRows="5"
                    ></textarea>
                  </fieldset>
                </mat-form-field>
              }
            </div>
          }
          <div class="flex-auto w-full flex justify-center sticky bottom-0 pb-2 bg-slate-100">
            <button
              mat-raised-button
              color="primary"
              (click)="onAccept()"
            >
              Aceptar
            </button>
          </div>
        } @else {
          <h2 class="text-lg text-center w-full font-bold text-slate-600">
            No hay párrafos disponibles
          </h2>
        }
      </div>
    </section>
  </main>
} @else {
  <div class="w-full h-full flex flex-col justify-center items-center">
    <mat-spinner diameter="60"></mat-spinner>
    <h2 class="text-xl text-center w-full font-bold text-slate-600 mt-4">
      Cargando documento...
    </h2>
  </div>
}
