<app-modal-window [title]="title">
  @if (images().length > 0) {
    <app-carousel
      [rotateButton]="true"
      [images]="images()"
      [deleteButton]="edition()"
      (deleteImage)="deleteImage($event)"
    >
      @if (edition()) {
        <button
          mat-mini-fab
          color="primary"
          (click)="addImage()"
          class="absolute top-4 left-4 z-10"
        >
          <mat-icon svgIcon="mat:add"></mat-icon>
        </button>
      }
    </app-carousel>
  } @else {
    <div class="w-full py-8">
      <h2 class="text-center text-2xl text-slate-500 font-semibold">
        No hay información
      </h2>
    </div>
  }
</app-modal-window>
