<vex-page-layout
  [id]="this.id"
  mode="card"
  class="pb-0"
  *ngIf="isExistDataInformations$ | async"
>

  <vex-page-layout-content class="container-fluid px-1 py-1">
    <mat-tab-group class="overflow-hidden" dynamicHeight
                   animationDuration="500ms" preserveContent>

      <!-- Informacion alfanumerica -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon
            class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2"
            svgIcon="mat:archive"
          ></mat-icon>
          Información Alfanumérica
        </ng-template>
        <vex-alfa-main-information
          [executionId]="executionId"
          [resources]="resources"
          [mode]="mode"
        ></vex-alfa-main-information>
      </mat-tab>

      <!-- Mapa Geografico -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon
            class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2"
            svgIcon="mat:map"
          ></mat-icon>
          Mapa Geografico
        </ng-template>
        <div class="h-full flex flex-col container-fluid xl:px-1 xl:py-1 sm:px-3 sm:py-3" vexFluidHeight fluidHeight=197>
          <vex-geographic-viewer-embedded
            [idComponent]="id + 'vexGeographicViewerEmbeddedGeoTemporalTab'"
            [executionId]="executionIdGeo"
            [schema]="schema"
            [enableRefreshButton]="enableRefreshButton"
            vexFluidHeight fluidHeight=195
          ></vex-geographic-viewer-embedded>
        </div>
      </mat-tab>

    </mat-tab-group>

  </vex-page-layout-content>

</vex-page-layout>

<vex-loading-app
  *ngIf="(isExistDataInformations$ | async) === false"
  #vexSplashScreen
  idLoading="vexSplashScreen"
  [showImage]="true"
>
</vex-loading-app>
