<div class="flex justify-between items-center">
  <h2 mat-dialog-title>Cambiar contraseña</h2>
  <button
    mat-dialog-close="close"
    mat-icon-button
    type="button"
  >
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>
<mat-divider class="border-slate-400"></mat-divider>
<h2 class="text-center font-bold text-lg mt-4 text-slate-700">{{ fullName }}</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="flex flex-col">
    <mat-form-field>
      <mat-label>Antigua contraseña</mat-label>
      <input
        matInput
        formControlName="lastPassword"
        type="password"
        cdkFocusInitial
      />
      @if (invalidInput('lastPassword')) {
        <mat-hint>{{ lastPasswordError }}</mat-hint>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nueva contraseña</mat-label>
      <input
        matInput
        formControlName="newPassword"
        type="password"
      />
      @if (invalidInput('newPassword')) {
        <mat-hint>{{ newPasswordError }}</mat-hint>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirmar nueva contraseña</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        type="password"
      />
      @if (invalidInput('confirmPassword')) {
        <mat-hint>{{ confirmPasswordError }}</mat-hint>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center" class="gap-6">
  <button
    mat-raised-button
    color="primary"
    (click)="changePassword()"
  >
    Cambiar contraseña
  </button>
  <button
    mat-flat-button
    mat-dialog-close
    color="warn"
  >
    Cancelar
  </button>
</mat-dialog-actions>
