<div
  class="flex items-center"
  mat-dialog-title
>
  <h2 class="headline m-0 flex-auto">Buscar certificado</h2>
  
  <button
    class="text-secondary"
    mat-dialog-close
    mat-icon-button
    type="button"
  >
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>
<mat-divider class="text-border"></mat-divider>
<mat-dialog-content class="flex flex-col overflow-hidden">


      <vex-page-layout class="overflow-hidden">
        <vex-page-layout-content
          class="container-fluid p-0 overflow-hidden"
          style="padding-bottom: 0px"
        >


          <!--Búsqueda por círculo - matrícula / matrícula -->
          <!-- <form [formGroup]="formRegistration">
            <div class="flex flex-col sm:flex-row">
              <vex-input
                cssClasses="sm:ml-2 sm:mr-2 flex-1"
                label="Matrícula"
                type="text"
                idComboInput="registrationID"
                formControlNameInput="registration"
                icon="mat:assignment"
              ></vex-input>
              <div class="sm:ml-2 sm:mr-2 flex-auto">
                <button
                  color="primary"
                  mat-raised-button
                  type="button"
                  (click)="searchRegistrationNumber()"
                >
                  <mat-icon svgIcon="mat:search"></mat-icon>Buscar
                </button>
              </div>
            </div>
          </form> -->

          <form [formGroup]="formBaunitIdE">
            <h2 class="text-lg font-bold mb-2">
              Búsqueda por número de ficha
            </h2>
            <mat-form-field class="sm:ml-2 sm:mr-2 w-1/2">
              <mat-label>Número de ficha</mat-label>
              <input
                type="number"
                matInput
                formControlName="baunitIdE"
                class="[appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
              />
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              (click)="searchByBaunitIdE()"
            >
              <mat-icon svgIcon="mat:search"></mat-icon>Buscar
            </button>
          </form>
          <form [formGroup]="formNpnComplete">
            <h2 class="text-lg font-bold mb-2">Búsqueda por NPN completo</h2>
            <div class="flex flex-col sm:flex-row items-center mb-4">
              <mat-form-field class="sm:ml-2 sm:mr-2 w-1/2">
                <mat-label>Código Completo</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="codigoCompleto"
                  placeholder="Ingrese el código completo"
                />
              </mat-form-field>
              <button
                (click)="sendInformationTable()"
                color="primary"
                mat-flat-button
                class="ml-2"
              >
                <mat-icon svgIcon="mat:search"></mat-icon>
                Buscar
              </button>
            </div>
          </form>

          <!-- Búsqueda por documento y tipo -->
           <div *ngIf="seeRuleField">
             <form [formGroup]="formDocumentType">
              <h2 class="text-lg font-bold mb-2">Búsqueda por documento de identidad</h2>
               <div class="flex flex-col sm:flex-row gap-4">
                 <vex-combox-colletion
                   idComboCollection="typeNumberDocument"
                   label="Tipo de documento"
                   formControlNameCombobox="domIndividualTypeNumber"
                   typeDomainName="IndividualTypeNumber"
                   placeholderDomainName="Tipo de documento"
                 ></vex-combox-colletion>
   
                 <vex-input
                   cssClasses="sm:ml-2 sm:mr-2 flex-1"
                   label="Documento"
                   type="text"
                   idComboInput="numberID"
                   formControlNameInput="number"
                   icon="mat:assignment"
                 ></vex-input>
   
                 <div class="sm:ml-2 sm:mr-2 flex-auto">
                   <button
                     color="primary"
                     mat-raised-button
                     type="button"
                     (click)="searchByDocumentAndTypeNumber()"
                   >
                     <mat-icon svgIcon="mat:search"></mat-icon>Buscar
                   </button>
                 </div>
               </div>
             </form>
           </div>
        

          
        </vex-page-layout-content>
      </vex-page-layout>


   
    
</mat-dialog-content>
<mat-menu
  #settingsMenu="matMenu"
  xPosition="before"
  yPosition="below"
>
  <button mat-menu-item>
    <mat-icon svgIcon="mat:print"></mat-icon>
    <span>Imprimir</span>
  </button>

  <button mat-menu-item>
    <mat-icon svgIcon="mat:download"></mat-icon>
    <span>Exportar</span>
  </button>

  <button mat-menu-item>
    <mat-icon svgIcon="mat:delete"></mat-icon>
    <span>Borrar</span>
  </button>
</mat-menu>
