<form
  class="flex flex-col h-full"
  action=""
>
  <div
    class="body-1 mb-0"
    mat-dialog-title
  >
    <div class="flex items-center justify-between pt-3 pb-1">
      <div class="flex items-center gap-9">
        <div class="flex items-center space-x-2">
          <mat-icon
            [svgIcon]="currentIcon"
            class="w-5 h-5 p-0"
          ></mat-icon>
          <h2 class="title text-2xl headline flex-auto m-0">
            Validación de {{ currentTitle }}
          </h2>
        </div>

        <!-- Botón de descarga en la parte superior derecha (para archivos visibles como imagen o PDF) -->
        <button
          (click)="downloadPdfFromSafeUrl()"
          *ngIf="isVerified"
          class="w-10 h-10 p-0 ml-1 leading-none flex items-center rounded-button justify-center hover:bg-hover text-primary-600 bg-primary-600/10"
          mat-icon-button
          type="button"
        >
          <mat-icon
            class="icon-sm"
            class="w-8 h-8"
            matIconPrefix
            svgIcon="mat:cloud_download"
            title="Descargar"
          ></mat-icon>
        </button>
      </div>
      <button
        class="text-secondary items-center w-8 h-8 leading-none rounded-button flex justify-center ml-1 p-0 hover:bg-hover"
        mat-dialog-close
        mat-icon-button
        type="button"
      >
        <mat-icon
          matIconPrefix
          svgIcon="mat:close"
        ></mat-icon>
      </button>
    </div>
    <mat-divider class="-mx-6 mt-3"></mat-divider>
  </div>

  <mat-dialog-content
    class="flex rounded-md border-2 border-gray-300 my-4 mx-6 p-0 h-full"
  >
    <!-- Indicador de carga centrado con separación entre el spinner y el texto -->
    <div
      *ngIf="isLoading"
      class="loading-indicator flex items-center justify-center w-full h-full absolute top-0 left-0 bg-gray-100 z-10"
    >
      <mat-spinner diameter="40"></mat-spinner>
      <p class="mt-4 ml-4">Cargando certificado...</p>
      <!-- Se añadió ml-4 para dar espacio -->
      <!-- Botón para cancelar la carga -->
      <button
        type="button"
        class="ml-4 p-2 bg-red-500 text-white rounded"
        (click)="cancelLoad()"
      >
        Cancelar
      </button>
    </div>

    <!-- Mensajes de error o éxito dentro del cuerpo del dialog -->
    <div
      *ngIf="errorMessage"
      [ngClass]="{
        'bg-red-500': isErrorMessage,
        'bg-green-500': !isErrorMessage
      }"
      class="error-message w-full p-4 text-white text-center absolute top-0 left-0 z-20"
    >
      <p>{{ errorMessage }}</p>
    </div>

    <div
      *ngIf="!isVerified"
      class="p-6 w-full"
    >
      <h3 class="text-lg font-semibold text-gray-700 mb-4">
        Comprobante de {{ currentTitle }}
      </h3>

      <form
        [formGroup]="paymentForm"
        (ngSubmit)="validatePayment()"
      >
        @if (!hiddeReference) {
          <div class="mb-4">
            <label
              class="block text-sm font-medium text-gray-600"
              for="reference"
              >Número de Referencia</label
            >
            <input
              class="w-full p-2 border border-gray-300 rounded mt-1"
              formControlName="reference"
              name="reference"
              placeholder="Ej: 1234567890"
              type="text"
            />
          </div>
        }

        <div class="mb-4">
          <label
            class="block text-sm font-medium text-gray-600"
            for="filePicker"
            >Subir Comprobante</label
          >
          <input
            (change)="onFileSelected($event)"
            class="w-full p-2 border border-gray-300 rounded mt-1"
            name="filePicker"
            type="file"
          />
        </div>

        <div class="flex justify-end gap-2">
          <button
            type="submit"
            color="primary"
            mat-raised-button
          >
            Validar
          </button>
        </div>
      </form>
    </div>

    <div
      *ngIf="isVerified"
      class="w-full pt-4"
    >
      <!-- Visualización del archivo PDF en el iframe -->
      <iframe
        *ngIf="pdfUrl && pdfUrl !== 'error'"
        [src]="pdfUrl"
        width="100%"
        height="100%"
        style="border: none"
      ></iframe>

      <!-- Visualización de archivo TXT -->
      <div *ngIf="fileType === 'txt'">
        <pre>{{ fileContent }}</pre>
      </div>

      <!-- Visualización de otros tipos de archivo (xlsx, docx, zip, etc.) -->
      <div
        *ngIf="
          fileType === 'xlsx' ||
          fileType === 'docx' ||
          fileType === 'zip' ||
          fileType === 'rar' ||
          fileType === 'dwg' ||
          fileType === 'shp'
        "
      >
        <div class="text-center my-4">
          <p class="font-semibold text-lg">
            No se puede visualizar este archivo en el navegador. La descarga ha
            comenzado.
          </p>
        </div>
      </div>
    </div>

    <div
      *ngIf="showMetadataView === true"
      class="grid sm:grid-cols-1 md:grid-cols-2 gap-x-9 gap-y-4 mt-5 pt-7 w-full"
    >
      <div *ngFor="let property of properties">
        <div *ngIf="property.type === 'text'">
          <strong class="font-bold text-base mr-2"
            >{{ property.label }}:</strong
          >
          <!-- Mostrar el valor correspondiente del metadata -->
        </div>
        <div *ngIf="property.type === 'date'">
          <strong class="font-bold text-base">{{ property.label }}: </strong>
          <!-- Mostrar el valor de la fecha del metadata -->
        </div>
      </div>
    </div>
  </mat-dialog-content>
</form>
