<div class="flex justify-between items-center">
  <h1 mat-dialog-title>Avalúos históricos</h1>
  <button
    mat-icon-button
    tabindex="-1"
    mat-dialog-close
  >
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>

<mat-divider class="bg-slate-400"></mat-divider>

<mat-dialog-content>
  @if (dataSource().data.length <= 0) {
    <h2 class="text-center text-2xl text-slate-500">
      No hay datos de avalúos históricos
    </h2>
  } @else {
    <mat-table [dataSource]="dataSource()">
      @for (group of groupTitles; track $index) {
        <ng-container [matColumnDef]="group.property">
          <mat-header-cell
            *matHeaderCellDef
            [attr.colspan]="group.colspan"
            class="text-center"
          >
            {{ group.label }}
          </mat-header-cell>
        </ng-container>
      }
      @for (column of columns; track $index) {
        <ng-container [matColumnDef]="column.property">
          <mat-header-cell
            *matHeaderCellDef
            class="border-b border-slate-300"
          >
            {{ column.label }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            @if (column.type === "date") {
              {{ element[column.property] | date: "dd/MM/yyyy" }}
            } @else if (column.type === "currency") {
              {{ element[column.property] | currency }}
            } @else {
              {{ element[column.property] }}
            }
          </mat-cell>
        </ng-container>
      }

      <mat-header-row *matHeaderRowDef="displayTitlesGroups()"></mat-header-row>
      <mat-header-row *matHeaderRowDef="displayColumns()"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColumns()"></mat-row>
    </mat-table>
    <mat-paginator
      [pageIndex]="page()"
      [pageSize]="pageSize()"
      [pageSizeOptions]="pageSizeOptions()"
      [length]="totalElements()"
      (page)="refreshPaginator($event)"
    ></mat-paginator>
  }
</mat-dialog-content>
