<div class="w-full h-full flex flex-col shadow-md">
  <vex-header-tasks
    id="assignedTasks"
    [label]="label"
    icon="mat:contacts"
    [filterValue]="filterTask"
    (outSearchStr)="onFilterChange($event)"
  >
  </vex-header-tasks>
  <div
    class="h-full flex flex-col"
    vexFluidHeight
    fluidHeight="147"
  >
    @if (listProTasksECards.length && listProTasksECards.length > 0) {
      <div
        @stagger
        class="overflow-y-auto flex-auto"
      >
        <div
          class="p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-6 container-fluid"
        >
          @for (proTaskE of listProTasksECards; track proTaskE.executionId) {
            <vex-task-card
              [idCard]="proTaskE.executionId?.toString()"
              [protaskE]="proTaskE"
              [showHeader]="showHeaders"
              (openProtaskE)="openBpmCodeProtaskE($event)"
              (openDetailProtaskE)="openDetailProtaskE($event)"
              @fadeInUp
            ></vex-task-card>
          }
        </div>
      </div>
    }

    @if (listProTasksECards.length && listProTasksECards.length === 0) {
      <div
        @scaleFadeIn
        class="flex-auto flex flex-col items-center justify-center"
      >
        <img
          class="m-12 h-64"
          [src]="'./assets/img/illustrations/idea.svg'"
          alt=""
        />
        <h2 class="headline m-0 text-center">
          No hay {{ label | lowercase }} que coincidan con tu búsqueda
        </h2>
      </div>
    }
  </div>
</div>

<div class="vex-footer vex-footer-task w-100 p-0">
  <div class="footer-left">
    <!-- Opcional: Contenido adicional, como texto o iconos -->
    <!-- <span>Información extra</span> -->
  </div>
  <mat-paginator
    #paginator
    [pageSizeOptions]="pageSizeOptions"
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="page"
    (page)="refreshInformationPaginator($event)"
  >
  </mat-paginator>
</div>
