<div class="w-full h-full flex flex-col h-content-body-bpm">
  <vex-header-bpm-core
    idHeader="bpm-coreID"
    [id]="executionId$ | async"
    [proTaskE]="_infoProTaskE$ | async"
    icon="mat:contacts"
    (returnPanelTask)="returnPanelTask($event)">
  </vex-header-bpm-core>
  <div class="h-full flex flex-col" vexFluidHeight fluidHeight=190>
    <div
      @stagger
      class="overflow-y-auto flex-auto"
      *ngIf="isExistDataInformations$ | async">
      <ng-container *ngFor="let comp of components$ | async">
        <ng-container
          [ngComponentOutlet]="comp.component"
          [ngComponentOutletInjector]="comp.componentData"
          [ngComponentOutletInputs]="comp.inputs"
        ></ng-container>
      </ng-container>
    </div>
    <vex-loading-app
      *ngIf="!(isExistDataInformations$ | async)"
      #vexSplashScreen
      idLoading="vexSplashScreen"
      [showImage]="true"></vex-loading-app>
  </div>
</div>
<div class="vex-footer vex-footer-task w-100 p-0 h-14">
  <div
    class="w-full bg-base rounded-tr rounded-br border-l-3 p-4 flex flex-col sm:flex-row gap-3 items-center">
    <span class="flex-none w-1/3"></span>

    <button color="warn" mat-raised-button type="button"
            class="grow"
            (click)="previewBpmCore()">
      Rechazar
    </button>
    <button
      [ngClass]="['!bg-green-600','!text-white']"
      mat-raised-button type="button"
      class="grow"
      (click)="nextBpmCore()">
      Aceptar
    </button>
    <span class="flex-none w-2/5"></span>
  </div>
</div>

