<vex-page-layout>
  <vex-secondary-toolbar current="Simple">
    <vex-breadcrumbs
      [crumbs]="['Page Layouts', 'Simple', 'Default']"
      class="flex-auto"></vex-breadcrumbs>

    <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
  </vex-secondary-toolbar>

  <vex-page-layout-content class="full-height">
    <iframe src="https://avi.agencycic.com/Lucy/asesor/chat.php" width="100%" height="100%"></iframe>
  </vex-page-layout-content>
</vex-page-layout>
