<div
  class="flex items-center"
  mat-dialog-title
>
  <h2 class="headline m-0 flex-auto">
    @if (optionSchemas.length > 1) {
      {{
        CONSTANT_INFORMATION_PREDIAL +
          TWO_POINT_ +
          baUnitHead?.baunitIdE +
          " - " +
          baUnitHead?.domBaunitCondition
      }}
    } @else if (optionSchemas.length === 1) {
      @if (optionSchemas[0].schema === schemaMain) {
        {{
          CONSTANT_INFORMATION_PREDIAL +
            TWO_POINT_ +
            baUnitHead?.baunitIdE +
            " - " +
            baUnitHead?.domBaunitCondition +
            " - " +
            CONSTANT_INFORMATION_PREDIAL_MAIN
        }}
      } @else if (optionSchemas[0].schema === schemaTemp) {
        {{
          CONSTANT_INFORMATION_PREDIAL +
            TWO_POINT_ +
            baUnitHead?.baunitIdE +
            " - " +
            baUnitHead?.domBaunitCondition +
            " - " +
            CONSTANT_INFORMATION_PREDIAL_TEMP
        }}
      } @else if (optionSchemas[0].schema === schemaHist) {
        {{
          CONSTANT_INFORMATION_PREDIAL +
            TWO_POINT_ +
            baUnitHead?.baunitIdE +
            " - " +
            baUnitHead?.domBaunitCondition +
            " - " +
            CONSTANT_INFORMATION_PREDIAL_HIST
        }}
      }
    }
  </h2>
  <button
    class="text-secondary"
    mat-dialog-close
    mat-icon-button
    type="button"
  >
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>
<mat-divider class="text-border"></mat-divider>

@if (optionSchemas.length > 1 && typeInformation === TYPE_INFORMATION_VISUAL) {
  <vex-page-layout-content
    class="container-fluid p-0"
    vexFluidHeight
    fluidHeight="105"
  >
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      @for (option of optionSchemas; track option) {
        <mat-tab [label]="option.title">
          <ng-template matTabContent>
            <vex-cadastral-information-property
              [label]="option.title"
              [schema]="option.schema"
              [typeInformation]="typeInformation"
              [contentInfoSchema]="option.defaultObject"
              [showTittle]="false"
              [baunitCondition]="baUnitHead?.domBaunitCondition"
              [resources]="defaults.resources!"
              [rulePage]="rulePage"
              [levelInfo]="defaults.levelInfo"
              cssClasses="mat-mdc-dialog-content_tab"
              vexFluidHeight
              fluidHeight="105"
            ></vex-cadastral-information-property>
          </ng-template>
        </mat-tab>
      } @empty {
        <mat-tab label="No Data">
          <h1 class="text-center">No tabs available.</h1>
        </mat-tab>
      }
    </mat-tab-group>
  </vex-page-layout-content>
} @else if (
  optionSchemas.length === 1 && typeInformation === TYPE_INFORMATION_VISUAL
) {
  <vex-page-layout-content
    class="container-fluid p-0"
    vexFluidHeight
    fluidHeight="105"
  >
    <vex-cadastral-information-property
      [label]="optionSchemas[0].title"
      [schema]="optionSchemas[0].schema"
      [typeInformation]="typeInformation"
      [contentInfoSchema]="defaults"
      [showTittle]="false"
      [baunitCondition]="baUnitHead?.domBaunitCondition"
      [resources]="defaults.resources!"
      [rulePage]="rulePage"
      [levelInfo]="defaults.levelInfo"
      cssClasses="mat-mdc-dialog-content"
      vexFluidHeight
      fluidHeight="105"
    ></vex-cadastral-information-property>
  </vex-page-layout-content>
} @else if (
  optionSchemas.length === 1 && typeInformation === TYPE_INFORMATION_EDITION
) {
  <vex-page-layout-content
    class="container-fluid p-0"
    vexFluidHeight
    fluidHeight="105"
  >
    <vex-cadastral-information-property
      [label]="optionSchemas[0].title"
      [schema]="optionSchemas[0].schema"
      [typeInformation]="typeInformation"
      [contentInfoSchema]="defaults"
      [showTittle]="false"
      [baunitCondition]="baUnitHead?.domBaunitCondition"
      [resources]="defaults.resources!"
      [rulePage]="rulePage"
      [levelInfo]="defaults.levelInfo"
      cssClasses="mat-mdc-dialog-content"
      vexFluidHeight
      fluidHeight="105"
    ></vex-cadastral-information-property>
  </vex-page-layout-content>
}
