<vex-secondary-toolbar current="Formulario">
  <vex-breadcrumbs
    [crumbs]="['Configuración', 'General', 'Usuarios']"
    class="flex-auto"
  ></vex-breadcrumbs>

  <button
    class="ml-2"
    color="primary"
    mat-icon-button
    type="button"
  >
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>
<!-- <vex-in-construction></vex-in-construction> -->

<vex-page-layout>
  <vex-page-layout-content>
    <section class="w-full flex items-start justify-between">
      <button
        mat-raised-button
        color="primary"
        (click)="openDialogAddUser()"
      >
        Nuevo Usuario
        <mat-icon svgIcon="mat:add"></mat-icon>
      </button>
      <form
        [formGroup]="form"
        class="flex gap-2 items-start max-w-[50%]"
      >
        <vex-combox-colletion
          formControlNameCombobox="domIndividualTypeNumber"
          ubscriptSizing="dynamic"
          idComboCollection="typeNumberDocument"
          label="Tipo de documento"
          typeDomainName="IndividualTypeNumber"
          placeholderDomainName="Seleccionar tipo documento&hellip;"
          cssClasses="w-2/5"
        ></vex-combox-colletion>
        <mat-form-field>
          <mat-label>Número de documento</mat-label>
          <input
            matInput
            placeholder="Número de documento"
            formControlName="number"
            type="text"
            class="w-2/5"
          />
        </mat-form-field>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
          (click)="searchUser()"
        >
          Buscar
          <mat-icon svgIcon="mat:search"></mat-icon>
        </button>
      </form>
    </section>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
    >
      @for (column of columns; track column.name) {
        <ng-container [matColumnDef]="column.name">
          <th
            mat-header-cell
            *matHeaderCellDef
          >
            {{ column.label }}
          </th>
          <td
            mat-cell
            *matCellDef="let element"
          >
            {{ showTableValue(element[column.name], column.name) }}
          </td>
        </ng-container>
      }
      <ng-container matColumnDef="actions">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          Acciones
        </th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          <button
            mat-icon-button
            color="primary"
            type="button"
          >
            <mat-icon svgIcon="mat:more_horiz"></mat-icon>
          </button>
        </td>
      </ng-container>
      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="pageSizeOptions"
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageIndex]="page"
    >
    </mat-paginator>
  </vex-page-layout-content>
</vex-page-layout>
