<mat-accordion class="flex flex-col py-0 px-0 classInformationConstruction">
  <mat-expansion-panel
    (opened)="isExpandPanel((expandedComponent = true))"
    [expanded]="expandedComponent"
  >
    <mat-expansion-panel-header
      class="bg-app-bar focus-visible:bg-app-bar focus:bg-app-bar pb-0 py-1 border-b sticky left-0 flex items-center"
    >
      <vex-header-cadastral-information-property
        label="Construcciones"
        icon="mat:business"
        id="businessConstructions"
      >
      </vex-header-cadastral-information-property>
    </mat-expansion-panel-header>
    <mat-panel-description class="py-0 px-0">
      <div class="w-full flex flex-col overflow-auto">
        <!-- Contenedor de botones y filtro -->
        @if (typeInformation === "edition" || dataSource && dataSource.data.length > 3) {
          <div class="px-4 h-16 border-b sticky left-0 flex items-center">
            <!-- Botón "Nueva" SIEMPRE visible en edición -->
            @if (typeInformation === "edition") {
              <div class="flex-1">
                <button
                  mat-raised-button
                  type="button"
                  [ngClass]="
                !editable ? '!bg-slate-400 !text-gray-100 opacity-60' : ''
              "
                  [color]="editable ? 'primary' : ''"
                  [disabled]="!editable"
                  (click)="openAddConstructionInformationProperty()"
                >
                  Nueva
                  <mat-icon svgIcon="mat:add"></mat-icon>
                </button>
              </div>
            } @else {
              <span class="flex-1"></span>
            }

            <!-- Filtro: Visible en modo listar cuando hay datos.
                También visible en modo edición cuando hay datos -->
            @if ((dataSource && dataSource.data.length > 0)) {
              <mat-form-field subscriptSizing="dynamic" class="pl-1 pr-1 pt-6 pb-6 flex flex-col w-full max-w-xs ml-4">
                <mat-icon matIconPrefix svgIcon="mat:search"></mat-icon>
                <input matInput [formControl]="searchCtrl" placeholder="Filtrar construcciones" type="text" />
              </mat-form-field>
            }
            <span class="flex-1"></span>
            <!-- Botón de filtro -->
            <!-- <button
                [matMenuTriggerFor]="columnFilterMenu"
                mat-icon-button
                matTooltip="Filtrar columnas"
                type="button"
                class="ml-4 flex-col">
                <mat-icon svgIcon="mat:filter_list"></mat-icon>
            </button> -->
          </div>
        }
        <!-- Mostrar tabla y paginador SOLO si hay datos -->
        <table
          @stagger
          [dataSource]="dataSource"
          class="w-full"
          mat-table
          matSort
        >
          <ng-container matColumnDef="viewDetail">
            <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
            <td *matCellDef="let row" mat-cell>
              <div class="flex">
                <button
                  (click)="openDetailInformationConstructionsProperty(row)"
                  class="w-8 h-8 p-0 leading-none flex items-center justify-center ml-1 hover:bg-hover text-primary-600 bg-primary-600/10"
                  mat-icon-button
                  title="Ver Detalle"
                >
                  <mat-icon
                    class="icon-sm"
                    svgIcon="mat:description"
                  ></mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <!-- Columnas dinámicas -->
          @for (column of columns; track column.property) {
            <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ column.label }}</th>
              <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
            </ng-container>
          }

          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th
              *matHeaderCellDef
              mat-header-cell
              mat-sort-header
            ></th>
            <td
              *matCellDef="let row"
              class="w-10 text-secondary"
              mat-cell
            >
              <button
                (click)="$event.stopPropagation()"
                [matMenuTriggerData]="{ customer: row }"
                [matMenuTriggerFor]="actionsMenu"
                mat-icon-button
                type="button"
              >
                <mat-icon svgIcon="mat:more_horiz"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            *matHeaderRowDef="visibleColumns"
            mat-header-row
          ></tr>
          <tr
            *matRowDef="let row; columns: visibleColumns"
            @fadeInUp
            class="hover:bg-hover transition duration-400 ease-out-swift cursor-pointer"
            mat-row
          ></tr>
        </table>
        <!-- Mostrar mensaje si no hay Construcciones -->
        @if (!dataSource || dataSource.data.length === 0) {
          <div class="flex justify-center items-center py-4">
            <p class="text-gray-500 text-lg">No hay construcciones para mostrar.</p>
          </div>
        }
        <mat-paginator
          #paginator
          [pageSizeOptions]="pageSizeOptions"
          [length]="totalElements"
          [pageSize]="pageSize"
          [pageIndex]="page"
          (page)="refreshInformationPaginator($event)"
          class="paginator"
        ></mat-paginator>
      </div>

    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>

<mat-menu
  #actionsMenu="matMenu"
  xPosition="before"
  yPosition="below"
>
  <ng-template
    let-customer="customer"
    matMenuContent>
    <button
      (click)="editInformation(customer)"
      mat-menu-item>
      <mat-icon svgIcon="mat:edit"></mat-icon>
      <span>Editar</span>
    </button>
    <button
      (click)="copyInformation(customer)"
      mat-menu-item>
      <mat-icon svgIcon="mat:file_copy"></mat-icon>
      <span>Copiar</span>
    </button>
    <button
      (click)="deleteInformation(customer)"
      mat-menu-item>
      <mat-icon svgIcon="mat:delete"></mat-icon>
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>

<swal
  #deleteSwal
  title="¡Éxito!"
  text="Información eliminada con éxito"
  icon="success"
  [confirmButtonText]="'Cerrar'"
  [confirmButtonColor]="'#3f51b5'"
>
</swal>

<swal
  #copySwal
  title="¡Éxito!"
  text="Información eliminada con éxito"
  icon="success"
  [confirmButtonText]="'Cerrar'"
  [confirmButtonColor]="'#3f51b5'"
>
</swal>

<swal
  #errorCopySwal
  title="Error"
  text="No fue posible copiar la Construccion"
  icon="error"
  [confirmButtonText]="'Cerrar'"
  [confirmButtonColor]="'#3f51b5'"
></swal>


<swal
  #errorSwal
  title="Error"
  text="No fue posible eliminar la información"
  icon="error"
  [confirmButtonText]="'Cerrar'"
  [confirmButtonColor]="'#3f51b5'"
></swal>

<swal
  #deletedConstruction
  title="Eliminar construcción"
  text="¿Desea eliminar la construcción?"
  icon="warning"
  [showCancelButton]="true"
  [confirmButtonText]="'Eliminar'"
  [cancelButtonText]="'Cancelar'"
  [confirmButtonColor]="'#3085d6'"
  [cancelButtonColor]="'#d33'">
</swal>

<swal
  #copyConstruction
  title="Copiar construcción"
  text="¿Desea copiar la construcción?"
  icon="info"
  [showCancelButton]="true"
  [confirmButtonText]="'Copiar'"
  [cancelButtonText]="'Cancelar'"
  [confirmButtonColor]="'#3085d6'"
  [cancelButtonColor]="'#d33'">
</swal>

<ng-template #confirmDialog>
  <h2 matDialogTitle> </h2>
  <mat-dialog-content>
    <p></p>
  </mat-dialog-content>
  <mat-dialog-actions class="flex gap-1 justify-center">
    <button
      mat-button
      matDialogClose
      mat-raised-button
      color="primary"
    >
      Cancelar
    </button>
    <button
      mat-button
      [matDialogClose]="'delete'"
      mat-raised-button
      color="warn"
    >
      Eliminar
    </button>
  </mat-dialog-actions>
</ng-template>
