.form-content {
  @apply flex flex-wrap gap-4 justify-center w-full pb-4;

  .form-content-item {
    width: 45%; 
    @apply my-2;

    &.full {
      width: 100%; 
    }
  }
}

.buttons {
  @apply flex gap-2 justify-center py-2;
}

.category-card {
  margin-bottom: 16px;
}

.category-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #3f51b5;
}

.sub-category-content {
  padding-top: 16px;
}