<div class="flex items-center bg-app-bar focus-visible:bg-app-bar focus:bg-app-bar" mat-dialog-title>
  <h2 class="headline m-0 flex-auto">
    Nueva construcción
  </h2>
  <button class="text-secondary" mat-icon-button type="button" (click)="handleDialogClose()">
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>

<mat-divider class="text-border"></mat-divider>

<mat-dialog-content>
  <div @fadeInUp class="card overflow-hidden">
    <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
      <ng-template matStepperIcon="edit">
        <mat-icon svgIcon="mat:done_all"></mat-icon>
      </ng-template>

      <ng-template matStepperIcon="done">
        <mat-icon svgIcon="mat:done_all"></mat-icon>
      </ng-template>

      <mat-step [stepControl]="informationConstructionForm" [editable]="!constructionId">
        <form [formGroup]="informationConstructionForm">
          <ng-template matStepLabel>Aspectos de Construcción</ng-template>

          <h2 class="title m-0">Aspectos de Construcción</h2>
          <div class="subheading-1">
            Por favor, ingrese los datos de la construcción.
          </div>

          <div class="mt-4 flex flex-col gap-2">

            <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
              <vex-custom-selector
              class="flex-auto"
              [label]="'Tipo'"
              [placeholder]="'Escoger tipo...'"
              [apiUrl]="api_domainName"
              [queryParams]="{ domainName: 'BuiltType', active: true }"
              [valueKey]="'dispname'"
              [displayKey]="'dispname'"
              [formControl]="domBuiltTypeControl"
              (selectionChange)="onTypeSelectionChange($event)" 
              cssClasses="custom-class"
            ></vex-custom-selector>
            
            <vex-custom-selector
              class="flex-auto"
              [label]="'Uso'"
              [placeholder]="'Escoger uso...'"
              [options]="filteredBuiltUseOptions"
              [valueKey]="'dispname'"
              [displayKey]="'dispname'"
              [formControl]="domBuiltUseControl"
              cssClasses="custom-class"
            ></vex-custom-selector>
        </div>

        <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">
          <vex-input class="flex-auto"
          label="ID"
          type="text"
          idComboInput="unitBuiltLabel"
          formControlNameInput="unitBuiltLabel"
        ></vex-input>
     

        <div class="flex flex-col">
        <vex-input class="flex-auto"
        label="Piso"
        type="text"
        idComboInput="unitBuiltFloors"
        formControlNameInput="unitBuiltFloors"
      ></vex-input>
      <mat-error *ngIf="informationConstructionForm.get('unitBuiltFloors')?.hasError('pattern')">
        Solo números enteros (1-99).
      </mat-error>
      </div>
      
      <div class="flex flex-col">
      <vex-input class="flex-auto"
      label="Año"
      type="text"
      idComboInput="unitBuiltYear"
      formControlNameInput="unitBuiltYear"
    ></vex-input>
    <mat-error *ngIf="informationConstructionForm.get('unitBuiltYear')?.hasError('yearInFuture')">
      El año no puede ser mayor al actual.
    </mat-error>
    </div>
    
      </div>


      <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

        <div class="flex flex-col">
        <vex-input class="flex-auto"
        label="Área Total"
        type="text"
        idComboInput="unitBuiltArea"
        formControlNameInput="unitBuiltArea"
      ></vex-input>
      <mat-error *ngIf="informationConstructionForm.get('unitBuiltArea')?.hasError('nonZero')">
        El área debe ser mayor a 0.
      </mat-error>
      </div>

      <div class="flex flex-col">
      <vex-input class="flex-auto"
      label="Área Privada"
      type="text"
      idComboInput="unitBuiltPrivateArea"
      formControlNameInput="unitBuiltPrivateArea"
    ></vex-input>
    <mat-error *ngIf="informationConstructionForm.get('unitBuiltPrivateArea')?.hasError('nonZero')">
      El área privada debe ser mayor a 0.
    </mat-error>
    <mat-error *ngIf="informationConstructionForm.get('unitBuiltPrivateArea')?.hasError('privateAreaExceedsTotal')">
      El área privada no puede ser mayor que el área total.
    </mat-error>
    </div>

    <vex-input class="flex-auto"
    label="Observación"
    type="text"
    idComboInput="unitBuiltObservation"
    formControlNameInput="unitBuiltObservation"
  ></vex-input>

      </div>
         
  
          </div>

          <div class="actions flex items-center justify-end gap-2">
            <button
              (click)="stepper.reset()"
              [disabled]="informationConstructionForm.pristine"
              color="primary"
              mat-button
              type="button">
              Reiniciar
            </button>
            <button
            color="primary"
            mat-raised-button
            matStepperNext
            [disabled]="informationConstructionForm.invalid || isCreatingConstruction"
            (click)="createConstruction()">
            Continuar
          </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="activeCalificationForm">
        <form [formGroup]="activeCalificationForm">
          <ng-template matStepLabel>Calificación</ng-template>

          <div class="title m-0">Calificación</div>
          <div class="subheading-1">
            Selecciona entre Tradicional o Tipología.
          </div>


          <div class="actions flex items-center gap-2 pt-3">
            <button
              mat-raised-button
              color="primary"
              (click)="toggleCalificationMode('tradicional')"
              [class]="calificationMode === 'tradicional' ? 'bg-blue-500 text-white font-bold cursor-not-allowed' : 'bg-gray-200 text-black hover:bg-blue-500 hover:text-white'"
              [disabled]="calificationMode === 'tradicional'"
            >
              Tradicional
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="toggleCalificationMode('tipologia')"
              [class]="calificationMode === 'tipologia' ? 'bg-blue-500 text-white font-bold cursor-not-allowed' : 'bg-gray-200 text-black hover:bg-blue-500 hover:text-white'"
              [disabled]="calificationMode === 'tipologia'"
            >
              Tipología
            </button>
          </div>
          


          <div *ngIf="calificationMode === 'tradicional'" class="mt-4 flex flex-col gap-2">


          <div class="mt-4 flex flex-col gap-2">

            <p><strong>Estructura</strong></p>
            <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

              <vex-custom-selector class="flex-auto"
              [label]="'Armazón'"
              [placeholder]="'Escoger armazón'"
              [apiUrl]="getApiCalificationUrl('Armazon')"
              [valueKey]="'id'"
              [displayKey]="'dispname'"
              [formControl]="structureArmazonControl"
              cssClasses="custom-class"
              ></vex-custom-selector>

          <vex-custom-selector class="flex-auto"
          [label]="'Muros'"
          [placeholder]="'Escoger muros'"
          [apiUrl]="getApiCalificationUrl('Muros')"
          [valueKey]="'id'"
          [displayKey]="'dispname'"
          [formControl]="structureMurosControl"
          cssClasses="custom-class"
          ></vex-custom-selector>

          <vex-custom-selector class="flex-auto"
          [label]="'Cubierta'"
          [placeholder]="'Escoger cubierta'"
          [apiUrl]="getApiCalificationUrl('Cubierta')"
          [valueKey]="'id'"
          [displayKey]="'dispname'"
          [formControl]="structureCubiertaControl"
          cssClasses="custom-class"
          ></vex-custom-selector>

          <vex-custom-selector class="flex-auto"
          [label]="'Conservación'"
          [placeholder]="'Escoger conservación'"
          [apiUrl]="getApiCalificationUrl('Conservacion_Cubierta')"
          [valueKey]="'id'"
          [displayKey]="'dispname'"
          [formControl]="structureConservacionControl"
          cssClasses="custom-class"
          ></vex-custom-selector>


            </div>

          </div>

          <div class="mt-4 flex flex-col gap-2">

            <p><strong>Acabados Principales</strong></p>
            <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

              <vex-custom-selector class="flex-auto"
              [label]="'Fachadas'"
              [placeholder]="'Escoger fachada'"
              [apiUrl]="getApiCalificationUrl('Fachada')"
              [valueKey]="'id'"
              [displayKey]="'dispname'"
              [formControl]="finishesFachadasControl"
              cssClasses="custom-class"
              ></vex-custom-selector>

              <vex-custom-selector class="flex-auto"
              [label]="'Cubrimiento de muros'"
              [placeholder]="'Escoger cubrimiento'"
              [apiUrl]="getApiCalificationUrl('Cubrimiento_Muros')"
              [valueKey]="'id'"
              [displayKey]="'dispname'"
              [formControl]="finishesMurosControl"
              cssClasses="custom-class"
              ></vex-custom-selector>

              <vex-custom-selector class="flex-auto"
              [label]="'Pisos'"
              [placeholder]="'Escoger pisos'"
              [apiUrl]="getApiCalificationUrl('Piso')"
              [valueKey]="'id'"
              [displayKey]="'dispname'"
              [formControl]="finishesPisosControl"
              cssClasses="custom-class"
              ></vex-custom-selector>


              <vex-custom-selector class="flex-auto"
              [label]="'Conservación'"
              [placeholder]="'Escoger conservación'"
              [apiUrl]="getApiCalificationUrl('Conservacion_Acabados')"
              [valueKey]="'id'"
              [displayKey]="'dispname'"
              [formControl]="finishesConservacionControl"
              cssClasses="custom-class"
              ></vex-custom-selector>

            </div>

          </div>

          <div class="mt-4 flex flex-col gap-2">

            <p><strong>Baño</strong></p>
            <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

              <vex-custom-selector class="flex-auto"
              [label]="'Tamaño'"
              [placeholder]="'Escoger tamaño'"
              [apiUrl]="getApiCalificationUrl('Tamanio_Banio')"
              [valueKey]="'id'"
              [displayKey]="'dispname'"
              [formControl]="bathSizeControl"
              cssClasses="custom-class"
              ></vex-custom-selector>

              <vex-custom-selector class="flex-auto"
              [label]="'Enchapes'"
              [placeholder]="'Escoger enchape'"
              [apiUrl]="getApiCalificationUrl('Enchape_Banio')"
              [valueKey]="'id'"
              [displayKey]="'dispname'"
              [formControl]="bathEnchapesControl"
              cssClasses="custom-class"
              ></vex-custom-selector>

              <vex-custom-selector class="flex-auto"
              [label]="'Mobiliario'"
              [placeholder]="'Escoger mobiliario'"
              [apiUrl]="getApiCalificationUrl('Mobiliario_Banio')"
              [valueKey]="'id'"
              [displayKey]="'dispname'"
              [formControl]="bathMobiliarioControl"
              cssClasses="custom-class"
              ></vex-custom-selector>


              <vex-custom-selector class="flex-auto"
              [label]="'Conservación'"
              [placeholder]="'Escoger conservación'"
              [apiUrl]="getApiCalificationUrl('Conservacion_Banio')"
              [valueKey]="'id'"
              [displayKey]="'dispname'"
              [formControl]="bathConservacionControl"
              cssClasses="custom-class"
              ></vex-custom-selector>


        

            </div>

          </div>

          <div class="mt-4 flex flex-col gap-2">

            <p><strong>Cocina</strong></p>
            <div class="flex flex-col sm:flex-row gap-2 sm:gap-6">

              <vex-custom-selector class="flex-auto"
              [label]="'Tamaño'"
              [placeholder]="'Escoger tamaño'"
              [apiUrl]="getApiCalificationUrl('Tamanio_Cocina')"
              [valueKey]="'id'"
              [displayKey]="'dispname'"
              [formControl]="kitchenSizeControl"
              cssClasses="custom-class"
              ></vex-custom-selector>

              <vex-custom-selector class="flex-auto"
              [label]="'Enchapes'"
              [placeholder]="'Escoger enchape'"
              [apiUrl]="getApiCalificationUrl('Enchape_Cocina')"
              [valueKey]="'id'"
              [displayKey]="'dispname'"
              [formControl]="kitchenEnchapesControl"
              cssClasses="custom-class"
              ></vex-custom-selector>

              <vex-custom-selector class="flex-auto"
              [label]="'Mobiliario'"
              [placeholder]="'Escoger mobiliario'"
              [apiUrl]="getApiCalificationUrl('Mobiliario_Cocina')"
              [valueKey]="'id'"
              [displayKey]="'dispname'"
              [formControl]="kitchenMobiliarioControl"
              cssClasses="custom-class"
              ></vex-custom-selector>


              <vex-custom-selector class="flex-auto"
              [label]="'Conservación'"
              [placeholder]="'Escoger conservación'"
              [apiUrl]="getApiCalificationUrl('Conservacion_Cocina')"
              [valueKey]="'id'"
              [displayKey]="'dispname'"
              [formControl]="kitchenConservacionControl"
              cssClasses="custom-class"
              ></vex-custom-selector>

         


            </div>

          </div>

          </div>

          <div *ngIf="calificationMode === 'tipologia'" class="mt-4 flex flex-col gap-2">
            <p><strong>Tipología</strong></p>
            <vex-custom-selector
            class="flex-auto"
            [label]="'Tipología'"
            [placeholder]="'Selecciona una tipología...'"
            [options]="filteredTypologyOptions"
            [valueKey]="'dispname'"
            [displayKey]="'dispname'"
            [formControl]="domTipologiaTipoControl"
            cssClasses="custom-class"
          ></vex-custom-selector>
          </div>

        

          <div class="actions flex items-center justify-end gap-2">
            <!-- <button color="primary" mat-button matStepperPrevious type="button">
             Regresar
            </button> -->

            <button mat-button
            color="warn"
            (click)="resetForms()"
            type="button">
            Limpiar
            </button>
            <button
              (click)="submit()"
              [disabled]="calificationMode === 'tradicional' && traditionalRatingForm.invalid || calificationMode === 'tipologia' && typologyRatingForm.invalid"
              color="primary"
              mat-raised-button
              matStepperNext>
             Finalizar
            </button>
          </div>
        </form>
      </mat-step>

 
    </mat-horizontal-stepper>
  </div>

</mat-dialog-content>
