.contet-search {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-content-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem; /* Ajusta el espacio entre los elementos según sea necesario */
  }
  
  .mat-form-field {
    margin: 0;
  }