@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate, black;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  /* background: linear-gradient(135deg, var(--color-background) 0%, #1a1a2e 100%); */
  /* color: var(--color-text); */
  min-height: 100vh;
  line-height: 1.6;
}

#root {
  min-height: 100vh;
}
