<mat-accordion class="flex flex-col py-0 px-0 mb-2 classPhotos">
  <mat-expansion-panel
    (opened)="isExpandPanel(true)"
    [expanded]="expandedComponent()"
  >
    <mat-expansion-panel-header
      class="bg-app-bar focus-visible:bg-app-bar focus:bg-app-bar pb-0 py-1 border-b sticky left-0 flex items-center"
    >
      <vex-header-cadastral-information-property
        label="Fotos"
        icon="mat:source"
        id="photos"
      ></vex-header-cadastral-information-property>
    </mat-expansion-panel-header>
    @if (typeInformation() === "edition") {
      <button
        mat-flat-button
        color="primary"
        class="my-2"
        (click)="openAddPhotoDialog()"
      >
        <mat-icon svgIcon="mat:add"></mat-icon>
        Agregar foto
      </button>
    }
    @if (!loading()) {
      <div class="h-full w-full">
        @if (images().length > 0) {
          <div class="py-8 px-6 h-80 w-full md:h-[500px]">
            <app-carousel
              [images]="images()"
              [deleteButton]="typeInformation() === 'edition'"
              [resetCarousel]="resetCarousel()"
              (deleteImage)="onDeleteImage($event)"
            ></app-carousel>
          </div>
        } @else {
          <div class="flex justify-center items-center py-4">
            <p class="text-gray-500 text-lg">No hay fotos para mostrar.</p>
          </div>
        }
      </div>
    } @else {
      <div class="flex justify-center items-center py-4">
        <p class="text-gray-500 text-lg">Cargando imágenes...</p>
      </div>
    }
  </mat-expansion-panel>
</mat-accordion>
