<mat-accordion class="flex flex-col py-0 px-0 mb-2 classPhotos">
  <mat-expansion-panel
    (opened)="isExpandPanel(true)"
    [expanded]="expandedComponent()"
  >
    <mat-expansion-panel-header
      class="bg-app-bar focus-visible:bg-app-bar focus:bg-app-bar pb-0 py-1 border-b sticky left-0 flex items-center"
    >
      <vex-header-cadastral-information-property
        label="Fotos"
        icon="mat:source"
        id="photos"
      ></vex-header-cadastral-information-property>
    </mat-expansion-panel-header>

    <div *ngIf="!loading(); else loadingTemplate" class="center-img">
      <div *ngIf="images().length > 0; else noImagesTemplate" class="py-8 px-6 footer">
        <div class="relative overflow-hidden h-auto">
          <div
            class="flex transition-transform duration-500 space-x-4"
            [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'"
          >
            <img
              *ngFor="let image of images(); let i = index"
              [src]="image"
              [alt]="'Imagen ' + (i + 1)"
              class="w-full h-auto object-cover rounded-lg"
            />
          </div>

          <button
            (click)="prevSlide()"
            class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-white text-black p-2 rounded-full left"
          >
            &#10094;
          </button>
          <button
            (click)="nextSlide()"
            class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-white text-black p-2 rounded-full right"
          >
            &#10095;
          </button>
        </div>
      </div>
    </div>

    <ng-template #loadingTemplate>
      <div class="flex justify-center items-center py-4">
        <p class="text-gray-500 text-lg">Cargando imágenes...</p>
      </div>
    </ng-template>

    <ng-template #noImagesTemplate>
      <div class="flex justify-center items-center py-4">
        <p class="text-gray-500 text-lg">No hay fotos para mostrar.</p>
      </div>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>

