<mat-accordion class="flex flex-col py-0 px-0 mb-2 classPhotos" [id]="id">
  <mat-expansion-panel
    (opened)="expandedComponent = true"
    [expanded]="expandedComponent"
  >
    <mat-expansion-panel-header
      class="bg-app-bar focus-visible:bg-app-bar focus:bg-app-bar pb-0 py-1 border-b sticky left-0 flex items-center"
    >
      <vex-header-cadastral-information-property
        label="Fotos"
        icon="mat:source"
        id="photos"
      ></vex-header-cadastral-information-property>
    </mat-expansion-panel-header>

    <div *ngIf="!loading; else loadingTemplate">
      <div *ngIf="images.length > 0; else noImagesTemplate" class="py-8 px-6 footer">
        <div class="relative overflow-hidden h-auto">
          <div
            class="flex transition-transform duration-500 space-x-4"
            [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'"
          >
            <img
              *ngFor="let image of images; let i = index"
              [src]="image"
              [alt]="'Imagen ' + (i + 1)"
              class="w-full h-auto object-cover rounded-lg"
            />
          </div>

          <button
            (click)="prevSlide()"
            class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-white text-black p-2 rounded-full left"
          >
            &#10094;
          </button>
          <button
            (click)="nextSlide()"
            class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-white text-black p-2 rounded-full right"
          >
            &#10095;
          </button>
        </div>
      </div>
    </div>

    <ng-template #loadingTemplate>
      <p class="text-center text-gray-500">Cargando imágenes...</p>
    </ng-template>

    <ng-template #noImagesTemplate>
      <p class="text-center text-gray-500">No hay fotos para mostrar.</p>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>



<ng-template #confirmDeleteDialog>
  <h2 mat-dialog-title>¿Está seguro de eliminar la fuente administrativa?</h2>
  <mat-divider class="text-border border-slate-400"></mat-divider>
  <mat-dialog-content class="flex flex-col items-center py-4 lg:px-8">
    <span class="text-lg">¿Está seguro de eliminar esta fuente administrativa?</span>
    <!-- <strong class="text-lg">{{ selectedFuente?.numeroFuente }}</strong> -->
  </mat-dialog-content>
  <!-- <mat-dialog-actions align="center">
    <button
      mat-flat-button
      mat-dialog-close
      color="primary"
      [mat-dialog-close]="true"
    >
      Eliminar
    </button>
    <buttonz
      mat-flat-button
      mat-dialog-close
      color="warn"
    >
      Cancelar
    </button>
  </mat-dialog-actions> -->
</ng-template>
