<div class="flex flex-col sm:flex-row lg:gap-1 sm:gap-6 sm:mt-3 lg:mt-2">
  <vex-combox-colletion
    idComboCollection="typeNumberDocument"
    label="Tipo de documento"
    formControlNameCombobox="typeNumberDocument"
    typeDomainName="IndividualTypeNumber"
    placeholderDomainName="Tipo de documento"
    class="w-full sm:flex-1 min-w-[300px] max-w-[400px] sm:mr-2"
  ></vex-combox-colletion>
  <mat-form-field
    class="w-full sm:flex-1 min-w-[300px] max-w-[400px] sm:ml-2"
  >
    <mat-label>Documento</mat-label>
    <input
      type="type"
      formControlName="numberID"
      matInput
    />
    <mat-icon
      matIconPrefix
      svgIcon="mat:assignment"
    ></mat-icon>
  </mat-form-field>
  <div class="sm:ml-2 sm:mr-2 lg:mt-1 xl:mt-1 flex-none">
    <button
      color="primary"
      mat-raised-button
      type="button"
      (click)="findParticipant()"
    >
      <mat-icon svgIcon="mat:search"></mat-icon>
      Buscar
    </button>
  </div>
  <mat-form-field
    class="w-full sm:flex-1 min-w-[300px] max-w-[400px] sm:ml-2"
  >
    <mat-label>Nombre completo persona</mat-label>
    <input
      formControlName="personCompleted"
      matInput
    />
  </mat-form-field>
</div>
<div class="flex flex-col sm:flex-row lg:gap-1 sm:gap-6">
  <vex-combox-colletion
    idComboCollection="typeParticipation"
    label="Tipo participación"
    formControlNameCombobox="typeParticipation"
    typeDomainName="BpmParticipation"
    placeholderDomainName="Ponga tipo documento"
    cssClasses="sm:w-full sm:ml-2 sm:mr-2 flex flex-initial min-w-[250px] sm:min-w-[380px]"
  ></vex-combox-colletion>
  <div class="sm:ml-2 sm:mr-2 lg:mt-1 xl:mt-1 flex-none">
    <button
      color="primary"
      mat-raised-button
      type="button"
      (click)="addParticipantToList()"
    >
      <mat-icon svgIcon="mat:contacts"></mat-icon>
      Agregar participante
    </button>
  </div>
</div>
<div class="card h-full flex flex-col mat-elevation-z3">
  <div class="w-full flex flex-col justify-between py-0 overflow-auto" vexMinFluidHeight fluidHeight="700">
    <table
      @stagger
      [dataSource]="dataSource"
      class="w-full"
      mat-table
      matSort>
      <!-- Text Columns -->
      @for (column of columns; track column.property) {
        @if (column.type === 'text') {
          <ng-container [matColumnDef]="column.property">
            <th
              *matHeaderCellDef
              class="items-center"
              mat-header-cell
              mat-sort-header
            >
              {{ column.label }}
            </th>
            <td
              *matCellDef="let row"
              [ngClass]="column.cssClasses"
              mat-cell
              class="pl-2 pr-2"
            >
              {{ row[column.property] }}
            </td>
          </ng-container>
        }
      } @empty {
        <ng-container>
          <td
            *matCellDef="let row" class="w-10 text-secondary pl-2 pr-2" mat-cell>
            <div class="no-data-information text-gray-500 text-lg flex flex-col sm:flex-row w-full">
              No hay información disponible
            </div>
          </td>
        </ng-container>
      }

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th
          *matHeaderCellDef
          mat-header-cell
          mat-sort-header
          class="items-center"
        ></th>
        <td
          *matCellDef="let row"
          class="w-10 text-secondary pl-2 pr-2"
          mat-cell
        >
          <button
            (click)="$event.stopPropagation()"
            [matMenuTriggerData]="{ customer: row }"
            [matMenuTriggerFor]="actionsMenu"
            mat-icon-button
            type="button"
          >
            <mat-icon svgIcon="mat:more_horiz"></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="visibleColumns"
        class="bg-app-bar border-b sticky"
      ></tr>
      <tr
        *matRowDef="let row; columns: visibleColumns"
        @fadeInUp
        class="hover:bg-hover transition duration-400 ease-out-swift cursor-pointer"
        mat-row
      ></tr>
    </table>
    @if (dataSource.data.length <= 0 || dataSource.filteredData.length <= 0) {
      <div class="no-data-information items-center justify-center h-full w-full m-auto">
        No hay información disponible
      </div>
    }
  </div>
  <div class="flex flex-col sm:flex-row w-full left-0">
    <div class="flex-1"></div>
    <mat-paginator
      #paginatorBasicTable
      [pageSizeOptions]="pageSizeOptions"
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageIndex]="page"
      (page)="refreshInformationPaginator($event)"
      class="sticky left-0"
    ></mat-paginator>
  </div>
</div>
<mat-menu
  #actionsMenu="matMenu"
  xPosition="before"
  yPosition="below">
  <ng-template
    let-customer="customer" matMenuContent>
    @if (!this.thirdPartyAffected) {
      <button
        (click)="editParticipantToList(customer)"
        mat-menu-item>
        <mat-icon svgIcon="mat:edit"></mat-icon>
        <span>Editar</span>
      </button>
    }
    <button
      (click)="deleteInformation(customer)"
      mat-menu-item>
      <mat-icon svgIcon="mat:delete"></mat-icon>
      <span>Retirar</span>
    </button>

  </ng-template>
</mat-menu>
