.table-header {
    background-color: #1D8649 !important;;
    color: white !important;;
    font-weight: bold !important;;
}

.mat-step-header {
  cursor: default !important;
}

.badge-low {
  color: green;
  font-weight: bold;
}

.badge-normal {
  color: blue;
  font-weight: bold;
}

.badge-high {
  color: red;
  font-weight: bold;
}

.badge-unknown {
  color: grey;
  font-weight: bold;
}