.vex-page-layout-simple .vex-page-layout-content {
    padding-top: 0px;
    padding-bottom: 0;
}

.vex-page-layout-content {
    box-sizing: border-box;
    display: block;
     padding-left: 0; 
     padding-right: 0; 
}

.card {
    padding-top: 24px;
  
}
