
.card-validate-certificate {
  align-content: center;
  align-items: center;
  background: #fff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
}
