<mat-form-field
  [ngClass]="cssClasses()"
  [hideRequiredMarker]="hideRequiredMarker()"
  class="w-full">
  @if (label() && label().length > 0) {
    <mat-label>{{ label() }}</mat-label>
  }

  <mat-select
    [formControl]="formControlComboxColletion()"
    placeholder="{{placeholderDomainName()}}"
    (selectionChange)="onSelectionChange($event.value)"
    class="w-full h-auto"
    [panelWidth]="500">
    <!-- Mensaje de carga -->
    @if (!loading) {
      @if (filteredOptions$ | async; as options) {
        @for (option of options; track option) {
          <mat-option [value]="option.dispname">
            {{ option.dispname }}
          </mat-option>
        }
      } @else {
        <mat-option>
          {{ STRING_INFORMATION_NOT_FOUND }}
          {{ STRING_INFORMATION_NOT_FOUND }}
        </mat-option>
      }
    } @else {
      <mat-option disabled>
        Cargando...
      </mat-option>
    }
  </mat-select>

  @if (hintValue() && hintValue()!.length > 0 && checkIsInValid(formControlComboxColletion())) {
    <mat-hint class="mb-1">{{ hintValue() }}</mat-hint>
  }
  @if (formControlComboxColletion() !== null) {
    <mat-error class="mb-1">{{ checkForErrorsIn(formControlComboxColletion()) }}</mat-error>
  }
</mat-form-field>
