<div
  class="flex items-center bg-app-bar focus-visible:bg-app-bar focus:bg-app-bar"
  mat-dialog-title
>
  <h2 class="headline m-0 flex-auto">
    {{ data.isEdit ? "Editar" : "Crear" }} Zona
  </h2>
  <button
    class="text-secondary"
    mat-dialog-close
    mat-icon-button
    type="button"
    tabindex="-1"
  >
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>

<mat-divider class="text-border"></mat-divider>

<mat-dialog-content>
  <form
    [formGroup]="zoneBAUnitForm"
    class="w-full h-full grid grid-cols-1 gap-5 px-10"
  >
    <mat-form-field class="w-full max-h-1">
      <mat-label>Área</mat-label>
      <input
        matInput
        type="text"
        formControlName="baUnitZonaArea"
      />
      <mat-error
        *ngIf="
          zoneBAUnitForm.controls['baUnitZonaArea'].hasError('required') &&
          zoneBAUnitForm.controls['baUnitZonaArea'].touched
        "
      >
        El área es obligatorio.
      </mat-error>
      <mat-error
        *ngIf="
          zoneBAUnitForm.controls['baUnitZonaArea'].hasError('invalidNumber') &&
          zoneBAUnitForm.controls['baUnitZonaArea'].touched
        "
      >
        Debe ingresar un número válido.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full max-h-1">
      <mat-label>Es un área común</mat-label>
      <mat-select
        formControlName="esComun"
      >
        <mat-option
          *ngFor="let option of ['Si', 'No']"
          [value]="option === 'Si' ? true : false "
        >
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full max-h-1" *ngIf="data.propertyType === 'Urbano'">
      <mat-label>Zona física urbana</mat-label>
      <mat-select
        formControlName="ccZonaHomoFisicaUr"
        [compareWith]="compareZones"
      >
        <mat-option
          *ngFor="let zone of divPolUrbana"
          [value]="zone"
        >
          {{ zone.zonaHomoFisicaUrCode }} -
          {{ zone.domTipificacionConstruccionTipo }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          zoneBAUnitForm.controls['ccZonaHomoFisicaUr'].hasError('required') &&
          zoneBAUnitForm.controls['ccZonaHomoFisicaUr'].touched
        "
      >
        La zona es obligatoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full max-h-1" *ngIf="data.propertyType === 'Rural'">
      <mat-label>Zona física rural</mat-label>
      <mat-select
        formControlName="ccZonaHomoFisicaRu"
        [compareWith]="compareZones"
      >
        <mat-option
          *ngFor="let zone of divPolRural"
          [value]="zone"
        >
          {{ zone.zonaHomoFisicaRuCode }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          zoneBAUnitForm.controls['ccZonaHomoFisicaRu'].hasError('required') &&
          zoneBAUnitForm.controls['ccZonaHomoFisicaRu'].touched
        "
      >
        La zona es obligatoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full max-h-1" *ngIf="data.propertyType === 'Geoeconomica'">
      <mat-label>Zona geoeconómica</mat-label>
        <mat-select
          formControlName="ccZonaHomoGeoEconomica"
          [compareWith]="compareZones"
        >
          <mat-option
            *ngFor="let zone of divPolGeoeconomica"
            [value]="zone"
          >
            {{ zone.zonaHomoGeoEconomicaCode }}
          </mat-option>
        </mat-select>
      <mat-error
        *ngIf="
          zoneBAUnitForm.controls['ccZonaHomoGeoEconomica'].hasError(
            'required'
          ) && zoneBAUnitForm.controls['ccZonaHomoGeoEconomica'].touched
        "
      >
        La zona es obligatoria.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button
    color="primary"
    mat-raised-button
    type="submit"
    (click)="onSave()"
  >
    Guardar
    <mat-icon svgIcon="mat:save"></mat-icon>
  </button>
  <button
    color="warn"
    mat-stroked-button
    mat-dialog-close
    type="button"
  >
    Cerrar
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</mat-dialog-actions>

<swal
  #errorForm
  title="Error"
  icon="error"
  text="Por favor, asegúrese que los campos son válidos y contengan solo números."
  confirmButtonColor="#3f51b5"
  confirmButtonText="Aceptar"
></swal>
