<!-- Encabezado de ventana modal -->
<details-header
  [assignedSee]="assignedSee()"
  [detailInformationData]="data"
></details-header>

<mat-divider class="text-border"></mat-divider>
<mat-dialog-content class="p-0 m-0">
  @if (message() !== null && message() !== "" && showAlert()) {
    <!-- Mensaje de alerta -->
    <div
      class="bg-blue-500 top-0 left-0 w-full p-4 flex items-center justify-between z-50"
    >
      <span class="text-white">{{ message() }}</span>
    </div>
  }
  <mat-tab-group class="w-full h-full">
    <!-- Detalles de la tarea -->
    <mat-tab label="Detalles de la tarea">
      <task-details
        [executionId]="executionId()"
        [taskDetails]="data.value"
      ></task-details>
    </mat-tab>

    <!-- Tareas ejecutadas -->
    <mat-tab label="Tareas ejecutadas">
      <tasks-executed [executionId]="executionId()"></tasks-executed>
    </mat-tab>

    <!-- Participantes -->
    <mat-tab label="Participantes">
      <vex-table-third-party-affected
        [executionId]="data.taskId"
        readOnly
      ></vex-table-third-party-affected>
    </mat-tab>

    <!-- Metadata -->
    <mat-tab label="Información adicional">
      <task-metadata [executionId]="executionId()"></task-metadata>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
