<div
  class="card overflow-hidden min-h-[5rem] shadow-md"
  [matBadge]="expirationDays()"
  [matBadgeColor]="badgeColor()"
  [matBadgeHidden]="!expirationDays()"
>
  <div
    (click)="
      openDetailProcessParticipant.emit(processParticipant()!.participationId)
    "
    class="pl-2 pr-2 pt-3 pb-2 text-center hover:bg-hover transition duration-400 ease-out-swift cursor-pointer relative"
    matRipple
  >
    <!--    <img [src]="imageSrc()" class="avatar h-11 w-11 mx-auto" alt="" />-->
    <div class="flex items-center justify-center min-h-3 pt-4">
      <h4 class="subheading-2 pl-2">
        {{ processParticipant()!.bpmParticipation }}
      </h4>
    </div>
    <div class="flex items-center justify-center">
      <mat-icon
        class="ltr:mr-1 rtl:ml-1 icon-xs"
        svgIcon="mat:receipt_long"
      ></mat-icon>
      <span class="sm:text-xs text-secondary">
        {{
          processParticipant()!.individual.domIndividualTypeNumber | titlecase
        }}
        - {{ processParticipant()!.individualNumber }}
      </span>
    </div>
    <div class="flex items-center justify-center">
      <mat-icon
        class="ltr:mr-1 rtl:ml-1 icon-xs"
        svgIcon="mat:people"
      ></mat-icon>
      <span class="sm:text-xs text-secondary">{{
        processParticipant()!.fullName | titlecase
      }}</span>
    </div>

    <div
      class="rounded px-2 py-1 font-medium text-xs flex-none bg-gray-600/10 absolute top-2 right-2"
      [ngClass]="
        processParticipant()!.viaGubernativa?.domGuvState ?? ''
          | citationNoticeClass
      "
    >
      {{
        processParticipant()!.viaGubernativa?.domGuvState | citationNoticeType
      }}
    </div>
  </div>

  <div class="bg-app-bar p-0 flex items-center justify-around">
    <div class="p-0 grid grid-cols-4 gap-2 items-center">
      <button
        type="button"
        mat-fab
        color="primary"
        class="my-1 w-8 h-8 rounded-md"
        matTooltip="Citar participante"
        matTooltipPosition="below"
        [disabled]="
          processParticipant()!.viaGubernativa?.domGuvState !== 'Citacion'
        "
        (click)="executeCitation()"
      >
        <mat-icon svgIcon="mat:notifications"></mat-icon>
      </button>

      <button
        type="button"
        mat-fab
        class="my-1 w-8 h-8 rounded-md bg-green-600"
        matTooltip="Notificar participante"
        matTooltipPosition="below"
        [matTooltipDisabled]="false"
        [disabled]="
          processParticipant()!.viaGubernativa?.domGuvState !== 'Citado'
        "
        (click)="executeNotification()"
      >
        <mat-icon svgIcon="mat:event_note"></mat-icon>
      </button>
      <button
        type="button"
        mat-fab
        class="my-1 w-8 h-8 rounded-md bg-amber-600"
        matTooltip="Avisar participante"
        matTooltipPosition="below"
        [disabled]="
          processParticipant()!.viaGubernativa?.domGuvState !== 'Notificado'
        "
        (click)="executeAdvertisement()"
      >
        <mat-icon svgIcon="mat:chat"></mat-icon>
      </button>
      <button
        type="button"
        mat-icon-button
        class="my-1 p-0 w-8 h-8 rounded-md"
        matTooltip="Imprimir"
        matTooltipPosition="below"
        [disabled]="isPrintDisabled()"
        (click)="onPrint()"
      >
        <mat-icon svgIcon="mat:print"></mat-icon>
      </button>
    </div>
  </div>
</div>
