<vex-page-layout>
  <vex-page-layout-content class="-mt-2 px-5">
    <div class="card overflow-auto mat-elevation-z5">
      <div
        class="bg-app-bar px-4 h-16 border-b sticky left-0 flex items-center"
      >
        <button
          class="rounded-full py-2 px-6 title"
          color="primary"
          mat-button
          (click)="createAdvancedSearch()"
          type="button"
        >
          <mat-icon
            class="ltr:-ml-2 rtl:-mr-2 ltr:mr-2 rtl:ml-2 !icon-lg"
            svgIcon="mat:search"
          ></mat-icon>
          <span>{{ titleMenu }}</span>
        </button>
        <span class="flex-1"></span>
        <mat-form-field
          subscriptSizing="dynamic"
          class="pl-1 pr-1 pt-6 pb-6 flex flex-col"
        >
          <mat-icon
            matIconPrefix
            svgIcon="mat:search"
          ></mat-icon>
          <input
            matInput
            [formControl]="searchCtrl"
            placeholder="Filtrar resultados"
            type="text"
          />
        </mat-form-field>
      </div>
      <table
        @stagger
        [dataSource]="dataSource"
        class="w-full"
        mat-table
        matSort
      >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th
            *matHeaderCellDef
            mat-header-cell
            class="pl-1 pr-1"
          >
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              color="primary"
            >
            </mat-checkbox>
          </th>
          <td
            *matCellDef="let row"
            class="w-4 pl-1 pr-1"
            mat-cell
          >
            <mat-checkbox
              (change)="$event ? selection.toggle(row) : null"
              (click)="$event.stopPropagation()"
              [checked]="selection.isSelected(row)"
              color="primary"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th
            *matHeaderCellDef
            mat-header-cell
            class="pl-1 pr-1"
          ></th>
          <td
            *matCellDef="let row"
            class="w-8 min-w-8 pl-1 pr-1"
            mat-cell
          >
            <img
              [src]="row['imageSrc']"
              class="avatar h-8 w-8 align-middle"
              alt=""
            />
          </td>
        </ng-container>

        <!-- View Map -->
        <ng-container matColumnDef="viewMap">
          <th
            *matHeaderCellDef
            class="pl-1 pr-1"
            mat-header-cell
            mat-sort-header
          ></th>
          <td
            *matCellDef="let row"
            class="pl-1 pr-1"
            mat-cell
          >
            <div class="flex">
              <button
                class="w-8 h-8 p-0 leading-none flex items-center justify-center ml-1 hover:bg-hover text-teal-600 bg-teal/10"
                (click)="openCadastralInformationProperty(row)"
                mat-icon-button
                title="Consultar información predial"
              >
                <mat-icon
                  class="icon-sm"
                  svgIcon="mat:info"
                ></mat-icon>
              </button>

              <button
                (click)="viewFile(row)"
                class="w-8 h-8 p-0 leading-none flex items-center justify-center ml-1 hover:bg-hover text-green-600 bg-green-600/10"
                mat-icon-button
                title="Descargar certificado"
              >
                <mat-icon
                  class="icon-sm"
                  svgIcon="mat:cloud_download"
                ></mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Text Columns -->
        @for (column of columns; track column.property) {
          @if (column.type === "text") {
            <ng-container [matColumnDef]="column.property">
              <th
                *matHeaderCellDef
                class="pl-1 pr-1"
                mat-header-cell
                mat-sort-header
              >
                {{ column.label }}
              </th>
              <td
                *matCellDef="let row"
                [ngClass]="column.cssClasses"
                mat-cell
                class="pl-1 pr-1"
              >
                {{ cleanHyphenatedText(row[column.property]) }}
              </td>
            </ng-container>
          } @else if (column.type === "operationType") {
            <ng-container [matColumnDef]="column.property">
              <th
                *matHeaderCellDef
                class="pl-1 pr-1"
                mat-header-cell
                mat-sort-header
              >
                {{ column.label }}
              </th>
              <td
                *matCellDef="let row"
                [ngClass]="column.cssClasses"
                mat-cell
                class="pl-1 pr-1"
              >
                {{ row[column.property] | currencyLands }}
              </td>
            </ng-container>
          }
        }

        <tr
          *matHeaderRowDef="visibleColumns"
          mat-header-row
        ></tr>
        <tr
          *matRowDef="let row; columns: visibleColumns"
          @fadeInUp
          class="hover:bg-hover transition duration-400 ease-out-swift cursor-pointer"
          mat-row
        ></tr>
      </table>
      @if (dataSource.data.length <= 0 || dataSource.filteredData.length <= 0) {
        <div class="no-data-information">No hay información disponible</div>
      }
      <mat-paginator
        #paginator
        [pageSizeOptions]="pageSizeOptions"
        [length]="totalElements"
        [pageSize]="pageSize"
        [pageIndex]="page"
        (page)="refreshInformationPaginator($event)"
        class="sticky left-0"
      ></mat-paginator>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
