<!-- <vex-page-layout> -->
    <br>
    <br>
   
<!-- </vex-page-layout> -->
<form [formGroup]="informationAddressForm">
    <vex-page-layout-content class="px-5 -mt-6">

        <div class="flex flex-col sm:flex-row sm:gap-4 mt-3 pt-3">
            <div class="form-content-item" >
                <mat-form-field class="flex-auto">
                    <mat-label>Fecha inicio</mat-label>
                    <input
                        matInput
                        [matDatepicker]="startDatepicker"
                        placeholder="Escriba o seleccione&hellip;"
                        formControlName="beginAtForm"
                        required/>
                    <mat-datepicker-toggle
                        [for]="startDatepicker"
                        matIconSuffix></mat-datepicker-toggle>
                    <!-- <mat-hint>Formato Fecha: dd/mm/yyyy</mat-hint> -->
                    <mat-datepicker #startDatepicker></mat-datepicker>
                </mat-form-field>
                <!-- Validaciones -->
              <mat-error *ngIf="beginAtForm?.touched && beginAtForm?.hasError('required')">Este campo es obligatorio.</mat-error>
              <mat-error *ngIf="beginAtForm?.hasError('dateComparison')">
                La fecha debe ser menor a la fecha  fin
              </mat-error>

              <!-- <div *ngIf="myForm.get('endDate')?.hasError('dateComparison') && myForm.get('endDate')?.touched" class="error-message">
                The end date must be greater than or equal to the start date.
              </div> -->

            </div>
            <mat-form-field class="flex-auto">
                <mat-label>Fecha fin</mat-label>
                <input
                    matInput
                    [matDatepicker]="endDatepicker"
                    placeholder="Escriba o seleccione&hellip;"
                    formControlName="beginAtEForm"
                    />
                <mat-datepicker-toggle
                    [for]="endDatepicker"
                    matIconSuffix></mat-datepicker-toggle>
                <!-- <mat-hint>Formato Fecha: dd/mm/yyyy</mat-hint> -->
                <mat-datepicker #endDatepicker></mat-datepicker>
            </mat-form-field>

            <!-- <mat-label>Número radicado</mat-label> -->
            <!-- <input
            matInput
            formControlName="executionCodeForm"
            placeholder="Ingresa el número de radicado&hellip;"
            inputmode="numeric"
            pattern="\d*"
                /> -->
                <!-- <div class="form-content-item">
                    <p><strong>Piso</strong></p>
                    <input
                      matInput
                      label="Piso"
                      type="text"
                      idComboInput="executionCodeForm"
                      formControlNameInput="executionCodeForm"
                    >
                </div> -->
               
           
            <!-- <button data-balloon-length="xlarge" aria-label="What about something really big? This may surpass your window dimensions. Imagine you're on that boring class with that boring teacher and you didn't slept so well last night. Suddenly you're sleeping in class. Can you believe it?!" data-balloon-pos="up">I'm a Xlarge tooltip</button> -->

            <mat-form-field class="flex-auto">
                <mat-label>Documento personal</mat-label>
                <input
                    matInput
                    formControlName="individualNumberPartForm"
                    placeholder="Ingresa el número de documento&hellip;"
                    inputmode="numeric"
                    pattern="\d*"
                    />
            </mat-form-field>
            <span
            class="tooltip-warning"
            style="z-index: 100000;"
            data-balloon-visible aria-label="xlarge" aria-label="Cuando buscas por el campo Radicado no puedes buscar por Documento" data-balloon-pos="up"
            svgIcon="mat:info" 
            *ngIf="seeInfo"
            >
            <mat-icon  svgIcon="mat:info" ></mat-icon>
            
        </span>
            <mat-form-field class="flex-auto">
                <mat-label>Documento personal</mat-label>
                <input
                    matInput
                    placeholder="Ingresa el número de documento&hellip;"
                    inputmode="numeric"
                    pattern="\d*"
                    />
            </mat-form-field>

            <button class="mt-1" color="primary" mat-raised-button type="button"  (click)="onSearch()">
                <mat-icon svgIcon="mat:search"></mat-icon>Buscar
            </button>
        </div>

    </vex-page-layout-content>
</form>