<vex-page-layout>
    <vex-page-layout-content class="px-5 -mt-6">

        <div class="flex flex-col sm:flex-row sm:gap-4 mt-3 pt-3">
            <mat-form-field class="flex-auto">
                <mat-label>Fecha inicio</mat-label>
                <input
                    matInput
                    [matDatepicker]="startDatepicker"
                    placeholder="Escriba o seleccione&hellip;"
                    [(ngModel)] = "beginAt"
                    (input)="validateDate($event)"
                    required/>
                <mat-datepicker-toggle
                    [for]="startDatepicker"
                    matIconSuffix></mat-datepicker-toggle>
                <!-- <mat-hint>Formato Fecha: dd/mm/yyyy</mat-hint> -->
                <mat-datepicker #startDatepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="flex-auto">
                <mat-label>Fecha fin</mat-label>
                <input
                disabled
                    matInput
                    [matDatepicker]="endDatepicker"
                    placeholder="Escriba o seleccione&hellip;"
                    [(ngModel)] = "beginAtE"
                    (input)="validateDate($event)"/>
                <mat-datepicker-toggle
                    [for]="endDatepicker"
                    matIconSuffix></mat-datepicker-toggle>
                <!-- <mat-hint>Formato Fecha: dd/mm/yyyy</mat-hint> -->
                <mat-datepicker #endDatepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="flex-auto">
                <mat-label>Executing ID</mat-label>
                <input
                disabled
                    matInput
                    [(ngModel)]="executionCode"
                    placeholder="Ingresa el número de radicado&hellip;"
                    inputmode="numeric"
                    pattern="\d*"
                    (input)="validateNumber($event)"/>
            </mat-form-field>

            <mat-form-field class="flex-auto">
                <mat-label>Documento personal</mat-label>
                <input
                    matInput
                    [(ngModel)]="individualNumber"
                    placeholder="Ingresa el número de documento&hellip;"
                    inputmode="numeric"
                    pattern="\d*"
                    (input)="validateNumber($event)"  />
            </mat-form-field>

            <button class="mt-1" color="primary" mat-raised-button type="button" (click)="onSearch()">
                <mat-icon svgIcon="mat:search"></mat-icon>Buscar
            </button>
        </div>

        <div class="card overflow-auto mt-8"> <!-- mt-16 -->
            <div class="bg-app-bar px-4 h-16 border-b sticky left-0 flex items-center">
                <span class="flex-1"></span>
                <!-- Campo de búsqueda -->
                <mat-form-field subscriptSizing="dynamic" class="pl-1 pr-1 pt-6 pb-6 flex flex-col">
                    <mat-icon matIconPrefix svgIcon="mat:search"></mat-icon>
                    <input
                        matInput
                        [formControl]="searchCtrl"
                        placeholder="Buscar dominio&hellip;"
                        type="text"/>
                </mat-form-field>

                <!-- Botón de filtro -->
                <button
                    [matMenuTriggerFor]="columnFilterMenu"
                    mat-icon-button
                    matTooltip="Filter Columns"
                    type="button"
                    class="ml-4 flex-col">
                    <mat-icon svgIcon="mat:filter_list"></mat-icon>
                </button>
            </div>

            <!-- Tabla de dominios -->
            <table @stagger mat-table [dataSource]="dataSource" class="w-full " matSort>
                <!-- Text Columns -->
                <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                    <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
                            {{ column.label }}
                        </th>
                        <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                            {{ row[column.property] }}
                        </td>
                    </ng-container>

                    <ng-container *ngIf="column.type === 'date'" [matColumnDef]="column.property">
                        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
                            {{ column.label }}
                        </th>
                        <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                            <mat-icon matIconPrefix *ngIf="column.property === 'originalFileName'" svgIcon="mat:picture_as_pdf" class="w-5 h-5 p-0 items-center justify-center text-red-600"></mat-icon>
                            {{ row[column.property] | date:'YYYY-MM-dd' }}
                        </td>
                    </ng-container>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: visibleColumns;" @fadeInUp class="hover:bg-hover transition duration-400 ease-out-swift cursor-pointer"></tr>
            </table>

            <!-- Paginador -->
            <mat-paginator
                #paginator
                [class.hidden]="!(isDesktop$ | async)"
                [pageSizeOptions]="pageSizeOptions"
                [length]="totalElements"
                [pageSize]="pageSize"
                [pageIndex]="page"
                (page)="refreshInformationpaginator($event)"
                class="sticky left-0 flex flex-col">
            </mat-paginator>
        </div>
    </vex-page-layout-content>
</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button
        (click)="toggleColumnVisibility(column, $event)"
      *ngFor="let column of columns"
        class="mat-menu-item block">
        <mat-checkbox
            (click)="$event.stopPropagation()"
            [(ngModel)]="column.visible"
            color="primary">
            {{ column.label }}
        </mat-checkbox>
    </button>
</mat-menu>
