<div class="w-full h-full flex flex-col shadow-md"
     *ngIf="isExistDataInformation$ | async">
  <vex-header-tasks
    id="assignedTasks"
    [label]="label"
    icon="mat:contacts"
    (outSearchStr)="onFilterChange($event)">
  </vex-header-tasks>
  <div class="h-full flex flex-col" vexFluidHeight>
    <div
      *ngIf="(listProTasksECards?.length ?? 0) > 0"
      @stagger
      class="overflow-y-auto flex-auto">
      <div
        class="p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-6 container-fluid">
        <vex-task-card
          *ngFor="let proTaskE of listProTasksECards; trackBy: trackByExecutionId"
          [idCard]="proTaskE.executionId?.toString()"
          [protaskE]="proTaskE"
          (openProtaskE)="openBpmCodeProtaskE($event)"
          (openDetailProtaskE)="openDetailProtaskE($event)"
          @fadeInUp></vex-task-card>
      </div>
    </div>

    <div
      *ngIf="(listProTasksECards?.length ?? 0) === 0"
      @scaleFadeIn
      class="flex-auto flex flex-col items-center justify-center">
      <img class="m-12 h-64" [src]="'./assets/img/illustrations/idea.svg'" alt="" />
      <h2 class="headline m-0 text-center">
        {{ 'No hay Tareas activas que coincidan con tu búsqueda' }}
      </h2>
    </div>
  </div>
</div>
<div class="vex-footer vex-footer-task w-100 p-0"
     *ngIf="isExistDataInformation$ | async">
  <div class="flex-auto flex items-center justify-items-center w-full container w-100">
    <div class="font-medium ltr:ml-3 rtl:mr-3 hidden sm:block">
      <span class="hidden min-w-[150px]">
        Vex - Angular 17+ Material Design Admin Template - Save 100s of hours
      designing and coding
      </span>

    </div>
    <span class="flex-none w-14"></span>
    <mat-paginator
      #paginator
      [pageSizeOptions]="pageSizeOptions"
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageIndex]="page"
      (page)="refreshInformationPaginator($event)"
    class="grow ">
    </mat-paginator>
    <span class="flex-none w-14 min-w-[70px]"></span>
  </div>
</div>
<vex-loading-app
  *ngIf="!(isExistDataInformation$ | async)"
  #vexSplashScreen
  idLoading="vexSplashScreen"
  [showImage]="true"></vex-loading-app>
