.vex-footer {
  background: var(--vex-toolbar-background);
  box-shadow: var(--vex-footer-elevation);
  position: fixed;
}

.vex-footer-task {
  width: 100%;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.vex-layout-footer-fixed {
  .vex-footer {
    box-shadow: var(--vex-footer-elevation);
    position: fixed;
  }

  .vex-layout-content {
    margin-bottom: var(--vex-footer-height);
    min-height: calc(
      100% - var(--vex-toolbar-height) - var(--vex-navigation-height) - var(--vex-footer-height)
    );
  }

  &.vex-layout-scroll-disabled .vex-layout-content {
    height: calc(
      100% - var(--vex-toolbar-height) - var(--vex-navigation-height) - var(--vex-footer-height)
    );
  }
}
