<h2 mat-dialog-title>{{ actionBtnLabel() }} usuario</h2>
<mat-divider class="border-slate-400"></mat-divider>
<mat-dialog-content>
  <section class="w-full flex gap-2">
    <vex-dynamic-forms
      class="w-full"
      [inputs]="searchInputs"
      (formReady)="searchForm = $event"
      [disabled]="searchFormDisabled"
      [initValues]="initValuesSearchForm"
      className="w-full flex gap-2"
    ></vex-dynamic-forms>
    <button
      #searchButton
      mat-flat-button
      color="primary"
      class="max-w-fit min-w-24"
      (click)="searchIndividual()"
      [disabled]="searchFormDisabled"
    >
      Buscar
      <mat-icon svgIcon="mat:search"></mat-icon>
    </button>
  </section>
  <mat-divider class="border-slate-300"></mat-divider>
  <h2 class="text-center text-xl font-bold mt-2 text-slate-800">{{ individualFound?.fullName }}</h2>
  <section class="pt-4">
    <vex-dynamic-forms
      [inputs]="createUserInputs"
      (formReady)="newUserForm = $event"
      [disabled]="newUserFormDisabled"
      [initValues]="data"
    ></vex-dynamic-forms>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-flat-button
    color="primary"
    (click)="actionBtn()"
  >
    {{ actionBtnLabel()}}
    <mat-icon svgIcon="mat:add"></mat-icon>
  </button>
  <button
    mat-flat-button
    color="warn"
    mat-dialog-close
  >
    Cancelar
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</mat-dialog-actions>
