<h2 mat-dialog-title>Crear usuario</h2>
<mat-divider class="border-slate-400"></mat-divider>
<mat-dialog-content>
  <section class="w-full flex gap-2">
    <dynamic-forms
      class="w-full"
      [inputs]="searchInputs"
      (formReady)="searchForm = $event"
      className="w-full flex gap-2"
    ></dynamic-forms>
    <button
      #searchButton
      mat-flat-button
      color="primary"
      class="max-w-fit min-w-24"
      (click)="searchIndividual()"
    >
      Buscar
      <mat-icon svgIcon="mat:search"></mat-icon>
    </button>
  </section>
  <mat-divider class="border-slate-300"></mat-divider>
  <section class="pt-4">
    <dynamic-forms
      [inputs]="createUserInputs"
      (formReady)="newUserForm = $event"
      [disabled]="newUserFormDisabled"
    ></dynamic-forms>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-flat-button
    color="primary"
    (click)="createUser()"
  >
    Crear
    <mat-icon svgIcon="mat:add"></mat-icon>
  </button>
  <button
    mat-flat-button
    color="warn"
    mat-dialog-close
  >
    Cancelar
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</mat-dialog-actions>
