<vex-page-layout
  [id]="this.id"
  mode="card"
  class="pb-0"
  *ngIf="isExistDataInformations$ | async"
>
  <vex-page-layout-content class="container-fluid px-5 py-3">
    <div class="card" vexMinFluidHeight [fluidHeight]="mode === 3 ? 230: 220">
      <div class="px-3 py-3 sm:min-w-full md:min-w-[300px]">
        <div class="rounded-tr rounded-br border-l-3 p-0 m-0 flex flex-col sm:flex-row items-center gap-3">
          @if (mode === 1 || mode === 3) {
            <!-- ADD BAUNIT-->
            <button
              class="rounded-full"
              [ngClass]="buttonsClass(TYPE_BUTTON_ONE)"
              color="primary"
              mat-raised-button
              type="button"
              [disabled]="disabledButton(TYPE_BUTTON_ONE)"
              (click)="executeCrudAlfaMain(TYPE_OPERATION_CREATE)">
              <mat-icon
                class="ltr:-ml-2 rtl:-mr-2 ltr:mr-2 rtl:ml-2 !icon-sm"
                svgIcon="mat:add_circle_outline"
              ></mat-icon>
              <span>Agregar</span>
            </button>
            <!-- CREATE BAUNIT-->
            <button
              class="rounded-full"
              [ngClass]="buttonsClass(TYPE_BUTTON_TWO)"
              mat-raised-button
              type="button"
              (click)="executeCrudAlfaMain(TYPE_OPERATION_ADD)"
              [disabled]="disabledButton(TYPE_BUTTON_TWO)">
              <mat-icon
                class="ltr:-ml-2 rtl:-mr-2 ltr:mr-2 rtl:ml-2 !icon-sm"
                svgIcon="mat:add"
              ></mat-icon>
              <span>Crear</span>
            </button>
            <!-- EARSER BAUNIT-->
            <button
              class="rounded-full"
              [ngClass]="buttonsClass(TYPE_BUTTON_TREE)"
              color="warning"
              mat-raised-button
              type="button"
              (click)="executeCrudAlfaMain(TYPE_OPERATION_DELETE)"
              [disabled]="disabledButton(TYPE_BUTTON_TREE)">
              <mat-icon
                class="ltr:-ml-2 rtl:-mr-2 ltr:mr-2 rtl:ml-2 !icon-sm"
                svgIcon="mat:delete"
              ></mat-icon>
              <span>Borrar</span>
            </button>
          }
          <button
            class="rounded-full"
            color="primary"
            mat-raised-button
            type="button"
            (click)="analyzeChangesOperationAlfaMain()">
            <mat-icon
              class="ltr:-ml-2 rtl:-mr-2 ltr:mr-2 rtl:ml-2 !icon-sm"
              svgIcon="mat:analytics"
            ></mat-icon>
            <span>Analizar cambio</span>
          </button>
          @if (mode === 3) {
            <!-- CREATE TEMPORAL GEO -->
            <button
              class="rounded-full"
              [ngClass]="buttonsClass(TYPE_BUTTON_FOUR)"
              mat-raised-button
              type="button"
              (click)="executeCreateAlfaGeo(TYPE_OPERATION_CREATE_GEO)"
              [disabled]="disabledButton(TYPE_BUTTON_FOUR)">
              <mat-icon
                class="ltr:-ml-2 rtl:-mr-2 ltr:mr-2 rtl:ml-2 !icon-sm"
                svgIcon="mat:add"
              ></mat-icon>
              <span>Crear cambio Geo</span>
            </button>
            <!-- DELETED TEMPORAL GEO -->
            <button
              class="rounded-full"
              [ngClass]="buttonsClass(TYPE_BUTTON_FIVE)"
              color="warning"
              mat-raised-button
              type="button"
              (click)="executeDeletedAlfaGeo(TYPE_OPERATION_DELETE_GEO)"
              [disabled]="disabledButton(TYPE_BUTTON_FIVE)">
              <mat-icon
                class="ltr:-ml-2 rtl:-mr-2 ltr:mr-2 rtl:ml-2 !icon-sm"
                svgIcon="mat:delete"
              ></mat-icon>
              <span>Eliminar cambio Geo</span>
            </button>
            <!-- CALCULATE BOUNDARIES  -->
            <button
              class="rounded-full"
              [ngClass]="buttonsClass(TYPE_BUTTON_SIX)"
              color="primary"
              mat-raised-button
              type="button"
              [disabled]="disabledButton(TYPE_BUTTON_SIX)"
              (click)="executeCalculateBoundaries(TYPE_OPERATION_CALCULATE_BOUNDARIES)">
              <mat-icon
                class="ltr:-ml-2 rtl:-mr-2 ltr:mr-2 rtl:ml-2 !icon-sm"
                svgIcon="mat:data_usage"
              ></mat-icon>
              <span>Calcular Linderos</span>
            </button>
          } @else {
            <span class="sm:flex-auto"></span>
          }
          <span class="sm:flex-auto xl:flex-1"></span>
          @if (mode === 1) {
            <button
              class="rounded-full py-2 title flex-1 items-end xl:max-w-[180px] sm:min-w-[80px] !text-white !bg-amber-600"
              mat-raised-button
              type="button"
              (click)="clearInformationAlfaMain()">
              <mat-icon
                class="ltr:-ml-2 rtl:-mr-2 ltr:mr-2 rtl:ml-2 !icon-sm"
                svgIcon="mat:restart_alt"
              ></mat-icon>
              <span>Reinicia cambio</span>
            </button>
          }
        </div>
      </div>
      <div class="w-full container-fluid bg-foreground p-0 py-0 px-0"></div>
      <mat-accordion
        multi
        class="w-full flex flex-col justify-between py-3 px-5 classTableAlfaMain accordion-headers-align"
        *ngIf="
          listOperationContentInformation !== null &&
          listOperationContentInformation.length > 0
        "
      >
        @for (obj of listOperationContentInformation;
          track obj;
          let index = $index) {
          <mat-expansion-panel [expanded]="index === 0" class="py-0 px-0">
            <mat-expansion-panel-header
              class="mat-expansion-zones bg-app-bar focus-visible:bg-app-bar focus:bg-app-bar pb-0 py-1 border-b sticky left-0 flex text-start items-center">
              <div class="w-full px-0 py-0 flex text-start items-center">
                <h4 class="subheading-1 mb-1 mt-1 w-full flex items-center">
                  <span @scaleIn
                        class="w-10 h-10 rounded-full text-primary-600 mr-3 flex items-center justify-center bg-primary-600/10">
                    <mat-icon
                      svgIcon="mat:description"
                      class="icon-xs"
                    ></mat-icon>
                  </span>
                  <span
                    @fadeInRight
                    class="block"
                  >Manzana o vereda - {{ obj.npnlike }}</span
                  >
                </h4>
              </div>
            </mat-expansion-panel-header>
            <mat-panel-description class="py-0 px-0 m-0">
              <vex-table-alfa-main
                class="w-full flex flex-col justify-between py-0"
                [contentInformations]="obj.contentInformations"
                [executionId]="executionId"
                [mode]="mode"
                [resources]="resources"
                (refreshData)="getAlfaMain()"
              ></vex-table-alfa-main>
            </mat-panel-description>
          </mat-expansion-panel>
        }
      </mat-accordion>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
<vex-loading-app
  *ngIf="(isExistDataInformations$ | async) === false"
  #vexSplashScreen
  idLoading="vexSplashScreen"
  [showImage]="true">
</vex-loading-app>

