<div class="container-fluid h-100 main-container">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat" [ngClass]="{'d-none': !isSearchVisible, 'd-block': isSearchVisible}">
            <div class="card mb-sm-3 mb-md-0 contacts_card" style="height: 402px;">
                <div class="card-header small-card-header">
                    <div class="input-group">
                        <input type="text" placeholder="Search..." name="" class="form-control search small-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text search_btn small-btn"><fa-icon
                                    [icon]="['fas', 'search']"></fa-icon></span>
                        </div>
                    </div>
                </div>
                <div class="card-body contacts_body small-card-body">
                    <ul class="contacts">
                        <!-- Contact List -->
                    </ul>
                </div>
                <div class="card-footer small-card-footer"></div>
            </div>
        </div>
        <div class="col-md-8 col-xl-9 chat">
            <div class="card small-card">
                <div class="card-header msg_head small-card-header">
                    <div class="d-flex bd-highlight">
                        <button class="btn btn-secondary small-btn" (click)="toggleSearch()">
                            <fa-icon
                                [icon]="isSearchVisible ? ['fas', 'chevron-right'] : ['fas', 'chevron-left']"></fa-icon>
                        </button>
                        <div class="img_cont ml-2" style="width: 40px; padding-top: 5px;">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                class="rounded-circle user_img small-img">
                        </div>
                        <div class="user_info ml-2 small-user-info">
                            <span>Chatea con el asesor</span>
                        </div>
                        <div class="video_cam ml-auto">
                            <span (click)="toggleRecording()">
                                <fa-icon [icon]="isRecording ? ['fas', 'stop'] : ['fas', 'microphone']"></fa-icon>
                            </span>
                            <span (click)="toggleSound()">
                                <fa-icon [icon]="isSoundOn ? ['fas', 'volume-up'] : ['fas', 'volume-mute']"></fa-icon>
                            </span>
                            <span (click)="toggleIcon()">
                                <fa-icon [icon]="isRobot ? ['fas', 'robot'] : ['fas', 'user']"></fa-icon>
                            </span>
                        </div>
                    </div>
                    <span id="action_menu_btn"><fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon></span>
                    <div class="action_menu small-action-menu">
                        <ul>
                            <li><fa-icon [icon]="['fas', 'user-circle']"></fa-icon> View profile</li>
                            <li><fa-icon [icon]="['fas', 'users']"></fa-icon> Add to close friends</li>
                            <li><fa-icon [icon]="['fas', 'plus']"></fa-icon> Add to group</li>
                            <li><fa-icon [icon]="['fas', 'ban']"></fa-icon> Block</li>
                        </ul>
                    </div>
                </div>
                <div class="card-body msg_card_body small-card-body" id="chat">
                    <div *ngFor="let message of messages"
                        [ngClass]="{'justify-content-end': message.from === 'me', 'justify-content-start': message.from === 'other'}"
                        class="d-flex mb-4 small-message">
                        <div *ngIf="message.from === 'other'" class="img_cont_msg">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                class="rounded-circle user_img_msg small-img">
                        </div>
                        <div
                            [ngClass]="{'msg_cotainer_send': message.from === 'me', 'msg_cotainer': message.from === 'other'}">
                            {{ message.text }}
                        </div>
                        <div *ngIf="message.from === 'me'" class="img_cont_msg">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-Tq1jDF1cvI047mHZNR_Cp8kHY4Tc3wm1mw&s"
                                class="rounded-circle user_img_msg small-img">
                        </div>
                    </div>
                    <div *ngIf="isTyping" class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                class="rounded-circle user_img_msg small-img">
                        </div>
                        <div class="msg_cotainer">
                            <div class="typing small-typing">
                                <div class="dot small-dot"></div>
                                <div class="dot small-dot"></div>
                                <div class="dot small-dot"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer small-card-footer">
                    <div class="input-group small-input-group">
                        <div class="input-group-append">
                            <span class="input-group-text attach_btn small-btn"><fa-icon
                                    [icon]="['fas', 'paperclip']"></fa-icon></span>
                        </div>
                        <textarea [(ngModel)]="newMessage" id="messageInput" class="form-control type_msg small-input"
                            placeholder="Type your message..." [disabled]="isInputDisabled"></textarea>
                        <div class="input-group-append">
                            <button class="btn btn-primary send_btn small-btn" (click)="sendMessage()"><fa-icon
                                    [icon]="['fas', 'paper-plane']"></fa-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>