@import "@uiw/react-md-editor/markdown-editor.css";

.w-md-editor-toolbar {
  height: 2.5rem;

  li {
    height: 2rem;
    height: 2.5rem !important;
  }

  li:not(.w-md-editor-toolbar-divider) {
    width: 2rem;
  }

  svg {
    width: 1.1rem;
    height: 1.1rem;
  }
}

.w-md-editor-preview {
  ul {
    list-style-type: disc !important;
    padding-left: 2em !important;
  }

  ol {
    list-style-type: decimal !important;
    padding-left: 2em !important;
  }

  li {
    display: list-item !important;
  }
}
