/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

.status-badge {
  @apply inline-block px-4 py-2 rounded-lg w-28 text-center font-medium;
}

.Finalizado {
  @apply bg-blue-500 text-slate-100;
}

.Anulado {
  @apply bg-red-500 text-slate-100;
}

.Activo {
  @apply bg-green-500 text-slate-800;
}