@if (activateGeographicTab) {
  <vex-tab-alfa-geo-main
    [id]="this.id + 'vex-tab-alfa-geo-main14'"
    [executionId]="executionId"
    [resources]="resources"
    [mode]="mode"
    [textTabGeoMain]="CONSTANT_TEXT_GEO_MAIN_ALFA"
    [textTabAlfaMain]="CONSTANT_TEXT_ALFA_MAIN_ALFA">
  </vex-tab-alfa-geo-main>
} @else if (!activateGeographicTab) {
  <vex-alfa-main-information
    [id]="this.id + 'vex-tab-alfa-geo-main14'"
    [executionId]="executionId"
    [resources]="resources"
    [mode]="mode"
    [fluidHeight]="fluidHeight"
  ></vex-alfa-main-information>
}

