// @formatter:off
body {
  --mat-table-header-container-height-geo-getion: 50px;
  --mat-expansion-header-expanded-state-height-geo-getion: 40px;
  --mat-expansion-header-expanded-other-state-height-geo-getion: 36px;
}
// @formatter:on
