<div class="flex items-center" mat-dialog-title [id]="id">
  <div class="flex-auto">
    <div class="col-span-1 md:col-span-2">
      <h4 class="subheading-2 m-0 flex-auto">{{ 'Cargar Documento Excel' }}</h4>
      <p class="text-[#666666] text-sm mb-2">Tamaño máximo de archivo: 50 MB</p>
    </div>
  </div>
  @if (!isLoading) {
    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button"
      tabindex="-1">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  }
</div>

<mat-divider class="text-border"></mat-divider>
<!-- Formulario de adjuntos -->
<mat-dialog-content [@stagger]="true" class="flex flex-col px-2" [class.loading]="isLoading">
  <!-- Spinner para la carga -->
  @if (isLoading) {
    <div class="full-screen-spinner">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  }
  @if (!isLoading) {
    <!-- Layout del Formulario -->
    <vex-page-layout class="overflow-hidden">
      <vex-page-layout-content class="container-fluid p-0 overflow-hidden m-0">
        <div class="col-span-1 md:col-span-2">
          <ngx-dropzone class="m-0" (change)="onSelect($event)">
            <ngx-dropzone-label>
              <div class="flex flex-col items-center text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-8 h-8 text-gray-500 dark:text-gray-400"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z"
                  />
                </svg>
                Carga o arrastra tu archivo
              </div>
            </ngx-dropzone-label>
            <ngx-dropzone-preview
              *ngFor="let file of uploadedFiles"
              [removable]="true"
              (removed)="onRemove(file)">
              <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
      </vex-page-layout-content>
    </vex-page-layout>
    <!-- Botones de acción -->
    <mat-dialog-actions align="end">
      <button mat-button
              mat-dialog-close type="button"
              [mat-dialog-close]="false">
        Cancelar
      </button>
      <button
        type="button"
        color="primary"
        mat-flat-button
        (click)="downloadExcel()">
        Cargar
      </button>
    </mat-dialog-actions>
  }
</mat-dialog-content>
