<vex-page-layout
  mode="card"
  class="pb-0"
>
  <vex-page-layout-content class="container-fluid px-1 py-1">
    <mat-tab-group
      class="overflow-hidden"
      dynamicHeight
      animationDuration="500ms"
      preserveContent
      (selectedIndexChange)="changeTabSelected($event)"
    >
      <!-- Informacion alfanumerica -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon
            class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2"
            svgIcon="mat:archive"
          ></mat-icon>
          {{ textTabAlfaMain }}
        </ng-template>
        <vex-alfa-main-information
          [executionId]="executionId"
          [resources]="resources"
          [mode]="mode"
        ></vex-alfa-main-information>
      </mat-tab>

      <!-- Mapa Geografico -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon
            class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2"
            svgIcon="mat:map"
          ></mat-icon>
          {{ textTabGeoMain }}
        </ng-template>
        <div
          class="h-full flex flex-col container-fluid xl:px-1 xl:py-1 sm:px-3 sm:py-3"
          vexFluidHeight
          fluidHeight="197"
        >
          <vex-geographic-viewer-embedded
            [executionId]="executionIdGeo"
            [schema]="schema"
            [enableRefreshButton]="enableRefreshButton"
            [getData]="selectedMapTab()"
            vexFluidHeight
            fluidHeight="195"
          ></vex-geographic-viewer-embedded>
        </div>
      </mat-tab>
    </mat-tab-group>
  </vex-page-layout-content>
</vex-page-layout>
