<div class="flex flex-col sm:flex-row lg:gap-1 sm:gap-6 sm:mt-3 lg:mt-2">
  <vex-combox-colletion
    idComboCollection="typeNumberDocument"
    label="Tipo de documento"
    formControlNameCombobox="typeNumberDocument"
    typeDomainName="IndividualTypeNumber"
    placeholderDomainName="Ponga tipo documento&hellip;"
    cssClasses="sm:w-full sm:ml-2 sm:mr-2 flex flex-initial min-w-[290px] sm:min-w-[330px]"
  ></vex-combox-colletion>
  <mat-form-field class="sm:ml-2 sm:mr-2 sm:flex-1 lg:flex-auto">
    <mat-label>Documento</mat-label>
    <input
      type="type"
      formControlName="numberID"
      matInput />
    <mat-icon matIconPrefix svgIcon="mat:assignment"></mat-icon>
  </mat-form-field>
  <div class="sm:ml-2 sm:mr-2 lg:mt-1 xl:mt-1 flex-none">
    <button color="primary" mat-raised-button type="button"
            (click)="findParticipant()">
      <mat-icon svgIcon="mat:search"></mat-icon>
      Buscar
    </button>
  </div>
  <vex-combox-colletion
    idComboCollection="typeParticipation"
    label="Tipo Participacion"
    formControlNameCombobox="typeParticipation"
    typeDomainName="BpmParticipation"
    placeholderDomainName="Ponga tipo documento&hellip;"
    cssClasses="sm:w-full sm:ml-2 sm:mr-2 flex flex-initial min-w-[250px] sm:min-w-[380px]"
  ></vex-combox-colletion>
</div>
<div class="flex flex-col sm:flex-row lg:gap-1 sm:gap-6">
  <mat-form-field class="sm:w-full sm:ml-2 sm:mr-2 sm:flex-1 lg:flex-auto max-w-[430px] sm:min-w-[320px]">
    <mat-label>Nombre Completo Persona</mat-label>
    <input
      formControlName="personCompleted"
      matInput/>
  </mat-form-field>
  <div class="sm:ml-2 sm:mr-2 lg:mt-1 xl:mt-1 flex-none">
    <button color="primary" mat-raised-button type="button"
            (click)="addParticipantToList()">
      <mat-icon svgIcon="mat:contacts"></mat-icon>
      Agregar participante
    </button>
  </div>
</div>
<div class="flex flex-col px-2 py-4 pt-0 sm:flex-row" vexMinFluidHeight fluidHeight=470>
  <div class="w-full overflow-auto mat-elevation-z3">
    <table
      @stagger
      [dataSource]="dataSource"
      class="w-full"
      mat-table
      matSort>

      <!-- Text Columns -->
      <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
        <ng-container
          *ngIf="column.type === 'text'"
          [matColumnDef]="column.property">
          <th
            *matHeaderCellDef
            class="uppercase items-center"
            mat-header-cell
            mat-sort-header>
            {{ column.label }}
          </th>
          <td *matCellDef="let row"
              [ngClass]="column.cssClasses"
              mat-cell
              class="pl-2 pr-2">
            {{ row[column.property] }}
          </td>
        </ng-container>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell mat-sort-header
            class="uppercase items-center">
        </th>
        <td *matCellDef="let row"
            class="w-10 text-secondary pl-2 pr-2" mat-cell>
          <button
            (click)="$event.stopPropagation()"
            [matMenuTriggerData]="{ customer: row }"
            [matMenuTriggerFor]="actionsMenu"
            mat-icon-button
            type="button">
            <mat-icon svgIcon="mat:more_horiz"></mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="empty-row">
        <td *matCellDef="let row"
            class="w-10 text-secondary pl-2 pr-2" mat-cell>
          No Data
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="visibleColumns"
          class="bg-app-bar border-b sticky "></tr>
      <tr
        *matRowDef="let row; columns: dataSource.data.length > 0 && dataSource.filteredData.length > 0 ? visibleColumns : ['empty-row'];"
        @fadeInUp
        class="hover:bg-hover transition duration-400 ease-out-swift cursor-pointer"
        mat-row></tr>
    </table>
    <div *ngIf="dataSource.data.length <= 0 || dataSource.filteredData.length <= 0" class="no-data-information">
      No hay informacion disponible
    </div>
    <mat-paginator
      #paginatorBasic
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      class="sticky left-0"></mat-paginator>
  </div>
</div>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-customer="customer" matMenuContent>
    <button (click)="deleteInformations(customer)" mat-menu-item>
      <mat-icon svgIcon="mat:delete"></mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
