<div class="p-4 flex flex-col items-center gap-2 w-full h-full">
  <button
    mat-flat-button
    color="primary"
    (click)="createZone()"
  >
    Crear zona
  </button>
</div>

<ng-template #searchDialog>
  <h2 mat-dialog-title>Buscar zonas físicas</h2>
  <mat-divider class="border-slate-400 my-2"></mat-divider>
  <mat-dialog-content>
    <vex-page-layout>
      <vex-page-layout-content class="container-fluid">
        <form
          [formGroup]="form"
          class="flex justify-between sm:flex-row"
        >
          <!-- Campo departamento -->
          <mat-form-field class="sm:ml-2 sm:mr-2 flex-1">
            <mat-label>Departamento</mat-label>
            <input
              type="text"
              aria-label="Number"
              matInput
              formControlName="department"
              placeholder="Seleccione un departamento"
              [matAutocomplete]="autoDepartment"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #autoDepartment="matAutocomplete"
              [panelWidth]="350"
              (optionSelected)="
                loadMunicipalitiesInformation($event.option.value, true)
              "
            >
              @for (
                option of filteredOptionsDepartments$ | async;
                track option.divpolLvl1Code
              ) {
                <mat-option [value]="option.codeName">
                  {{ option.codeName }}
                </mat-option>
              } @empty {
                <mat-option>
                  {{ STRING_INFORMATION_NOT_FOUND }}
                </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>

          <!-- Campo municipio -->
          <mat-form-field class="sm:ml-2 sm:mr-2 flex-1">
            <mat-label>Municipio</mat-label>
            <input
              type="text"
              aria-label="Number"
              matInput
              formControlName="municipality"
              placeholder="Seleccione un municipio&hellip;"
              [matAutocomplete]="autoMunicipality"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #autoMunicipality="matAutocomplete"
              [panelWidth]="350"
            >
              @for (
                option of filteredOptionsMunicipalities$ | async;
                track option.divpolLvl2Code
              ) {
                <mat-option [value]="option.codeName">
                  {{ option.codeName }}
                </mat-option>
              } @empty {
                <mat-option>
                  {{ STRING_INFORMATION_NOT_FOUND }}
                </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </form>

        <mat-dialog-actions align="center">
          <button
            (click)="searchZone()"
            color="primary"
            mat-flat-button
            type="primary"
          >
            Buscar
          </button>
        </mat-dialog-actions>
      </vex-page-layout-content>
    </vex-page-layout>
  </mat-dialog-content>
</ng-template>
