<div class="p-4 flex flex-col items-center gap-2 w-full h-full">
  <button
    mat-flat-button
    color="primary"
    (click)="searchZones()"
  >
    Buscar zonas {{ typeZone }}
    <mat-icon svgIcon="mat:search"></mat-icon>
  </button>
  @if (dataSource.data.length > 0) {
    <table
      mat-table
      [dataSource]="dataSource"
      class="w-full"
    >
      @for (column of columns; track $index) {
        <ng-container [matColumnDef]="column.name">
          <th
            mat-header-cell
            *matHeaderCellDef
          >
            {{ column.title }}
          </th>
          <td
            mat-cell
            *matCellDef="let element"
          >
            {{ element[column.name] }}
          </td>
        </ng-container>
      }

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  }
</div>

<ng-template #searchDialog>
  <h2 mat-dialog-title>Buscar zonas {{ typeZone !== 'geoeconómicas' ? 'físicas ' + typeZone :  typeZone }}</h2>
  <mat-divider class="border-slate-400 my-2"></mat-divider>
  <mat-dialog-content>
    <vex-page-layout>
      <vex-page-layout-content class="container-fluid">
        <form
          [formGroup]="form"
          class="flex justify-between sm:flex-row"
        >
          <!-- Campo departamento -->
          <mat-form-field class="sm:ml-2 sm:mr-2 flex-1">
            <mat-label>Departamento</mat-label>
            <input
              type="text"
              aria-label="Number"
              matInput
              formControlName="department"
              placeholder="Seleccione un departamento"
              [matAutocomplete]="autoDepartment"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #autoDepartment="matAutocomplete"
              [panelWidth]="350"
              (optionSelected)="
                loadMunicipalitiesInformation($event.option.value, true)
              "
            >
              @for (
                option of filteredOptionsDepartments$ | async;
                track option.divpolLvl1Code
              ) {
                <mat-option [value]="option.codeName">
                  {{ option.codeName }}
                </mat-option>
              } @empty {
                <mat-option>
                  {{ STRING_INFORMATION_NOT_FOUND }}
                </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>

          <!-- Campo municipio -->
          <mat-form-field class="sm:ml-2 sm:mr-2 flex-1">
            <mat-label>Municipio</mat-label>
            <input
              type="text"
              aria-label="Number"
              matInput
              formControlName="municipality"
              placeholder="Seleccione un municipio&hellip;"
              [matAutocomplete]="autoMunicipality"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #autoMunicipality="matAutocomplete"
              [panelWidth]="350"
            >
              @for (
                option of filteredOptionsMunicipalities$ | async;
                track option.divpolLvl2Code
              ) {
                <mat-option [value]="option.codeName">
                  {{ option.codeName }}
                </mat-option>
              } @empty {
                <mat-option>
                  {{ STRING_INFORMATION_NOT_FOUND }}
                </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </form>

        <mat-dialog-actions align="center">
          <button
            (click)="getZones()"
            color="primary"
            mat-flat-button
            mat-dialog-close
          >
            Buscar
          </button>
        </mat-dialog-actions>
      </vex-page-layout-content>
    </vex-page-layout>
  </mat-dialog-content>
</ng-template>
