<vex-page-layout>
  <vex-page-layout-content class="px-5">
    <div class="card overflow-auto">
      <div
        class="bg/app/bar px-4 h-16 border-b sticky left-0 flex items-center"
      >
        <div class="flex-1">
          <button
            mat-raised-button
            color="primary"
            (click)="openCreateWorkflowDialog()"
          >
            Crear
            <mat-icon svgIcon="mat:add"></mat-icon>
          </button>
        </div>
        <!-- campo de búsqueda -->
        <mat-form-field
          subscriptSizing="dynamic"
          class="pl-1 pr-1 pt-6 pb-6 flex flex-col"
        >
          <mat-icon
            matIconPrefix
            svgIcon="mat:search"
          ></mat-icon>
          <input
            matInput
            [formControl]="searchCtrl"
            placeholder="Filtrar dominio"
            type="text"
          />
        </mat-form-field>
      </div>

      <!-- Tabla de dominios -->
      @if (dataSource.data.length > 0) {
        <table
          @stagger
          mat-table
          [dataSource]="dataSource"
          class="w-full"
          matSort
        >
          <ng-container matColumnDef="icon">
            <th
              mat-header-cell
              *matHeaderCellDef
            ></th>
            <td
              mat-cell
              *matCellDef="let row"
            >
              <mat-icon svgIcon="mat:insert_drive_file"></mat-icon>
            </td>
          </ng-container>

          <!-- Text Columns -->
          @for (column of columns; track column.property) {
            <ng-container
              *ngIf="column.type === 'text'"
              [matColumnDef]="column.property"
            >
              <th
                *matHeaderCellDef
                mat-header-cell
                mat-sort-header
              >
                {{ column.label }}
              </th>
              <td
                *matCellDef="let row"
                [ngClass]="column.cssClasses"
                mat-cell
              >
                {{ row[column.property] }}
              </td>
            </ng-container>
          }

          <ng-container matColumnDef="actions">
            <th
              mat-header-cell
              *matHeaderCellDef
            >
              Acciones
            </th>
            <td
              mat-cell
              *matCellDef="let row"
            >
              <button
                mat-icon-button
                color="primary"
                [matMenuTriggerFor]="menu"
                [matMenuTriggerData]="{ row: row }"
              >
                <mat-icon svgIcon="mat:more_horiz"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="visibleColumns()"
          ></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: visibleColumns()"
            @fadeInUp
            class="hover:bg-hover transition duration-400 ease-out-swift cursor-pointer"
          ></tr>
        </table>

        <!-- Paginador -->
        <mat-paginator
          #paginator
          [class.hidden]="isNotDesktop$ | async"
          [pageSizeOptions]="pageSizeOptions"
          [length]="totalElements"
          [pageSize]="pageSize"
          [pageIndex]="page"
          (page)="refreshInformationPaginator($event)"
          class="sticky left-0 flex flex-col"
        >
        </mat-paginator>
      }
    </div>
  </vex-page-layout-content>
</vex-page-layout>

<mat-menu
  #menu="matMenu"
  xPosition="before"
  yPosition="below"
>
  <ng-template
    let-row="row"
    matMenuContent
  >
    @for (action of actions; track $index) {
      <button
        mat-menu-item
        (click)="action.action(row)"
        color="primary"
      >
        <mat-icon svgIcon="{{ action.icon }}"></mat-icon>
        {{ action.label }}
      </button>
    }
  </ng-template>
</mat-menu>
