<div class="flex items-center bg-app-bar focus-visible:bg-app-bar focus:bg-app-bar" mat-dialog-title>
  <h2 class="headline m-0 flex-auto">Unidades Prediales</h2>
  <button
    class="text-secondary"
    mat-dialog-close
    mat-icon-button
    type="button">
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>
<mat-divider class="text-border"></mat-divider>

<vex-page-layout-content class="container-fluid p-2 h-full w-full" vexFluidHeight fluidHeight=265>
  <div class="" vexMinFluidHeight [fluidHeight]="350">
    <div class="px-1 py-3 sm:min-w-full md:min-w-[300px]">
      <div class="p-0 m-0 flex flex-col sm:flex-row items-center gap-3">
        <div class="flex-1 flex-col gap-3">
          <button
            mat-raised-button
            class="rounded-full ml-1 mr-1 py-2 px-3 title !text-white !bg-green-600 flex-auto"
            (click)="openCrudAlfaMain(TYPE_OPERATION_ADD)"
          >
            <mat-icon
              class="ltr:-ml-2 rtl:-mr-2 ltr:mr-2 rtl:ml-2 !icon-lg"
              svgIcon="mat:add"
            ></mat-icon>
            Crear
          </button>
          <button
            mat-raised-button
            class="rounded-full ml-1 mr-1 py-2 px-3 title !text-white !bg-primary-600 flex-auto"
            (click)="openCrudAlfaMain(TYPE_OPERATION_CREATE)"
          >
            <mat-icon
              class="ltr:-ml-2 rtl:-mr-2 ltr:mr-2 rtl:ml-2 !icon-lg"
              svgIcon="mat:add_circle_outline"
            ></mat-icon>
            Agregar
          </button>
          <button
            mat-raised-button
            class="rounded-full ml-1 mr-1 py-2 px-3 title !text-white !bg-red-600 flex-auto"
            (click)="openCrudAlfaMain(TYPE_OPERATION_DELETE)">
            <mat-icon
              class="ltr:-ml-2 rtl:-mr-2 ltr:mr-2 rtl:ml-2 !icon-lg"
              svgIcon="mat:delete"
            ></mat-icon>
            Borrar
          </button>
        </div>
        @if (dataSource && dataSource.data.length > 0) {
          <mat-form-field subscriptSizing="dynamic" class="pl-1 pr-1 pt-1 pb-1 flex flex-col">
            <mat-icon matIconPrefix svgIcon="mat:search"></mat-icon>
            <input
              matInput
              [formControl]="searchCtrl"
              placeholder="Filtrar unidades prediales"
              type="text"
            />
          </mat-form-field>
        }
        <span class="flex-1"></span>
      </div>
    </div>
    <div class="container-fluid overflow-hidden px-1 py-1">
      <div class="card overflow-auto w-full flex flex-col justify-between mat-elevation-z3 p-0">
        <table
          @stagger
          [dataSource]="dataSource"
          class="w-full"
          mat-table
          matSort>
          <ng-container matColumnDef="viewMap">
            <th *matHeaderCellDef
                class="pl-1 pr-1"
                mat-header-cell
                mat-sort-header></th>
            <td
              *matCellDef="let row"
              class="pl-1 pr-1"
              mat-cell
            >
              <div class="flex">
                <button
                  (click)="openCadastralInformationProperty(row)"
                  class="w-8 h-8 p-0 leading-none flex items-center justify-center ml-1 hover:bg-hover text-teal-600 bg-teal/10"
                  mat-icon-button
                  title="Consultar información predial">
                  <mat-icon
                    class="icon-sm"
                    svgIcon="mat:info"
                  ></mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          @for (column of columns; track trackByProperty) {
            @if (column.type === "text") {
              <ng-container [matColumnDef]="column.property">
                <th *matHeaderCellDef
                    class="pl-1 pr-1" mat-header-cell mat-sort-header>
                  {{ column.label }}
                </th>
                <td
                  *matCellDef="let row"
                  [ngClass]="column.cssClasses" mat-cell class="pl-1 pr-1">
                  {{ row[column.property] }}
                </td>
              </ng-container>
            } @else if (column.type === "percentage") {
              <ng-container [matColumnDef]="column.property">
                <th *matHeaderCellDef
                    class=" pl-1 pr-1"
                    mat-header-cell
                    mat-sort-header>
                  {{ column.label }}
                </th>
                <td
                  *matCellDef="let row"
                  mat-cell
                  class="pl-1 pr-1">
                  {{ row[column.property] | percent:'1.1-15' }}
                </td>
              </ng-container>
            }
          }
          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef
                class="pl-1 pr-1"
                mat-header-cell
                mat-sort-header>
            </th>
            <td
              *matCellDef="let row"
              class="w-10 text-secondary pl-1 pr-1"
              mat-cell
            >
              <button
                (click)="$event.stopPropagation()"
                [matMenuTriggerData]="{ row: row }"
                [matMenuTriggerFor]="actionsMenu"
                mat-icon-button
                type="button"
              >
                <mat-icon svgIcon="mat:more_horiz"></mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: visibleColumns"></tr>
        </table>
      </div>
    </div>
  </div>
  <mat-paginator
    #paginator
    [pageSizeOptions]="pageSizeOptions"
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="page"
    (page)="refreshPaginator($event)"
    class="sticky left-0"
    showFirstLastButtons
  ></mat-paginator>
</vex-page-layout-content>

<mat-menu #actionsMenu="matMenu">
  <ng-template matMenuContent let-row="row">
    <button
      (click)="editPropertyUnit(row)"
      mat-menu-item>
      <mat-icon svgIcon="mat:edit"></mat-icon>
      <span>Editar</span>
    </button>

    <button
      (click)="deletePropertyUnit(row)"
      mat-menu-item>
      <mat-icon svgIcon="mat:delete"></mat-icon>
      <span>Borrar</span>
    </button>
  </ng-template>
</mat-menu>
