<div class="flex justify-between items-center">
  <h2 mat-dialog-title>Actualizar alerta</h2>
  <button
    mat-icon-button
    tabindex="-1"
    [mat-dialog-close]="{ response: false }"
  >
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>

<mat-divider class="bg-slate-400"></mat-divider>

<mat-dialog-content>
  <app-dynamic-forms
    [inputs]="formAlertUpdateInputsJson"
    (formReady)="form.set($event)"
    [initValues]="data.alert"
    className="w-full h-full grid grid-cols-3 grid-rows-[30%_70%] gap-2"
  ></app-dynamic-forms>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button
    mat-flat-button
    color="primary"
    (click)="onSubmit()"
  >
    Aceptar
  </button>
  <button
    mat-flat-button
    color="warn"
    [mat-dialog-close]="{ resopnse: false }"
  >
    Cancelar
  </button>
</mat-dialog-actions>
