<vex-page-layout>
  <vex-page-layout-header
    class="pb-4 flex flex-col items-start justify-center">
    <div
      class="w-full flex flex-col sm:flex-row justify-between px-6">
      <div>
        <h1 class="title mt-0 mb-1">Iniciar el proceso de radicación</h1>
        <div class="w-full px-6 lg:pl-0 lg:pr-0 flex gap-2 items-center">
          <h1
            class="subheading-2 font-medium m-0 ltr:pr-3 rtl:pl-3 ltr:border-r rtl:border-l ltr:mr-3 rtl:ml-3 flex-none">
            <button color="primary" mat-button type="button"
                    (click)="returnPanelTask(true)">
              <mat-icon
                class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2"
                svgIcon="mat:archive"></mat-icon>
              <span>{{ CONSTANT_NAME_RETURN }}</span>
            </button>
          </h1>
          <vex-breadcrumbs
            [crumbs]="[CONSTANT_FILING_PROCEDURES, CONSTANT_NAME_INITIATE_FILING_PROCEDURE]">
          </vex-breadcrumbs>
        </div>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content class="-mt-2 -mb-11 px-5 lg:pb-0.5 xl:pb-0.5">
    <div @stagger class="container-fluid -mt-11">
      <div @fadeInUp class="card overflow-hidden bg-hover">
        <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
          <ng-template matStepperIcon="edit">
            <mat-icon svgIcon="mat:done_all"></mat-icon>
          </ng-template>

          <ng-template matStepperIcon="done">
            <mat-icon svgIcon="mat:done_all"></mat-icon>
          </ng-template>

          <!--  SELECCCIONAR TIPO DE CLASE Y PROCESO A RADICAR   -->
          <mat-step [stepControl]="propertyProcessingFormGroup" vexMinFluidHeight fluidHeight=260>
            <form [formGroup]="propertyProcessingFormGroup">
              <ng-template matStepLabel>{{ propertyProcessing }}</ng-template>
              <!-- TÍTULO DEL COMPONENTE -->
              <div class="flex flex-col sm:flex-row">
                <div class="subheading-1 w-full flex flex-col justify-between">
                  <div class="flex flex-col sm:flex-row sm:gap-4 pt-2">
                    <div class="flex flex-col gap-2 px-2 py-2">
                      <span class="text-black uppercase text-sm">Número predial</span>
                    </div>
                    <div class="flex flex-col gap-1 px-2 py-2">
                      <span class="text-sm">{{ cadastralNumberId$ | async }}</span>
                    </div>
                    <mat-form-field class="sm:w-full lg:w-3/5 flex flex-auto gap-1 lg:pl-3 xl:pl-3">
                      <mat-label>Clase</mat-label>
                      <input type="text"
                             aria-label="Number"
                             matInput
                             formControlName="selectBpmProcessByCategory"
                             placeholder="Seleccione una categoria"
                             [matAutocomplete]="autoDepartment">
                      <mat-autocomplete autoActiveFirstOption #autoDepartment="matAutocomplete"
                                        [panelWidth]="450"
                                        (optionSelected)="loadBpmProcess($event.option.value)"
                                        [displayWith]="getOptionText">
                        @for (option of listBpmProcessCategory$ | async; track option.dispname; ) {
                          <mat-option
                            [value]="option">
                            {{ option.dispname }}
                          </mat-option>
                        }
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <!-- CARD DE SELECCIÓN DE PROCESOS DEL TRÁMITE -->
              <div class="flex flex-col sm:flex-row" vexMinFluidHeight fluidHeight=390>
                <div
                  *ngIf="isExistListBpmTypeProcess$ | async"
                  @stagger
                  class="overflow-y-auto flex-auto">
                  <div
                    class="p-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-6 container-fluid">
                    <vex-process-card
                      @stagger
                      class="shadow-md"
                      *ngFor="let bpmTypeProcess of listBpmTypeProcess$ | async; trackBy: trackByProcessId"
                      [idCard]="bpmTypeProcess.processId?.toString()"
                      [bpmTypeProcess]="bpmTypeProcess"
                      (selectProcess)="validateSelectProcess($event)">
                    </vex-process-card>
                  </div>
                  <input
                    type="text"
                    formControlName="selectBpmProcess"
                    class="hidden max-h-[10px] max-w-[10px]"
                    matInput
                    required hidden />
                </div>

                <div
                  *ngIf="!(isExistListBpmTypeProcess$ | async)"
                  @scaleFadeIn
                  class="flex-auto flex flex-col items-center justify-center">
                  <h2 class="headline m-0 text-center">
                    {{ 'No hay procesos que coincidan con tu búsqueda' }}
                  </h2>
                </div>
              </div>
              <div class="actions flex items-center justify-end gap-2">
                <button
                  (click)="stepper.reset()"
                  [disabled]="propertyProcessingFormGroup.pristine"
                  color="primary"
                  mat-button
                  type="button">
                  {{CONSTANT_NAME_RELOAD}}
                </button>
                <button
                  [disabled]="propertyProcessingFormGroup.invalid"
                  color="primary"
                  mat-raised-button
                  matStepperNext>
                  {{CONSTANT_NAME_NEXT}}
                </button>
              </div>
            </form>
          </mat-step>

          <!--  SELECCCIONAR  PARTICIPANTES  -->
          <mat-step [stepControl]="participationFormGroup" vexMinFluidHeight fluidHeight=260>
            <form [formGroup]="participationFormGroup">
              <ng-template matStepLabel>{{ participation }}</ng-template>
              <vex-basic-participant-table class="w-full p-0"
                                           [form]="participationFormGroup"
                                           (processParticipants)="loadParticipants($event)">
              </vex-basic-participant-table>

              <div class="actions flex items-center justify-end gap-2 w-100 sm:mt-3 lg:mt-4">
                <button color="primary" mat-button matStepperPrevious type="button">
                  {{CONSTANT_NAME_RETURN}}
                </button>
                <button
                  [disabled]="validateParticipants"
                  (click)="loadBpmListDocumentsByProcessId()"
                  color="primary"
                  mat-raised-button
                  matStepperNext>
                  {{CONSTANT_NAME_NEXT}}
                </button>
              </div>
            </form>
          </mat-step>

          <!--  SELECCCIONAR  TIPOS DE DOCUMENTOS  -->
          <mat-step [stepControl]="verificationFormGroup" vexMinFluidHeight fluidHeight=260>
            <form [formGroup]="verificationFormGroup">
              <ng-template matStepLabel>{{ verification }}</ng-template>

              <div class="flex flex-col sm:flex-row lg:gap-1 sm:gap-6 mt-2">

                <mat-form-field class="sm:w-full sm:ml-2 sm:mr-2 sm:flex-1 lg:flex-auto max-w-[430px] sm:min-w-[320px]">
                  <mat-label>Clase</mat-label>
                  <input
                    type="type"
                    formControlName="typeClass"
                    matInput />
                  <mat-icon matIconPrefix svgIcon="mat:assignment"></mat-icon>
                </mat-form-field>

                <mat-form-field class="sm:w-full sm:ml-2 sm:mr-2 sm:flex-1 lg:flex-auto max-w-[430px] sm:min-w-[320px]">
                  <mat-label>Tipo Trámite</mat-label>
                  <input
                    type="type"
                    formControlName="typeProcedure"
                    matInput />
                  <mat-icon matIconPrefix svgIcon="mat:assignment"></mat-icon>
                </mat-form-field>

                <mat-form-field class="sm:w-full sm:ml-2 sm:mr-2 sm:flex-1 lg:flex-auto max-w-[430px] sm:min-w-[320px]">
                  <mat-label>Radicado Auxiliar</mat-label>
                  <input
                    type="type"
                    formControlName="auxiliaryFilings"
                    matInput />
                  <mat-icon matIconPrefix svgIcon="mat:assignment"></mat-icon>
                </mat-form-field>

              </div>

              <div class="flex flex-col sm:flex-row" vexMinFluidHeight fluidHeight=390>
                <div class="mt-4 flex flex-col gap-2">
                  <mat-checkbox
                    class="checkbox"
                    *ngFor="let document of listBpmDocumentsProcess$ | async; trackBy: trackByTypeDocumentName"
                    [(ngModel)]="document.state" [ngModelOptions]="{standalone: true}">
                    {{ document.name }}
                  </mat-checkbox>
                </div>

              </div>

              <div class="actions flex items-center justify-end gap-2">
                <button color="primary" mat-button matStepperPrevious type="button">
                  {{CONSTANT_NAME_RETURN}}
                </button>
                <button
                  (click)="submit()"
                  [disabled]="verificationFormGroup.invalid"
                  color="primary"
                  mat-raised-button
                  matStepperNext>
                  {{CONSTANT_NAME_REGISTER}}
                </button>
              </div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </vex-page-layout-content>
</vex-page-layout>


