<div
  class="flex items-center"
  mat-dialog-title
  *ngIf="showTittle"
  [id]="id"
>
  <h2 class="headline m-0 flex-auto">
    {{ label }}
  </h2>

  <!-- <button
    [matMenuTriggerFor]="settingsMenu"
    class="text-secondary"
    mat-icon-button
    type="button"
  >
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button> -->

  <button
    class="text-secondary"
    mat-dialog-close
    mat-icon-button
    type="button"
  >
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>
<mat-divider
  class="text-border"
  *ngIf="showTittle"
></mat-divider>
<mat-dialog-content
  [id]="idContainer"
  class="flex items-start justify-start gap-6 overflow-x-hidden"
>
  <div
    @stagger
    class="sticky top-20 flex-col flex-none w-2/12 hidden sm:flex"
    style="top: 18px"
  >
    <div
      (click)="scrollTo(item.fragment)"
      *ngFor="let item of navigationItems"
      class="px-3 py-2 rounded-xl hover:bg-hover transition cursor-pointer relative"
      matRipple
    >
      {{ item.label }}
    </div>
  </div>

  <div
    @stagger
    class="max-w-full w-10/12 flex flex-col gap-6"
  >
    <vex-basic-property-information
      #basicAdministrativeUnitInformation{{schema}}
      [id]="'basicAdministrativeUnitInformation' + schema"
      [baunitId]="baunitId"
      [schema]="schema"
      [executionId]="executionId"
      [typeInformation]="typeInformation"
      [editable]="editable.GNR"
      (propertyRegistryOffice)="propertyRegistryOffice = $event"
      (propertyRegistryNumber)="propertyRegistryNumber = $event"
      @fadeInUp
    ></vex-basic-property-information>
    @if (showInformationUnitProperty(baunitCondition)) {
      <vex-information-unit-property
        #unitPropertyInformationComponent{{schema}}
        [id]="'informationUnitProperty' + schema"
        [expandedComponent]="false"
        [baunitId]="baunitId"
        [schema]="schema"
        [executionId]="executionId"
        @fadeInUp
        [typeInformation]="typeInformation"
      ></vex-information-unit-property>
    }
    <vex-administrative-sources
      #administrativeSourcesComponent{{schema}}
      [id]="'administrativeSources' + schema"
      [expandedComponent]="false"
      [baunitId]="baunitId"
      [schema]="schema"
      [executionId]="executionId"
      [editable]="editable.FNA"
      @fadeInUp
      [typeInformation]="typeInformation"
    ></vex-administrative-sources>
    <super-notariado-property
      [id]="'superNotariadoPropertyComponent' + schema"
      [propertyRegistryNumber]="propertyRegistryOffice"
      [propertyRegistryOffice]="propertyRegistryNumber"
      [baunitId]="baunitId"
      [schema]="schema"
      [executionId]="executionId"
    ></super-notariado-property>
    @if (!viewProperties) {
      <vex-information-property-owners
        [id]="'dataInformationPropertyOwners' + schema"
        #informationPropertyOwnersComponent{{schema}}
        [expandedComponent]="false"
        [baunitId]="baunitId"
        [schema]="schema"
        [executionId]="executionId"
        [typeInformation]="typeInformation"
        [editable]="editable.PRO"
        @fadeInUp
      ></vex-information-property-owners>
    }
    <vex-information-addresses-property
      [id]="'basicInformationpropertyAddresses' + schema"
      #propertyAddressesComponent{{schema}}
      [expandedComponent]="false"
      [baunitId]="baunitId"
      [schema]="schema"
      [executionId]="executionId"
      @fadeInUp
      [typeInformation]="typeInformation"
    ></vex-information-addresses-property>
    <vex-information-constructions-property
      [id]="'dataInformationConstructionsPropertyComponent' + schema"
      #informationConstructionsPropertyComponent{{schema}}
      [expandedComponent]="false"
      [baunitId]="baunitId"
      [schema]="schema"
      [executionId]="executionId"
      @fadeInUp
      [typeInformation]="typeInformation"
      [editable]="editable.CNS"
    ></vex-information-constructions-property>
    <vex-property-appraisal-information
      [id]="'dataIpropertyAppraisalInformationComponent' + schema"
      #propertyAppraisalInformationComponent{{schema}}
      [expandedComponent]="false"
      [baunitId]="baunitId"
      [schema]="schema"
      [executionId]="executionId"
      @fadeInUp
      [typeInformation]="typeInformation"
    ></vex-property-appraisal-information>
    <vex-information-zones-property
      [id]="'informationZonesPropertyComponent' + schema"
      #informationZonesPropertyComponent{{schema}}
      [expandedComponent]="false"
      [baunitId]="baunitId"
      [schema]="schema"
      [executionId]="executionId"
      [typeInformation]="typeInformation"
      @fadeInUp
    ></vex-information-zones-property>
  </div>
</mat-dialog-content>

<mat-menu
  #settingsMenu="matMenu"
  xPosition="before"
  yPosition="below"
>
  <button mat-menu-item>
    <mat-icon svgIcon="mat:print"></mat-icon>
    <span>Imprimir</span>
  </button>

  <button mat-menu-item>
    <mat-icon svgIcon="mat:download"></mat-icon>
    <span>Exportar</span>
  </button>

  <button mat-menu-item>
    <mat-icon svgIcon="mat:delete"></mat-icon>
    <span>Borrar</span>
  </button>
</mat-menu>
