<h2 mat-dialog-title>Agregar firma</h2>
<mat-divider class="border-slate-400"></mat-divider>
<mat-dialog-content class="py-4">
  <section class="flex gap-4">
    <dynamic-forms
      [inputs]="searchInputs"
      (formReady)="searchForm = $event"
    ></dynamic-forms>
    <button
      mat-flat-button
      color="primary"
      (click)="searchPeople()"
    >
      Buscar
    </button>
  </section>
  <mat-divider class="border-slate-400"></mat-divider>
  <section class="pt-4">
    <h2 class="text-center font-bold text-lg mb-4 text-slate-700">{{ personName }}</h2>
    <dynamic-forms
      [inputs]="createInputs"
      (formReady)="createForm = $event"
      [disabled]="disableCreateForm"
    ></dynamic-forms>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-flat-button
    color="primary"
    (click)="createSignature()"
  >
    Crear
  </button>
  <button
    mat-flat-button
    color="warn"
    mat-dialog-close
  >
    Cancelar
  </button>
</mat-dialog-actions>
