<div class="flex items-center bg-app-bar focus-visible:bg-app-bar focus:bg-app-bar" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">
      Agregar documento
    </h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content>
    <form [formGroup]="attachmentForm" (ngSubmit)="save()">
      <vex-page-layout class="overflow-hidden">
        <vex-page-layout-content class="container-fluid p-0 overflow-hidden">
          <div class="form-content">

            <!-- Tipo de Documento -->
            <div class="form-content-item">
              <p><strong>Tipo de documento</strong></p>
              <div class="p-4">
              <vex-combox-colletion
                idComboCollection="attachmentType"
                label="Tipo"
                formControlNameCombobox="attachmentType"
                typeDomainName="BpmAttachmentType"
                placeholderDomainName="Escoger tipo"
              ></vex-combox-colletion>
            </div>
              <mat-error *ngIf="attachmentForm.get('attachmentType')?.hasError('required')">
                Este campo es obligatorio.
              </mat-error>
            </div>

            <!-- Descripción -->
            <div class="form-content-item">
              <p><strong>Descripción</strong></p>
               <div class="p-4">
              <vex-input
                label="Descripción"
                type="text"
                idComboInput="description"
                formControlNameInput="description"
              ></vex-input>
               </div>
            </div>

            <!-- Campo de archivo adjunto -->
            <div class="col-span-1 md:col-span-2">
              <label class="text-[#666666] text-[15px]">Archivo de anexo</label>
              <div class="p-4">
              <ngx-dropzone class="mt-3" (change)="onSelect($event)">
                <ngx-dropzone-label>
                  <div class="flex flex-col items-center text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-gray-500 dark:text-gray-400">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
                    </svg>
                    Carga o arrastra tu archivo
                  </div>
                </ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let file of uploadedFiles" [removable]="true" (removed)="onRemove(file)">
                  <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
              </div>
            </div>

          </div>
          <br>
          <div class="buttons">
            <button color="primary" mat-raised-button type="submit">
              Guardar
              <mat-icon svgIcon="mat:save"></mat-icon>
            </button>
            <button color="warn" mat-stroked-button mat-dialog-close type="button">
              Cerrar
              <mat-icon svgIcon="mat:close"></mat-icon>
            </button>
          </div>
        </vex-page-layout-content>
      </vex-page-layout>
    </form>
  </mat-dialog-content>
