<app-modal-window [title]="title">
  <div class="h-full overflow-y-auto">
    <section class="grid grid-cols-2 lg:grid-cols-4 gap-y-4">
      @for (group of groups; track $index) {
        <h3
          class="col-span-full text-center font-bold capitalize bg-primary-200"
        >
          {{ group }}
        </h3>
        @for (info of getGroupObject(group) | keyvalue; track $index) {
          <strong class="border-b border-slate-500">{{
            info.key | appraisalLabel
          }}</strong>
          @switch (info.key) {
            @case ("cadastralValuationAt") {
              @if (info.value) {
                <span class="border-b border-slate-500">{{
                  getInfoValue(info.value) | date: "dd/MM/yyyy"
                }}</span>
              }
            }
            @case ("validityValuation") {
              <span class="border-b border-slate-500">{{
                getInfoValue(info.value)
              }}</span>
            }
            @default {
              <span class="border-b border-slate-500">{{
                getInfoValue(info.value) | currency: "" : "symbol" : "1.0-0"
              }}</span>
            }
          }
        }
      }
    </section>
  </div>
</app-modal-window>
