<form [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2
      class="headline m-0 flex-auto">
      Búsqueda avanzada
    </h2>

    <button
      [matMenuTriggerFor]="settingsMenu"
      class="text-secondary"
      mat-icon-button
      type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>

    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>
  <mat-divider class="text-border"></mat-divider>
  <mat-dialog-content class="flex flex-col overflow-hidden">
    <mat-tab-group class="overflow-hidden" (selectedTabChange)="clearFormFields($event)">
      <!-- Búsqueda por multiplex campos -->
      <mat-tab label="Múltiples campos" class="overflow-hidden">
        <vex-page-layout class="overflow-hidden">
          <vex-page-layout-content class="container-fluid p-0 overflow-hidden" style="padding-bottom: 0px;">
            <!--Búsqueda por círculo - matrícula / matrícula -->
            <div class="flex flex-col sm:flex-row">
              <vex-input
                cssClasses="sm:ml-2 sm:mr-2 flex-1"
                label="Matrícula"
                type="text"
                idComboInput="registrationID"
                formControlNameInput="registration"
                icon="mat:assignment"
              ></vex-input>
              <div class="sm:ml-2 sm:mr-2 flex-auto">
                <button color="primary" mat-raised-button type="button"
                        (click)="searchRegistrationNumber()">
                  <mat-icon svgIcon="mat:search"></mat-icon>Buscar
                </button>
                <button mat-icon-button color="primary"> </button>
              </div>
            </div>
            <!-- Búsqueda por documento y tipo -->
            <div class="flex flex-col sm:flex-row">
              <vex-combox-colletion
                idComboCollection="typeNumberDocument"
                label="Tipo de documento"
                formControlNameCombobox="domIndividualTypeNumber"
                typeDomainName="IndividualTypeNumber"
                placeholderDomainName="Ponga tipo documento&hellip;"
              ></vex-combox-colletion>

              <vex-input
                cssClasses="sm:ml-2 sm:mr-2 flex-1"
                label="Documento"
                type="text"
                idComboInput="numberID"
                formControlNameInput="number"
                icon="mat:assignment"
              ></vex-input>

              <div class="sm:ml-2 sm:mr-2 flex-auto">
                <button color="primary" mat-raised-button type="button"
                        (click)="searchByDocumentAndTypeNumber()">
                  <mat-icon svgIcon="mat:search"></mat-icon>Buscar
                </button>
              </div>
            </div>
            <!-- Búsqueda por nombre y apellidos o en su defecto por nombre de la compañía -->
            <div class="flex flex-col sm:flex-row">
              <vex-input
                cssClasses="sm:ml-2 sm:mr-2 flex-auto"
                label="Nombre"
                type="text"
                idComboInput="firstNameID"
                formControlNameInput="firstName"
                icon="mat:person"
              ></vex-input>

              <vex-input
                cssClasses="sm:ml-2 sm:mr-2 flex-auto"
                label="Otros nombres"
                type="text"
                idComboInput="middleNameeID"
                formControlNameInput="middleName"
                icon="mat:person"
              ></vex-input>
            </div>
            <div class="flex flex-col sm:flex-row">
              <vex-input
                cssClasses="sm:ml-2 sm:mr-2 flex-auto"
                label="Apellido"
                type="text"
                idComboInput="lastNameID"
                formControlNameInput="lastName"
                icon="mat:person"
              ></vex-input>
              <vex-input
              cssClasses="sm:ml-2 sm:mr-2 flex-auto"
              label="Otros apellidos"
              type="text"
              idComboInput="otherLastNameID"
              formControlNameInput="otherLastName"
              icon="mat:person"
            ></vex-input>


            </div>

            <div class="flex flex-col sm:flex-row">



              <vex-input
                cssClasses="sm:ml-2 sm:mr-2 flex-auto"
                label="Nombre compañía"
                type="text"
                idComboInput="companyNameID"
                formControlNameInput="companyName"
                icon="mat:location_city"
              ></vex-input>

              <div class="sm:ml-2 sm:mr-2 flex-auto">
                <button color="primary" mat-raised-button type="button"
                        (click)="searchByName()">
                  <mat-icon svgIcon="mat:search"></mat-icon>Buscar
                </button>
              </div>
            </div>
            <!-- Búsqueda por dirección de texto -->
            <div class="flex flex-col sm:flex-row">
              <!--direccion-->
              <vex-input
                cssClasses="sm:ml-2 sm:mr-2 flex-col"
                label="Dirección"
                type="text"
                idComboInput="textAddressID"
                formControlNameInput="textAddress"
                icon="mat:edit_location"
              ></vex-input>
              <!--boton de búsqueda-->
              <div class="sm:ml-2 sm:mr-2">
                <button color="primary" mat-raised-button type="button"
                        (click)="searchByAddress()">
                  <mat-icon svgIcon="mat:search"></mat-icon>Buscar
                </button>
              </div>
            </div>

          </vex-page-layout-content>
        </vex-page-layout>
      </mat-tab>


      <!-- Búsqueda por segregación de número predial nacional -->



    </mat-tab-group>
  </mat-dialog-content>
</form>
<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon svgIcon="mat:print"></mat-icon>
    <span>Imprimir</span>
  </button>

  <button mat-menu-item>
    <mat-icon svgIcon="mat:download"></mat-icon>
    <span>Exportar</span>
  </button>

  <button mat-menu-item>
    <mat-icon svgIcon="mat:delete"></mat-icon>
    <span>Borrar</span>
  </button>
</mat-menu>
