<mat-accordion
  class="flex flex-col py-0 px-0 mb-2"
  [id]="id"
>
  <mat-expansion-panel
    (opened)="isExpandPanel((expandedComponent = true))"
    [expanded]="expandedComponent"
  >
    <mat-expansion-panel-header
      class="bg-app-bar focus-visible:bg-app-bar focus:bg-app-bar pb-0 py-1 border-b sticky left-0 flex items-center">
      <vex-header-cadastral-information-property
        label="Propietarios"
        icon="mat:people"
        id="information-owners">
      </vex-header-cadastral-information-property>
    </mat-expansion-panel-header>

    <mat-panel-description class="py-0 px-0">
      <div class="w-full flex flex-col overflow-auto">

        <!-- Botones de edición: Se muestran SIEMPRE en modo edición -->
        @if (typeInformation === "edition" || dataSource && dataSource.data.length > 3) {
          <div class="px-4 h-16 border-b sticky left-0 flex items-center">
            @if (typeInformation === "edition") {
              <div class="flex-1">
                <button
                  [ngClass]="
                !editable ? '!bg-slate-400 !text-gray-100 opacity-60' : ''
              "
                  [color]="editable ? 'primary' : ''"
                  mat-raised-button
                  type="button"
                  [disabled]="!editable"
                  (click)="onClickOpenAddEditModal(dataSource)"
                >
                  Nuevo
                  <mat-icon svgIcon="mat:add"></mat-icon>
                </button>
              </div>
            } @else {
              <span class="flex-1"></span>
            }
            <span class="flex-1"></span>
          </div>
        }
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          class="w-full"
        >
          <ng-container matColumnDef="viewDetail">
            <th
              *matHeaderCellDef
              mat-header-cell
              mat-sort-header
            ></th>
            <td
              *matCellDef="let row"
              mat-cell
            >
              <div
                class="flex align-middle text-center content-center items-center"
              >
                <button
                  class="w-8 h-8 p-0 mr-1 leading-none flex items-center justify-center m-0 hover:bg-hover text-green-600 bg-green-600/10"
                  mat-icon-button
                  title="Detalles"
                  (click)="openInformationPropertyOwner(row)"
                >
                  <mat-icon
                    class="icon-sm"
                    svgIcon="mat:visibility"
                  ></mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          @for (column of textColumns(); track column) {
            <ng-container [matColumnDef]="column.property">
              <th
                *matHeaderCellDef
                mat-sort-header
                mat-header-cell
              >
                {{ column.label }}
              </th>
              @if (individualInfo(column)) {
                <td
                  *matCellDef="let row"
                  mat-cell
                >
                  {{ row.individual[column.property] }}
                </td>
              } @else {
                <td
                  *matCellDef="let row"
                  mat-cell
                >
                  @if (column.property === "beginAt") {
                    {{ row[column.property] | date: "dd/MM/yyyy" }}
                  } @else {
                    {{ row[column.property] }}
                  }
                </td>
              }
            </ng-container>
          }
          <ng-container matColumnDef="actions">
            <th
              *matHeaderCellDef
              mat-header-cell
            >
              Acciones
            </th>
            <td
              *matCellDef="let row"
              class="w-10 text-secondary"
              mat-cell
            >
              <button
                mat-icon-button
                [matMenuTriggerData]="{ infoOwner: row }"
                [matMenuTriggerFor]="actionsMenu"
                type="button"
              >
                <mat-icon svgIcon="mat:more_horiz"></mat-icon>
              </button>
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="visibleColumns()"
          ></tr>
          <tr
            mat-row
            @fadeInUp
            class="hover:bg-hover transition duration-400 ease-out-swift cursor-pointer"
            *matRowDef="let row; columns: visibleColumns()"
          ></tr>
        </table>
        @if (dataSource.data.length <= 0 || dataSource.filteredData.length <= 0) {
          <div class="no-data-information">
            No se han encontrado propietarios.
          </div>
        }
        <mat-paginator
          #paginator
          [pageSizeOptions]="pageSizeOptions"
          [length]="totalElements"
          [pageSize]="pageSize"
          [pageIndex]="page"
          (page)="refreshPaginator($event)"
          class="paginator"
        >
        </mat-paginator>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>

<mat-menu
  #actionsMenu="matMenu"
  xPosition="before"
  yPosition="below"
>
  <ng-template
    let-infoOwner="infoOwner"
    matMenuContent
  >
    @for (actionBtn of actionBtns(); track actionBtn.id) {
      <button
        mat-menu-item
        (click)="onClickActionBtn(actionBtn.id, infoOwner)"
      >
        <mat-icon [svgIcon]="actionBtn.icon" />
        <span>{{ actionBtn.label }}</span>
      </button>
    } @empty {
      <button
        mat-menu-item
        disabled
      >
        <span class="text-center">No options</span>
      </button>
    }
  </ng-template>
</mat-menu>

<swal
  #confirmDialog
  title="Eliminar propietario"
  text="¿Está seguro que desea eliminar el propietario?"
  icon="warning"
  [showCancelButton]="true"
  confirmButtonText="Eliminar"
  confirmButtonColor="#ef4444"
  cancelButtonText="Cancelar"
  cancelButtonColor="#4f46e5"
></swal>

<swal
  #successEdit
  title="Edición exitosa"
  text="Se ha editado la información del propietario exitosamente."
  icon="success"
  confirmButtonText="Aceptar"
  confirmButtonColor="#4f46e5"
></swal>
