<div class="flex items-center" mat-dialog-title>
  <h2 class="headline m-0 flex-auto">{{ dialogTitle }}</h2>
  <button
    class="text-secondary"
    mat-dialog-close
    mat-icon-button
    type="button">
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>
<mat-divider class="text-border opacity-0"></mat-divider>


<div *ngIf="hasError; else loadingOrFormContent">
  <mat-dialog-content>
    <p>{{ errorMessage }}</p>
  </mat-dialog-content>
</div>

<ng-template #loadingOrFormContent>
  <div *ngIf="isLoading; else formContent">
    <mat-dialog-content class="flex justify-center items-center">
      <vex-loading-app
        #vexSplashScreen
        idLoading="vexSplashScreen"
        [showImage]="true">
      </vex-loading-app>
    </mat-dialog-content>
  </div>
</ng-template>

<ng-template #formContent>
  <form #postForm id="postForm" action="" method="POST" target="_blank">
    <mat-dialog-content class="flex flex-col overflow-hidden">
      <vex-page-layout class="overflow-hidden">
        <vex-page-layout-content class="container-fluid p-0 overflow-hidden opacity-0">
          <div class="flex flex-col sm:flex-row">
            <input type="text" id="page" name="page" value="../../#/viewer/config" />
            <input type="text" id="map" name="map" value="" />
            <input type="text" id="featureinfo" name="featureinfo" value="" />
            <input type="text" id="bbox" name="bbox" value="" />
            <input type="text" id="center" name="center" value="" />
            <input type="text" id="zoom" name="zoom" value="30" />
            <textarea id="actions" name="actions"></textarea>
          </div>
        </vex-page-layout-content>
      </vex-page-layout>
    </mat-dialog-content>
  </form>
</ng-template>
