<app-modal-window
  title="Agregar miembro"
  actions
  showCancelButton
  (accept)="addMember()"
  (cancel)="dialogRef.close()"
>
  <mat-form-field class="w-full">
    <mat-label>Usuario</mat-label>
    <input
      type="text"
      placeholder="Seleccionar usuario..."
      matInput
      [matAutocomplete]="auto"
      [formControl]="userInput"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayUser"
      (optionSelected)="userSelected($event)"
    >
      @for (user of filteredUsers | async; track user.value) {
        <mat-option [value]="user">
          {{ user.label }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <section class="grid grid-cols-4 gap-4 mt-2 h-24">
    @if (selectedUser()) {
      @let user = selectedUser()!;
      <strong>Nombre:</strong>
      <span>{{ user.individual.fullName }}</span>
      <strong>Usuario:</strong>
      <span>{{ user.username }}</span>
      <strong>Tipo de documento:</strong>
      <span>{{ user.individual.domIndividualTypeNumber }}</span>
      <strong>Número de documento:</strong>
      <span>{{ user.individual.number }}</span>
      <strong>Correo:</strong>
      <span>{{ user.email }}</span>
      <strong>Rol:</strong>
      <span>{{ user.role }}</span>
    } @else {
      <h2 class="text-center font-bold text-xl w-full col-span-full">
        No se ha seleccionado un usuario
      </h2>
    }
  </section>
</app-modal-window>
