<app-modal-window title="Agregar foto ICA" actions (accept)="submitPhoto()">
  <p><strong>Archivo de anexo</strong></p>
  <!-- Advertencia sobre el tamaño máximo del archivo -->
  <p class="text-[#666666] text-sm mb-2">Tamaño máximo de archivo: 50 MB</p>
  <div class="p-4">
    <ngx-dropzone
      class="mt-3"
      (change)="onSelect($event)"
      [multiple]="false"
    >
      <ngx-dropzone-label>
        <div class="flex flex-col items-center text-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 text-gray-500 dark:text-gray-400"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z"
            />
          </svg>
          Carga o arrastra tu archivo
        </div>
      </ngx-dropzone-label>
      @if (file()) {
        <ngx-dropzone-preview
          [removable]="true"
          (removed)="onRemove()"
        >
          <ngx-dropzone-label
            >{{ file()!.name }} ({{ file()!.type }})</ngx-dropzone-label
          >
        </ngx-dropzone-preview>
      }
    </ngx-dropzone>
  </div>
</app-modal-window>
