<div class="px-5 pt-5 pb-4 bg-primary-600/10 flex-none" [id]="idHeader">
  <div class="flex items-center container p-0 lg:ml-0.5">
    <h3
      class="headline font-bold m-0 flex items-center max-w-4xs mr-6">
        <span
          @scaleIn
          class="w-10 h-10 rounded-full text-primary-600 ltr:mr-4 rtl:ml-4 bg-primary-600/10 hidden sm:flex items-center justify-center">
          <mat-icon [svgIcon]="icon"></mat-icon>
        </span>
      <span @fadeInRight class="block">{{ label }}</span>
    </h3>
    <div
      class="hidden sm:flex items-center bg-foreground rounded-full overflow-hidden relative ltr:pl-5 rtl:pr-5 h-12 max-w-md w-full shadow-xl mx-auto">
      <mat-icon
        class="text-secondary flex-none"
        svgIcon="mat:search"></mat-icon>
      <input
        [formControl]="searchStr"
        class="border-0 h-12 outline-none ltr:pl-4 rtl:pr-4 placeholder:text-secondary bg-foreground flex-auto"
        [placeholder]="'Filtrar ' + label.toLowerCase()"
        type="text" />
    </div>
  </div>
</div>
