<vex-page-layout [id]="idGeneralMap">
  <vex-page-layout-header class="pb-1 flex flex-col items-start justify-center">
    <div class="w-full flex flex-col sm:flex-row justify-between px-6">
      <div>
        <h1 class="title mt-0 mb-1">{{ principaltitleMenu }}</h1>
        <vex-breadcrumbs [crumbs]="titleArray">
        </vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>
  <vex-page-layout-content class="-mt-5 px-5">
    <div class="card overflow-auto mat-elevation-z5 -mt-5">
      <vex-page-layout-content class="w-full justify-between sm:px-1 xl:px-5 py-2 container vexP-0">
        <form [formGroup]="form">
          <div class="flex flex-col sm:flex-row">
            <!-- Campo departamento -->
            <mat-form-field class="sm:ml-2 sm:mr-2 flex-1 my-form-field">
              <mat-label>Departamentos</mat-label>
              <input type="text"
                     aria-label="Number"
                     matInput
                     formControlName="department"
                     placeholder="Seleccione un departamento"
                     [matAutocomplete]="autoDepartment">
              <mat-autocomplete autoActiveFirstOption #autoDepartment="matAutocomplete" [panelWidth]="350"
                                (optionSelected)="loadMunicipalitiesInformation($event.option.value, true)">
                @if (filteredOptionsDepartments$ | async; as departments) {
                  @for (option of departments; track option.divpolLvl1Code; ) {
                    <mat-option
                      [value]="option.codeName">
                      {{ option.codeName }}
                    </mat-option>
                  } @empty {
                    <mat-option>
                      {{ STRING_INFORMATION_NOT_FOUND }}
                    </mat-option>
                  }
                } @else {
                  <mat-option>
                    {{ STRING_INFORMATION_NOT_FOUND }}
                  </mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>

            <!-- Campo municipio -->
            <mat-form-field class="sm:ml-2 sm:mr-2 flex-1 my-form-field">
              <mat-label>Municipio</mat-label>
              <input type="text"
                     aria-label="Number"
                     matInput
                     formControlName="municipality"
                     placeholder="Seleccione un municipio"
                     [matAutocomplete]="autoMunicipality">
              <mat-autocomplete autoActiveFirstOption #autoMunicipality="matAutocomplete" [panelWidth]="350"
                                (optionSelected)="loadZonesInformation($event.option.value, true)">
                @if (filteredOptionsMunicipalities$ | async; as municipalities) {
                  @for (option of municipalities; track option.divpolLvl2Code; ) {
                    <mat-option
                      [value]="option.codeName">
                      {{ option.codeName }}
                    </mat-option>
                  } @empty {
                    <mat-option>
                      {{ STRING_INFORMATION_NOT_FOUND }}
                    </mat-option>
                  }
                } @else {
                  <mat-option>
                    {{ STRING_INFORMATION_NOT_FOUND }}
                  </mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>

            <!-- Campo zona -->
            <mat-form-field class="sm:ml-2 sm:mr-2 flex-1 my-form-field">
              <mat-label>Zona</mat-label>
              <input type="text"
                     aria-label="Number"
                     matInput
                     formControlName="zone"
                     placeholder="Seleccione una zona"
                     [matAutocomplete]="autoZone">
              <mat-autocomplete autoActiveFirstOption #autoZone="matAutocomplete" [panelWidth]="350">
                @if (filteredoptionsZones$ | async; as zones) {
                  @for (option of zones; track option.id; ) {
                    <mat-option
                      [value]="option.codeName">
                      {{ option.codeName }}
                    </mat-option>
                  } @empty {
                    <mat-option>
                      {{ STRING_INFORMATION_NOT_FOUND }}
                    </mat-option>
                  }
                } @else {
                  <mat-option>
                    {{ STRING_INFORMATION_NOT_FOUND }}
                  </mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>

            <!-- Boton Buscar -->
            <mat-dialog-actions align="center">
              <button
                (click)="searchccZoneBySelection()"
                color="primary"
                mat-flat-button
                type="primary">
                Buscar
              </button>
            </mat-dialog-actions>
          </div>
        </form>
      </vex-page-layout-content>
      <div class="h-full flex flex-col" vexFluidHeight fluidHeight=195>
        <vex-geographic-viewer-embedded
          idComponent="GeneralMapContent125844634534f4gfw"
          [ccZonaId]="ccZonaId"
          vexFluidHeight fluidHeight=200
        ></vex-geographic-viewer-embedded>
      </div>
    </div>
  </vex-page-layout-content>
</vex-page-layout>



