<form [formGroup]="informationFinished">
  <vex-page-layout class="overflow-hidden">
    <vex-page-layout-content class="container-fluid p-0 overflow-hidden">
      <div class="form-content mt-3 pt-3">
        <!-- Contenedor de campos en línea horizontal usando Flexbox de Angular Material -->
       
        
          <vex-page-layout class="overflow-hidden">
            <vex-page-layout-content class="container-fluid p-0 overflow-hidden">
              <div class="form-content mt-3 pt-3">
                <!-- Contenedor de campos en línea horizontal usando Flexbox de Angular Material -->
                <div class="mat-row" style="display: flex; gap: 1rem; flex-wrap: wrap;"> 
        
                  <!-- Campo: Preuba -->
                  <div class="mat-col">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Preuba</mat-label>
                      <input matInput formControlName="beginAtForm" id="beginAtForm" type="text">
                      <mat-error *ngIf="beginAtForm?.hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                  </div>
        
                  <!-- Campo: Prueba -->
                  <div class="mat-col">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Prueba</mat-label>
                      <input matInput formControlName="beginAtEForm" id="beginAtEForm" type="text">
                      <mat-error *ngIf="beginAtEForm?.hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                  </div>
        
                  <!-- Campo: Valor -->
                  <div class="mat-col">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Valor</mat-label>
                      <input matInput formControlName="executionCodeForm" id="executionCodeForm" type="text">
                      <mat-error *ngIf="executionCodeForm?.hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                  </div>
        
                  <!-- Campo: Valor -->
                  <div class="mat-col">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Valor</mat-label>
                      <input matInput formControlName="individualNumberPartForm" id="individualNumberPartForm" type="text">
                      <mat-error *ngIf="individualNumberPartForm?.hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                  </div>
        
                </div>
        
                <!-- Botón de búsqueda en la misma línea -->
                <div class="buttons mt-3">
                  <button color="primary" mat-raised-button type="submit">
                    Buscar
                    <mat-icon svgIcon="mat:save"></mat-icon>
                  </button>
                </div>
              </div>
            </vex-page-layout-content>
          </vex-page-layout>
        
        

      </div>

    
    </vex-page-layout-content>
  </vex-page-layout>
</form>
