<mat-form-field [ngClass]="cssClasses"
                [hideRequiredMarker]="hideRequiredMarker">
  <mat-label>{{ label }}</mat-label>
  <mat-select
    [formControlName]="formControlNameCombobox" [id]="idComboCollection"
    placeholder="{{placeholderDomainName}}"
    (selectionChange)="returnEvent($event.value)">
    <mat-option
      *ngFor="let option of options;"
      [value]="option.dispname"
    >{{ option.dispname }}
    </mat-option>
  </mat-select>
  @if (hintValue && hintValue.length > 0) {
    <mat-hint>{{ hintValue }}</mat-hint>
  }
</mat-form-field>
