<mat-form-field [ngClass]="cssClasses" [hideRequiredMarker]="hideRequiredMarker" class="w-full">
  <mat-label>{{ label }}</mat-label>
  <mat-select
    [formControlName]="formControlNameCombobox"
    [id]="idComboCollection"
    placeholder="{{placeholderDomainName}}"
    (selectionChange)="returnEvent($event.value)"
    class="w-full px-4 h-auto"
  >
    <mat-option *ngFor="let option of options;" [value]="option.code">
      {{ option.dispname }}
    </mat-option>
  </mat-select>
  <mat-hint *ngIf="hintValue && hintValue.length > 0">{{ hintValue }}</mat-hint>
</mat-form-field>
