<div
  class="flex items-center"
  mat-dialog-title
>
  <h4 class="subheading-1 m-0 flex-auto">
    Detalles de la Alerta #{{ alert?.alertBaunitId }}
  </h4>
  <button
    class="text-secondary"
    mat-dialog-close
    mat-icon-button
    type="button"
  >
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>
<mat-divider class="text-border"></mat-divider>
<mat-dialog-content
  class="grid grid-flow-row gap-y-4 gap-x-6 grid-cols-2 overflow-x-hidden lg:px-8"
>
  <!-- Tipo de Alerta -->
  <div class="flex flex-row gap-4">
    <span class="text-black text-sm">Tipo de Alerta:</span>
    <h2 class="text-sm">{{ alert?.domAlertType || 'No disponible' }}</h2>
  </div>
  <!-- Estado -->
  <div class="flex flex-row gap-4">
    <span class="text-black text-sm">Estado:</span>
    <h2 class="text-sm">{{ alert?.alertState || 'No disponible' }}</h2>
  </div>
  <!-- Entidad Responsable -->
  <div class="flex flex-row gap-4">
    <span class="text-black text-sm">Entidad Responsable:</span>
    <h2 class="text-sm">{{ alert?.alertEntityResponsible || 'No disponible' }}</h2>
  </div>
  <!-- Fecha de Inicio -->
  <div class="flex flex-row gap-4">
    <span class="text-black text-sm">Fecha de Inicio:</span>
    <h2 class="text-sm">
      {{ alert?.alertStartAt ? (alert.alertStartAt ) : 'No disponible' }}
    </h2>
  </div>
  <!-- Fecha de Fin -->
  <div class="flex flex-row gap-4">
    <span class="text-black text-sm">Fecha de Fin:</span>
    <h2 class="text-sm">
      {{ alert?.alertFinishAt ? (alert.alertFinishAt ) : 'No disponible' }}
    </h2>
  </div>
  <!-- Anotación -->
  <div class="flex flex-row gap-4 col-span-2">
    <span class="text-black text-sm">Anotación:</span>
    <h2 class="text-sm">{{ alert?.alertAnotation || 'No disponible' }}</h2>
  </div>
</mat-dialog-content>
