<div
  class="flex items-center bg-app-bar focus-visible:bg-app-bar focus:bg-app-bar"
  mat-dialog-title
>
  <h2 class="headline m-0 flex-auto">
    {{ certificate.name }}
  </h2>
  <button
    mat-icon-button
    mat-dialog-close
    class="text-secondary"
  >
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>

<mat-divider class="text-border"></mat-divider>

<mat-dialog-content>
  @switch (currentView) {
    @case ("table") {
      <vex-table-certificate-search></vex-table-certificate-search>
    }
    @case ("search") {
      <vex-filter-certificate-search
        (close)="closeSearch()"
        (apply)="applySearch($event)"
      >
      </vex-filter-certificate-search>
    }
    @case ("property") {
      <vex-layout-card-cadastral-information-property-component
        (close)="closePropertyView()"
      >
      </vex-layout-card-cadastral-information-property-component>
    }
    @case ("document") {
      <vex-view-file-document-management (close)="closeDocumentView()">
      </vex-view-file-document-management>
    }
  }
</mat-dialog-content>
