<header class="sticky top-0 z-10 bg-slate-100 dark:bg-slate-800">
  <div class="flex justify-between items-center">
    <h2 mat-dialog-title>{{ title() }}</h2>
    <button
      mat-icon-button
      [mat-dialog-close]="false"
      tabindex="-1"
    >
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>
  <mat-divider class="bg-slate-400"></mat-divider>
</header>

<mat-dialog-content
  class="w-full overflow-hidden"
  [class.h-full]="actions()"
  [class.h-[calc(100%-49px)]]="!actions()"
  [class.!max-h-none]="!actions()"
>
  <ng-content class="h-full w-full overflow-hidden"></ng-content>
</mat-dialog-content>

@if (actions()) {
  <mat-dialog-actions align="center">
    <button
      mat-flat-button
      color="primary"
      (click)="onAccept()"
    >
      Aceptar
    </button>
    @if (showCancelButton()) {
      <button
        mat-flat-button
        [mat-dialog-close]="false"
        color="warn"
      >
        Cancelar
      </button>
    }
  </mat-dialog-actions>
}
