<h2 mat-dialog-title>{{ actionLabel }} zona {{ data.title }}</h2>
<mat-divider class="border-slate-400"></mat-divider>
<mat-dialog-content>
  <dynamic-forms
    [inputs]="inputs"
    [initValues]="data.data"
    (formReady)="form = $event"
  ></dynamic-forms>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-flat-button
    color="primary"
    (click)="submitForm()"
  >
    {{ actionLabel }}
  </button>
  <button
    mat-flat-button
    color="warn"
    mat-dialog-close
  >
    Cancelar
  </button>
</mat-dialog-actions>
