<form
  class="flex flex-col h-full"
  action=""
>
  <div
    class="body-1 mb-0"
    mat-dialog-title
  >
    <div class="flex items-center justify-between pt-3 pb-1">
      <div class="flex items-center gap-9">
        <div class="flex items-center space-x-2">
          <mat-icon
            svgIcon="mat:insert_drive_file"
            class="w-5 h-5 p-0"
          ></mat-icon>
          <h2 class="title text-2xl headline flex-auto m-0">
            Detalles del certificado
          </h2>
        </div>

        <!-- Botón de descarga en la parte superior derecha (para archivos visibles como imagen o PDF) -->
        <button
          type="button"
          class="w-10 h-10 p-0 ml-1 leading-none flex items-center rounded-button justify-center hover:bg-hover text-primary-600 bg-primary-600/10"
          mat-icon-button
          (click)="downloadPdfFromSafeUrl()"
        >
          <mat-icon
            class="w-8 h-8"
            matIconPrefix
            class="icon-sm"
            svgIcon="mat:cloud_download"
            title="Descargar"
          ></mat-icon>
        </button>

        <!-- <button
          type="button"
          class="w-10 h-10 p-0 ml-1 leading-none flex items-center rounded-button justify-center hover:bg-hover text-primary-600 bg-primary-600/10"
          (click)="switchViewDocMetaData()"
          mat-icon-button
        >
          <mat-icon
            class="w-8 h-8"
            *ngIf="showMetadataView === false"
            matIconPrefix
            class="icon-sm"
            svgIcon="mat:assignment"
            title="Ver Datos del Archivo"
          ></mat-icon>
          <mat-icon
            class="w-8 h-8"
            *ngIf="showMetadataView === true"
            matIconPrefix
            class="icon-sm"
            svgIcon="mat:description"
            title="Ver Archivo"
          ></mat-icon>
        </button> -->
      </div>
      <button
        class="text-secondary items-center w-8 h-8 leading-none rounded-button flex justify-center ml-1 p-0 hover:bg-hover"
        mat-dialog-close
        mat-icon-button
        type="button"
      >
        <mat-icon
          matIconPrefix
          svgIcon="mat:close"
        ></mat-icon>
      </button>
    </div>
    <mat-divider class="-mx-6 mt-3"></mat-divider>
  </div>

  <mat-dialog-content
    class="flex rounded-md border-2 border-gray-300 my-4 mx-6 p-0 h-full"
  >
    <div
      *ngIf="showMetadataView === false"
      class="w-full pt-4"
    >
      <!-- Visualización del archivo PDF en el iframe -->
      <iframe
        *ngIf="pdfUrl && pdfUrl !== 'error'"
        [src]="pdfUrl"
        width="100%"
        height="100%"
        style="border: none"
      ></iframe>

      <!-- Visualización de la imagen -->
      <!-- <div *ngIf="fileType === 'image'">
        <img
          [src]="urlSafe"
          alt="Imagen"
          width="100%"
        />
      </div> -->

      <!-- Visualización de archivo TXT -->
      <div *ngIf="fileType === 'txt'">
        <pre>{{ fileContent }}</pre>
      </div>

      <div
        *ngIf="
          fileType === 'xlsx' ||
          fileType === 'docx' ||
          fileType === 'zip' ||
          fileType === 'rar' ||
          fileType === 'dwg' ||
          fileType === 'shp'
        "
      >
        <div class="text-center my-4">
          <p class="font-semibold text-lg">
            No se puede visualizar este archivo en el navegador. La descarga ha
            comenzado.
          </p>
        </div>
      </div>
    </div>

    <div
      *ngIf="showMetadataView === true"
      class="grid sm:grid-cols-1 md:grid-cols-2 gap-x-9 gap-y-4 mt-5 pt-7 w-full"
    >
      <div
        *ngFor="let property of properties"
        class=""
      >
        <div
          *ngIf="property.type === 'text'"
          class=""
        >
          <strong class="font-bold text-base mr-2"
            >{{ property.label }}:</strong
          >
          <!-- <span class="text-base">{{ metadata[property.metadata] }}</span> -->
        </div>
        <div
          *ngIf="property.type === 'date'"
          class=""
        >
          <strong class="font-bold text-base">{{ property.label }}: </strong>
          <!-- <span class="text-base">{{
            metadata[property.metadata] | date: "short"
          }}</span> -->
        </div>
      </div>
    </div>
  </mat-dialog-content>
</form>
