<mat-accordion class="flex flex-col py-0 px-0 mb-2 classInformationAlerts">
  <mat-expansion-panel
    (opened)="isExpandPanel()"
    [expanded]="expandedComponent()"
  >
    <mat-expansion-panel-header
      class="bg-app-bar focus-visible:bg-app-bar focus:bg-app-bar pb-0 py-1 border-b sticky left-0 flex items-center"
    >
      <vex-header-cadastral-information-property
        label="ICA"
        icon="mat:store"
        id="alerts"
      >
      </vex-header-cadastral-information-property>
    </mat-expansion-panel-header>

    <mat-panel-description class="py-0 px-0 flex flex-col">
      @if (typeInformation() === "edition") {
        <div class="w-full flex justify-start items-center py-2 px-4">
          <button
            mat-raised-button
            color="primary"
            (click)="createIca()"
          >
            <mat-icon svgIcon="mat:add"></mat-icon>
            Nuevo
          </button>
        </div>
      }
      @if (
        expandedComponent() && !isLoading() && icaTableList().data.length > 0
      ) {
        <div class="flex flex-col w-full">
          <mat-table
            [dataSource]="icaTableList()"
            class="w-full"
          >
            @for (column of columns; track column.property) {
              <ng-container [matColumnDef]="column.property">
                <mat-header-cell *matHeaderCellDef>
                  {{ column.label }}
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  @switch (column.type) {
                    @case ("button") {
                      <button
                        mat-icon-button
                        aria-label="menuAction"
                        [matMenuTriggerFor]="icaMenu"
                        [matMenuTriggerData]="{ ica: row }"
                      >
                        <mat-icon svgIcon="mat:more_horiz"></mat-icon>
                      </button>
                    }
                    @default {
                      {{ row[column.property] || NoData }}
                    }
                  }
                </mat-cell>
              </ng-container>
            }
            <mat-header-row
              *matHeaderRowDef="displayedColumns()"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumns()"
            ></mat-row>
          </mat-table>
        </div>
      } @else if (isLoading()) {
        <div class="w-full flex justify-center items-center py-8">
          <mat-spinner diameter="40"></mat-spinner>
        </div>
      } @else {
        <div class="w-full py-8">
          <h2 class="text-center text-2xl text-slate-500 font-semibold">
            No hay información
          </h2>
        </div>
      }
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>

<mat-menu #icaMenu="matMenu">
  <ng-template
    let-ica="ica"
    matMenuContent
  >
    @for (option of menuItems; track option.id) {
      <button
        mat-menu-item
        (click)="menuAction(option.id, ica)"
      >
        <mat-icon [svgIcon]="option.icon"></mat-icon>
        {{ option.label }}
      </button>
    }
  </ng-template>
</mat-menu>
