<vex-secondary-toolbar current="Formulario">
    <vex-breadcrumbs
      [crumbs]="['Apoyo operación','Trámites', 'Trabajo histórico']"
      class="flex-auto"></vex-breadcrumbs>
  
    <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
  </vex-secondary-toolbar>
  <vex-table-procedures  [urlTable]="urlMain" [urlView]="'https://masora.api.sismas.com.co:5001/bpmAttachment/20/429/CERT_RADICA_8920-2025.pdf'"></vex-table-procedures>
<!-- [urlTable]="'https://example.com/data1'" -->
  
  