<app-modal-window title="Visualizador de certificado">
  @if (!isLoading() && certificateUrl()) {
    <iframe
      [src]="certificateUrl()"
      width="100%"
      height="100%"
    ></iframe>
  }
  @else if (certificateUrl() === null) {
    <div class="w-full h-full">
      <h2 class="text-center text-2xl font-semibold text-slate-500">Ha ocurrido un error al cargar el certificado</h2>
    </div>
  }
</app-modal-window>

<app-loader
  [isLoading]="isLoading()"
  loaderTitle="Cargando certificado..."
  loaderMessage="Esto puede tardar unos segundos"
></app-loader>
