<form [formGroup]="form">
  <div
    class="flex items-center"
    mat-dialog-title
  >
    <h2 class="headline m-0 flex-auto">Buscar certificado</h2>
  </div>
  <mat-divider class="text-border"></mat-divider>
  <mat-dialog-content class="flex flex-col">
    <div class="w-full grid grid-cols-3 gap-2 lg:gap-4 lg:grid-cols-5">
      <!-- Búsqueda por documento y tipo -->
      <vex-combox-colletion
        idComboCollection="typeNumberDocument"
        label="Tipo de documento"
        formControlNameCombobox="domIndividualTypeNumber"
        typeDomainName="IndividualTypeNumber"
        placeholderDomainName="Tipo de documento"
        class="col-span-1 lg:col-span-2"
        cssClasses="w-full"
      ></vex-combox-colletion>

      <vex-input
        class="col-span-1 lg:col-span-2"
        cssClasses="w-full !mx-0"
        label="Documento"
        type="text"
        idComboInput="numberID"
        formControlNameInput="number"
        icon="mat:assignment"
      ></vex-input>

      <button
        class="w-fit"
        color="primary"
        mat-raised-button
        type="button"
        (click)="findParticipant()"
      >
        <mat-icon svgIcon="mat:search"></mat-icon>Buscar
      </button>

      <!-- Campo de Nombre Completo -->
      <mat-form-field class="w-full -col-end-2 col-start-1">
        <mat-label>Nombre completo</mat-label>
        <input
          matInput
          type="text"
          formControlName="individualNameNoExist"
          [readonly]="!isFullNameEditable"
          placeholder="Nombre completo de la persona"
        />
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>

      <button
        class="w-fit"
        color="primary"
        mat-raised-button
        type="button"
        [disabled]="!form.get('individualNameNoExist')?.value"
        (click)="sendCertificateQuery()"
      >
        Continuar
        <mat-icon svgIcon="mat:navigate_next"></mat-icon>
      </button>

      <!-- Campo de búsqueda por número de ficha -->
      <mat-form-field class="w-full -col-end-2 col-start-1">
        <mat-label>Número de ficha</mat-label>
        <input
          matInput
          type="text"
          [formControl]="baunitIdControl"
          placeholder="Nombre completo de la persona"
        />
        <mat-icon matPrefix svgIcon="mat:corporate_fare"></mat-icon>
      </mat-form-field>
    </div>
  </mat-dialog-content>
</form>
